<template>
    <section class="academy-form__container">
        <h2
            class="academy-form__title"
            :title="formIsOpened ? 'Скрыть форму' : 'Показать форму'"
            :aria-label="formIsOpened ? 'Кнопка: Скрыть форму' : 'Кнопка: показать форму'"
            tabindex="0"
            :aria-pressed="formIsOpened"
            role="button"
            @click="formIsOpened = !formIsOpened"
            @keyup.enter="formIsOpened = !formIsOpened"
            @keyup.space="formIsOpened = !formIsOpened"
        >
            Подать заявку на обучение
            <span
                :style="formIsOpened ? 'display: inline-block; transform: rotate(180deg)' : ''"
                aria-hidden="true"
            > v </span>
        </h2>
        <transition name="academy-form__toggle">
            <form
                v-show="formIsOpened"
                class="academy-form"
                @submit.prevent="validateFields(true)"
            >
                <div
                    v-for="(input, index) in formDetails"
                    :key="input.id"
                    class="academy-form__input-box"
                >
                    <label
                        class="academy-form__input-label"
                        :for="input.id"
                    >
                        {{ input.required ? input.label + '*' : input.label }}
                    </label>
                    <template v-if="input.type === 'select'">
                        <select
                            v-model="fields[index].value"
                            class="academy-form__input"
                            @input="realtimeValidateFields"
                        >
                            <template v-if="input.id === 'region'">
                                <option
                                    v-for="option in input.options"
                                    :key="option.value"
                                    :value="option.value"
                                >
                                    {{ option.title }}
                                </option>
                            </template>
                            <template v-else-if="input.id === 'venue'">
                                <option
                                    v-for="option in input.options"
                                    :key="option"
                                    :value="option"
                                >
                                    {{ option }}
                                </option>
                            </template>
                        </select>
                    </template>
                    <template v-else-if="input.type === 'tel'">
                        <div class="academy-page__input-phone-box">
                            <svg
                                width="20"
                                height="20"
                                class="academy-page__country-icon"
                                aria-hidden="true"
                            >
                                <use :xlink:href="`#flag-icon-${selectedCountryValue}`" />
                            </svg>
                            <select
                                v-model="selectedCountry"
                                class="academy-page__country-select"
                                :aria-label="`Выбранная страна - ${selectedCountryName}`"
                                @change="clearField(fields[index])"
                            >
                                <option
                                    v-for="country in phoneCountries"
                                    :key="country.value"
                                    :aria-label="country.name"
                                >
                                    {{ country.title }}
                                </option>
                            </select>
                            <input
                                :id="input.id"
                                v-model="fields[index].value"
                                v-mask="currentPhoneMask"
                                :masked="true"
                                :type="input.type"
                                :placeholder="input.placeholder"
                                :inputmode="inputModes[input.type]"
                                :aria-required="input.required"
                                :aria-label="input.label"
                                :aria-describedby="`${input.id}`"
                                :class="['academy-form__input',
                                         {'academy-form__input--error' : fields[index].error.length > 0}]"
                                @input="realtimeValidateFields"
                            />
                        </div>
                    </template>
                    <template v-else-if="input.type === 'textarea'">
                        <textarea
                            :id="input.id"
                            v-model="fields[index].value"
                            :type="input.type"
                            :placeholder="input.placeholder"
                            :aria-required="input.required"
                            :aria-describedby="`${input.id}`"
                            :class="['academy-form__input',
                                     {'academy-form__input--error' : fields[index].error.length > 0}]"
                            @input="realtimeValidateFields"
                        />
                    </template>
                    <template v-else>
                        <input
                            :id="input.id"
                            v-model="fields[index].value"
                            :type="input.type"
                            :placeholder="input.placeholder"
                            :inputmode="inputModes[input.type]"
                            :aria-required="input.required"
                            :aria-describedby="`${input.id}`"
                            :class="['academy-form__input',
                                     {'academy-form__input--error' : fields[index].error.length > 0}]"
                            @input="realtimeValidateFields"
                        />
                    </template>
                    <span
                        :id="`${input.id}`"
                        class="academy-form__error-highlight"
                    >
                        {{ fields[index].error }}
                    </span>
                </div>
                <button
                    type="submit"
                    class="academy-form__btn"
                    :disabled="hasError || btnDisabled"
                >
                    Отправить
                </button>
                <span
                    v-show="hasBackendError"
                    class="academy-form__error-highlight"
                >
                    {{ backendErrorMessage }}
                </span>
            </form>
        </transition>
        <success-popup
            v-if="popupIsOpened"
            :popup-title="popupContent.title"
            :popup-description="popupContent.description"
            :popup-is-opened="popupIsOpened"
            @close-popup="popupIsOpened = false"
        />
    </section>
</template>
<script>
import axios from 'axios';
import { mask } from 'vue-the-mask';
import { isNumber } from '../../utility/rules.js';
import SuccessPopup from '../popups/success-popup.vue';

export default {
    name: 'AcademyForm',
    directives: {
        mask,
    },
    components: {
        SuccessPopup,
    },
    props: {
        formDetails: Array,
        sendFormAction: String,
    },
    data() {
        return {
            inputModes: {
                text: 'text',
                number: 'numeric',
                tel: 'tel',
                email: 'email',
            },
            formIsOpened: false,
            fields: [],
            errors: [],
            errorMessages: {
                isRequired: 'Данное поле является обязательным',
                numeric: 'Данное поле может содержать только цифры',
                email: 'Некорректно введен email',
                phone: 'Некорректно введен телефон',
            },
            phoneMasks: {
                ru: '+7 (###) ###-##-##',
                kz: '+7 (###) ###-##-##',
                ua: '+380 (##) ###-##-##',
                pl: '+48 (##) ###-##-##',
            },
            phoneCountries: [
                {
                    title: 'RU',
                    value: 'ru',
                    name: 'Россия',
                },
                {
                    title: 'KZ',
                    value: 'kz',
                    name: 'Казахстан',
                },
                {
                    title: 'UA',
                    value: 'ua',
                    name: 'Украина',
                },
                {
                    title: 'PL',
                    value: 'pl',
                    name: 'Польша',
                },
            ],
            selectedCountry: '',
            hasBackendError: false,
            backendErrorMessage: '',
            btnDisabled: false,
            popupIsOpened: false,
            popupContent: {
                title: 'Спасибо!',
                description: 'Ваша заявка принята',
            },
        };
    },
    computed: {
        selectedCountryValue() {
            return this.phoneCountries.find((country) => country.title === this.selectedCountry)?.value;
        },
        selectedCountryName() {
            return this.phoneCountries.find((country) => country.title === this.selectedCountry)?.name;
        },
        currentPhoneMask() {
            return this.phoneMasks[this.selectedCountryValue];
        },
        hasError() {
            return this.fields.filter((field) => field.error.length > 0).length > 0;
        },
    },
    created() {
        this.fields = this.formDetails.map((input) => ({
            id: input.id,
            default: input.default,
            type: input.type,
            label: input.label,
            required: input.required,
            value: '',
            error: '',
        }));
        this.selectedCountry = this.phoneCountries[0].title;
    },
    methods: {
        validateFields(btnIsPressed = false) {
            this.fields.forEach((input) => {
                input.error = '';
                if (input.type === 'tel' && input.value.length !== this.currentPhoneMask.length) {
                    input.error = this.errorMessages.phone;
                }
                if (input.type === 'number' && !isNumber()) {
                    input.error = this.errorMessages.numeric;
                }
                if (input.required && input.value.length === 0) {
                    input.error = this.errorMessages.isRequired;
                }
            });

            if (!this.hasError && btnIsPressed) {
                this.sendForm();
            }
        },
        clearField(field) {
            field.value = '';
        },
        clearFields() {
            this.fields.forEach((field) => {
                field.value = '';
            });
        },
        realtimeValidateFields() {
            if (this.hasError) {
                this.validateFields();
            }
        },
        sendForm() {
            this.btnDisabled = true;
            this.hasBackendError = false;

            const defaultFields = {};
            const additionalFields = {};

            this.fields.forEach((field) => {
                if (field.default) {
                    defaultFields[field.id] = field.value;
                } else {
                    additionalFields[field.id] = field.value;
                }
            });

            axios.post(this.sendFormAction, {
                company_name: defaultFields.company_name ?? null,
                company_person: defaultFields.company_person ?? null,
                phone: defaultFields.phone ?? null,
                email: defaultFields.email ?? null,
                region: defaultFields.region?.value ?? null,
                venue: defaultFields.venue ?? null,
                additional_fields: additionalFields,
            })
                .then(() => {
                    this.popupIsOpened = true;
                    this.clearFields();
                })
                .catch((error) => {
                    this.hasBackendError = true;
                    if (error.message) {
                        this.backendErrorMessage = error.message;
                    } else {
                        this.backendErrorMessage = 'Произошла ошибка. Попробуйте позже.';
                    }
                })
                .finally(() => {
                    this.btnDisabled = false;
                });
        },
    },
};
</script>
