
.checkout-page__inner {
  @include inner();
  flex-direction: column;
}

.checkout-page__link-to-back {
  position: relative;
  padding-left: 29px;
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;

  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.checkout-page__link-to-back-icon {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 6px;
    width: 1px;
    height: 10px;
    border-right: 1px solid $gray-2;
    transition: translate(0, -50%);
  }

  &::before {
    top: calc(50% - 8px);
    transform: rotate(45deg);
  }

  &::after {
    bottom: calc(50% - 9px);
    transform: rotate(-45deg);
  }
}

.checkout-page__top-link-wrap {
  margin-top: 44px;
}

.checkout-page__content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 77px;
  padding-bottom: 156px;
}

.checkout-page__comment-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-page__comment-title {
  color: $gray-2;
  font: $regular 24px/1.25 $font-family-secondary;
  text-align: center;
}

.checkout-page__comment-field {
  height: 9.6em;
  min-height: 5em;
  max-height: 16em;
  margin-top: 28px;
  padding: 17px 21px;
  border: 1px solid $inactive;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
  resize: vertical;

  transition: border-color 0.3s;

  &:focus {
    border-color: $gray-2;
    outline: none;
  }
}

.checkout-page__payment {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  font: $regular 28px/1.25 $font-family-base;
}

.checkout-page__payment-value {
  margin-left: 50px;
  font-weight: $bold;
}

@include screen-md() {
  .checkout-page__comment-field {
    margin-top: 48px;
  }

}

@include tablet-md() {
  .checkout-page__content {
    padding-bottom: 116px;
  }

  .checkout-page__payment {
    margin-top: 25px;
  }

  .checkout-page__payment-value {
    margin-left: 25px;
  }

  .checkout-page__comment-field {
    width: 450px;
    max-width: 100%;
    margin: 24px auto 0;
  }

  .checkout-page__comment-title {
    font-size: 22px;
  }

}

@include phone-lg() {
  .checkout-page__top-link-wrap {
    margin-top: 0;
  }

  .checkout-page__link-to-back {
    padding-left: 24px;
    font-size: 18px;
  }

  .checkout-page__link-to-back-icon {
    &::before {
      top: calc(50% - 8px);
      height: 9px;
    }

    &::after {
      bottom: calc(50% - 7px);
      height: 9px;
    }
  }

  .checkout-page__content {
    padding-top: 25px;
    padding-bottom: 83px;
  }

}
