
.checkout-form__wrap {
  width: 660px;
  max-width: 100%;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.checkout-form__company-action-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.checkout-form__company-action {
  padding-right: 50px;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;

  .checkbox__symbol {
    margin-left: 31px;
  }
}

.checkout-form__delivery-action-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkout-form__company-fields {
  .text-field__container:last-of-type {
    margin-bottom: 31px;
  }
}

.checkout-form__divider {
  height: 2px;
  margin-top: 98px;
  border: 0;
  background-color: $gray-2;
  color: $gray-2;
}

.checkout-form__text {
  font: $regular 24px/1.25 $font-family-base;
  text-align: center;

  a {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s;

    &:hover,
    &:focus {
      border-bottom-color: $gray-2;
      outline: none;
    }
  }

  &--lead {
    margin-top: 56px;
    padding: 0 48px;
  }

  &--consent {
    margin-top: 36px;
    padding: 0 100px;
  }
}

.checkout-form__send-btn-wrap {
  display: flex;
  justify-content: center;
  padding-top: 53px;
}

.checkout-form__send-btn {
  width: 232px;
  height: 60px;
}

.checkout-form__delivery-section {
  margin: 65px 0 44px;
}

.checkout-form__delivery-wrap {
  width: 380px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.checkout-form__delivery-add-address-title {
  color: $gray-2;
  font: $regular 24px/1.25 $font-family-secondary;
}

.checkout-form__delivery-add-address-title-wrap {
  margin: 89px 0 75px;
  text-align: center;
}

.checkout-form__error {
  margin-top: 38px;
  color: $red;
  font: $regular 14px/1.25 $font-family-base;
  text-align: center;
}

.checkout-form__popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.3s, visibility 0.3s;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.checkout-form__popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkout-form__popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 725px;
  max-width: calc(100% - 30px);
  transform: translate(-50%, -50%);
}

.checkout-form__popup-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 74px 72px 72px;
  background-color: $white;
}

.checkout-form__popup-close-btn {
  position: absolute;
  top: 19px;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    outline: none;

    .checkout-form__popup-close-btn-icon::before,
    .checkout-form__popup-close-btn-icon::after {
      border-top-color: $gray-4;
    }
  }
}

.checkout-form__popup-close-btn-icon {
  position: relative;
  width: 22px;
  height: 22px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 30px;
    border-top: 1px solid $gray-2;
    transition: border-top-color 0.3s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.checkout-form__popup-title-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.checkout-form__popup-title {
  color: $gray-2;
  font: $extralight 36px/1.25 $font-family-secondary;
}

.checkout-form__popup-message-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
}

.text-field__error-text {
  font: $regular 12px/1 $font-family-base;
  color: $red;
  margin: 4px 0 12px;
}

@include screen-md() {
  .checkout-form__delivery-section {
    margin: 65px 0 76px;
  }

}

@include tablet-md() {
  .checkout-form__company-action-wrap {
    margin-bottom: 30px;
  }

  .checkout-form__delivery-action-wrap {
    padding: 0 18px;
  }

  .checkout-form__delivery-wrap {
    width: 272px;
    max-width: 100%;
    margin: -11px auto 0;

    .text-field__title {
      margin-bottom: 6px;
    }

    .text-field__label {
      margin-bottom: 15px;
    }

    .custom-select-plus {
      margin-bottom: 9px;
    }

  }

  .checkout-form__delivery-add-address-title-wrap {
    margin-top: 58px;
    margin-bottom: 44px;
  }

  .checkout-form__delivery-add-address-title {
    font-size: 22px;
  }

  .checkout-form__divider {
    width: 290px;
    max-width: 100%;
    margin-top: 48px;
  }

  .checkout-form__text,
  .checkout-page__payment {
    width: 400px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

  .checkout-form__text--consent {
    margin-top: 24px;
    padding: 0;
  }

  .checkout-form__text--lead {
    max-width: 100%;
    margin-top: 44px;
  }

  .checkout-form__pickup-wrap {
    width: 450px;
    max-width: 100%;
    margin-top: -6px;
    margin-right: auto;
    margin-left: auto;
  }

  .checkout-form__delivery-section {
    margin-bottom: 48px;
  }

  .checkout-form__company-fields {
    width: 272px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

}

@include tablet-sm() {
  .checkout-form__delivery-action-wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    .checkout-form__company-action {
      margin: 0 15px 24px;
    }
  }

  .checkout-form__delivery-section {
    margin-top: 41px;
  }

}

@include phone-lg() {
  .checkout-form__company-action {
    padding-right: 44px;
    font-size: 18px;
  }

  .checkout-form__delivery-section {
    margin-top: 31px;
  }

  .checkout-form__delivery-wrap {
    .text-field__title {
      margin-bottom: 8px;
      font-size: 16px;
    }

    .custom-select-plus .multiselect__tags {
      padding-left: 23px;
    }

    .custom-select-plus .multiselect__placeholder {
      font-size: 18px;
    }

  }

  .checkout-form__text--lead,
  .checkout-form__text--consent {
    padding: 0 34px;
  }

  .checkout-form__company-fields {
    .text-field__title {
      font-size: 16px;
    }

    .text-field__container:first-of-type {
      margin-top: 26px;
    }
  }

  .checkout-form__pickup-wrap {
    margin-top: 0;
  }

  .checkout-form__pickup-wrap .custom-select-arrow {
    .multiselect__content-wrapper {
      overflow-x: hidden;
    }

    .multiselect__content {
      max-width: 100%;
    }

    .multiselect__option {
      white-space: pre-wrap;
    }

  }

}
