<template>
    <section class="carousel">
        <div
            v-if="videoIsPresent"
            id="video1"
            style="display: none;"
        >
            <video
                class="lg-video-object lg-html5"
                controls
                preload="none"
            >
                <source
                    v-if="video.webm"
                    :src="video.webm"
                    type="video/webm"
                >
                <source
                    :src="video.mp4"
                    type="video/mp4"
                >
            </video>
        </div>

        <div class="carousel__main-wrap">
            <div
                ref="swiperGallery"
                class="carousel__main swiper-container"
            >
                <div class="swiper-wrapper">
                    <a
                        v-for="(slide, index) in slides"
                        :key="`slide-${index}`"
                        :href="slide.image_1110"
                        class="carousel__main-slide swiper-slide"
                    >
                        <span class="carousel__preloader swiper-lazy-preloader" />
                        <img
                            class="swiper-lazy"
                            :data-src="slide.image_1110"
                            :alt="slide.alt"
                        >
                    </a>
                    <button
                        v-if="videoIsPresent"
                        class="carousel__main-slide swiper-slide"
                        data-html="#video1"
                    >
                        <video
                            class="carousel__video"
                        >
                            <source
                                :src="video.mp4"
                                type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"
                            >
                        </video>
                        <svg
                            class="carousel__video-btn"
                            width="83"
                            height="83"
                        >
                            <use xlink:href="#play-btn" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="carousel__thumbs-wrap">
            <button
                type="button"
                class="carousel__btn carousel__btn--prev slider-btn slider-btn--prev"
            >
                <svg
                    width="12"
                    height="25"
                >
                    <use xlink:href="#filter-arrow" />
                </svg>
            </button>

            <button
                type="button"
                class="carousel__btn carousel__btn--next slider-btn slider-btn--next"
            >
                <svg
                    width="12"
                    height="25"
                >
                    <use xlink:href="#filter-arrow" />
                </svg>
            </button>

            <div
                ref="swiperGalleryMin"
                class="carousel__thumbs swiper-container"
            >
                <div
                    :class="[
                        'swiper-wrapper',
                        {
                            'carousel__centered-swiper-wrapper' :
                                (video && slides.length < 3) || (!video && slides.length < 4)
                        }
                    ]"
                >
                    <div
                        v-for="(slide, index) in slides"
                        :key="`thumb-${index}`"
                        class="carousel__thumb swiper-slide"
                    >
                        <span class="carousel__preloader swiper-lazy-preloader" />
                        <picture>
                            <img
                                class="swiper-lazy"
                                :data-src="slide.image_290"
                                :alt="slide.alt"
                            >
                        </picture>
                    </div>
                    <div
                        v-if="videoIsPresent"
                        class="carousel__thumb swiper-slide"
                    >
                        <video
                            class="carousel__thumb-video"
                        >
                            <source
                                :src="video.mp4"
                                type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"
                            >
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {
    Navigation, Keyboard, Lazy, A11y, Thumbs,
} from 'swiper';
import 'lightgallery.js';
import 'lg-video.js';

Swiper.use([Navigation, Keyboard, Lazy, A11y, Thumbs]);

export default {
    name: 'Carousel',
    props: {
        slides: Array,
        video: Object,
        text: Object,
    },
    data() {
        return {
            sliderMinSpeed: 300,
            activeSlide: 0,
            thumbsSlider: null,
            mainSlider: null,
        };
    },
    computed: {
        videoIsPresent() {
            return this.video;
        },
    },
    mounted() {
        this.initThumbs();
        this.initMainSwiper();
        this.thumbsSlider.slideReset();
        this.initLightgallery();
    },
    methods: {
        initThumbs() {
            this.thumbsSlider = new Swiper(this.$refs.swiperGalleryMin, {
                // slidesPerView: 4,
                watchOverflow: true,
                spaceBetween: 15,
                speed: 300,
                preloadImages: false,
                lazy: true,
                breakpoints: {
                    0: {
                        slidesPerView: 2,
                    },
                    602: {
                        slidesPerView: 3,
                    },
                    769: {
                        slidesPerView: 4,
                    },
                },
            });
        },
        initMainSwiper() {
            this.mainSlider = new Swiper(this.$refs.swiperGallery, {
                slidesPerView: 1,
                speed: 750,
                navigation: {
                    nextEl: '.slider-btn--next',
                    prevEl: '.slider-btn--prev',
                    disabledClass: 'slider-btn--disabled',
                },

                preloadImages: false,
                lazy: true,

                keyboard: {
                    enabled: true,
                    onlyInViewport: true,
                },

                a11y: {
                    enabled: true,
                    prevSlideMessage: this.text.prevSlide,
                    nextSlideMessage: this.text.nextSlide,
                },
                watchOverflow: true,
                thumbs: { swiper: this.thumbsSlider },
            });
        },
        initLightgallery() {
            window.lightGallery(this.$refs.swiperGallery, {
                selector: '.carousel__main-slide',
                download: false,
                loop: false,
            });

            this.$refs.swiperGallery.addEventListener('onBeforePrevSlide', (e) => {
                this.mainSlider.slideTo(e.detail.index);
            });

            this.$refs.swiperGallery.addEventListener('onBeforeNextSlide', (e) => {
                this.mainSlider.slideTo(e.detail.index);
            });
        },
    },
};
</script>
