<template>
    <div class="product-cart-action">
        <b class="product-cart-action__title">{{ labels.title }}</b>
        <div
            v-if="variants"
            class="product-cart-action__variants"
        >
            <button
                v-for="item in variants"
                :key="`variant-${item.id}`"
                type="button"
                :class="[
                    'product-cart-action__variant',
                    {'product-cart-action__variant--active' : variant === item.id}
                ]"
                @click="setVariant(item)"
            >
                {{ item.title }}
            </button>
        </div>
        <div class="product-cart-action__counter-row">
            <cart-counter
                class="product-cart-action__counter"
                size="small"
                :labels="labels"
                :max-amount="max"
                :amount.sync="amount"
                :disable-btn="disableBtn"
                :amount-ratio="step"
            />
            <span class="product-cart-action__price">
                {{ labels.price }}: {{ price }}{{ labels.currency }}
            </span>
        </div>
        <div class="product-cart-action__sum">
            <span>{{ labels.total }}</span>
            <b>{{ total }}{{ labels.currency }}</b>
        </div>
        <button
            :class="[
                'product-cart-action__btn btn btn--regular',
                { 'product-cart-action__btn--disabled': showSuccessText }
            ]"
            type="button"
            :disabled="disableBtn"
            @click="addToCart"
        >
            <template v-if="showSuccessText">
                {{ labels.cartAdded }}
            </template>
            <template v-else>
                {{ labels.cart }}
            </template>
        </button>
    </div>
</template>

<script>
import axios from 'axios';
import EventBus from '../EventBus.js';
import CartCounter from '../cart/cart-counter.vue';

export default {
    name: 'ProductCartAction',
    components: {
        CartCounter,
    },
    props: {
        defaultPrice: Number,
        labels: Object,
        step: Number,
        max: Number,
        actions: Object,
        productId: String,
        variants: Array,
        defaultVariantId: String,
        model: String,
        volumeMeasure: String,
        productName: String,
        unit: String,
        metersRatio: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            disableBtn: false,
            amount: this.step,
            showSuccessText: false,
            variant: this.defaultVariantId,
            price: parseFloat(this.defaultPrice),
        };
    },
    computed: {
        total() {
            return Number((this.price * this.amount * this.metersRatio).toFixed(2));
        },
    },
    methods: {
        addToCart() {
            this.disableBtn = true;

            axios.post(this.actions.addToCart, {
                data: {
                    id: this.productId,
                    amount: this.amount,
                    variant: this.variant,
                    model: this.model,
                    volumeMeasure: this.volumeMeasure,
                    step: this.step,
                    unit: this.unit,
                    price: this.price,
                    name: this.productName,
                },
            })
                .then((response) => this.successProcessor(response))
                .catch((error) => this.errorProcessor(error))
                .finally(() => { this.disableBtn = false; });
        },
        errorProcessor(error) {
            if (!error.response) {
                alert(this.labels.error);
            } else {
                alert(error.response.data.message || error.message);
            }
        },
        successProcessor(response) {
            this.amount = this.step;
            if (response.data && response.data.items) {
                EventBus.$emit('change-cart-total', Object.keys(response.data.items).length);
            }
            this.showSuccessText = true;
            setTimeout(() => {
                this.showSuccessText = false;
            }, 2000);
        },
        setVariant(item) {
            this.variant = item.id;
            this.price = item.price;
            EventBus.$emit('change-product-title', item.title);
            EventBus.$emit('change-product-specifications', item.specifications);
        },
    },
};
</script>
