<template>
    <div class="product__info">
        <h2 class="product__subtitle">
            {{ title }}
        </h2>

        <div
            v-for="(item, index) in items"
            :key="index"
            class="product__info-row"
        >
            <b class="product__info-title">
                {{ item.title }}
            </b>

            <div
                class="product__info-value"
                v-html="item.value"
            />
        </div>
    </div>
</template>

<script>
import EventBus from '../EventBus.js';

export default {
    name: 'ProductInfo',
    props: {
        title: String,
        defaultItems: Array,
    },
    data() {
        return {
            items: this.defaultItems,
        };
    },
    mounted() {
        EventBus.$on('change-product-specifications', (value) => {
            this.items = value;
        });
    },
};
</script>
