<template>
    <h1 class="product__title">
        {{ title }} {{ variant }}
    </h1>
</template>

<script>
import EventBus from '../EventBus.js';

export default {
    name: 'ProductTitle',
    props: {
        defaultTitle: String,
        defaultVariant: String,
    },
    data() {
        return {
            title: this.defaultTitle,
            variant: this.defaultVariant,
        };
    },
    mounted() {
        EventBus.$on('change-product-title', (value) => {
            this.variant = value;
        });
    },
};
</script>
