
.custom-select-arrow {
  .multiselect__single {
    width: calc(100% - 20px);
    margin-bottom: 0;
    padding-left: 0;
  }

  .multiselect__option {
    padding: 14px 25px;
    color: $gray-2;
    font: $regular 18px/1.25 $font-family-base;

    &:first-of-type {
      background-color: $white;
      color: $gray-2;
    }

    &:first-of-type:hover,
    &:hover {
      background-color: $gray-6;
      color: $gray-2;
    }
  }

  .multiselect__select {
    top: calc(50% - 19px);
    right: 12px;

    &::before {
      top: auto;
      bottom: -15px;
      left: calc(50% - 3px);
      display: block;
      width: 7px;
      height: 7px;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid $inactive;
      border-left: 1px solid $inactive;
      background-color: transparent;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      position: relative;
      right: calc(50% - 1px);
      bottom: 7px;
      display: block;
      height: 23px;
      border-right: 1px solid $inactive;
    }
  }

  .multiselect__tags {
    display: flex;
    align-items: center;
    min-height: 55px;
    padding: 0 25px;
    border: 1px solid $inactive;
    border-radius: 0;
  }

  .multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 0;
    color: $gray-2;

    font: $regular 18px/1.25 $font-family-base;
  }

  .multiselect__content-wrapper {
    border-color: #ebebeb;
    border-radius: 0;

    &::-webkit-scrollbar {
      width: 32px;
      margin-right: 20px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-2;
      box-shadow: inset -31px 0 0 $white;
    }
  }
}

.custom-select-arrow.multiselect--active {
  .multiselect__placeholder {
    display: unset;
  }

  .multiselect__select {
    &::before {
      border-bottom-color: $gray-2;
      border-left-color: $gray-2;
    }

    &::after {
      border-left-color: $gray-2;
    }
  }
}

.custom-select-arrow {
  .multiselect__option--highlight::after {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
