
.custom-select-plus {
  box-shadow: 0 0 15px rgba($black, 0.08);

  .multiselect__option {
    padding: 14px 62px 14px 30px;
    color: $gray-2;
    font: $regular 18px/1.25 $font-family-base;

    &:first-of-type {
      background-color: $white;
      color: $gray-2;
    }

    &:first-of-type:hover,
    &:hover {
      background-color: $gray-6;
      color: $gray-2;
    }
  }

  .multiselect__single {
    margin-bottom: 0;
    padding-left: 0;
  }

  .multiselect__select {
    top: calc(50% - 19px);
    right: 12px;
    z-index: 52;

    &::before {
      top: auto;
      bottom: -10px;
      left: calc(26% - 3px);
      display: block;
      width: 17px;
      border-top: 1px solid $gray-2;
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
      background-color: transparent;

      transition: opacity 0.3s;
      transform: rotate(90deg);
    }

    &::after {
      content: "";
      position: relative;
      top: auto;
      bottom: -9px;
      left: calc(26% - 3px);
      display: block;
      width: 17px;
      border-top: 1px solid $gray-2;
      background-color: transparent;
    }
  }

  .multiselect__tags {
    position: relative;
    z-index: 51;
    display: flex;
    align-items: center;
    min-height: 70px;
    padding: 0 56px 0 30px;
    border: 0;
    border-radius: 0;
    background-color: $white;
    cursor: pointer;
  }

  .multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 0;
    color: $gray-2;

    font: $regular 22px/1.25 $font-family-base;
  }

  .multiselect__content {
    width: 100%;
  }

  .multiselect__option {
    position: relative;
    width: 100%;
    min-height: 69px;

    span {
      display: block;
      max-width: 100%;
      height: 100%;
      white-space: break-spaces;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      right: 24px;
      display: block;
      width: 14px;
      height: 14px;
      background-color: transparent;
      box-shadow: 0 0 0 5px $white, 0 0 0 6px rgba($gray-2, 0.15);

      transition: background-color 0.3s;
    }

    &--selected::before {
      background-color: $gray-2;
    }
  }

  .multiselect__content-wrapper {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 15px rgba($black, 0.08);
  }
}

.custom-select-plus.multiselect--active {
  .multiselect__placeholder {
    display: unset;
  }

  .multiselect__select::before {
    opacity: 0;
  }

  .multiselect__tags {
    cursor: unset;
  }
}
