.cart-promocode {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
}

.cart-promocode__label {
  width: calc(100% - 160px - 20px);

  &--applied {
    width: calc(100% - 140px - 20px);
  }
}

.cart-promocode__btn {
  width: 160px;
  height: 60px;
  font-weight: $regular;

  &--cancel {
    width: 140px;
  }
}

.cart-promocode__title {
  font-size: 24px;
  line-height: 30px;
}

.cart-promocode__input {
  width: 100%;
  height: 55px;
  border: 0;
  border-bottom: 1px solid $gray-4;
  color: $gray-2;
  font-size: 20px;
  transition: border-bottom-color 0.1s linear;

  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.cart-promocode__text {
  width: 270px;
  max-width: 100%;
  margin-top: 30px;
  font-size: 22px;
  line-height: 27px;
}

@include screen-sm {
  .cart-promocode {
    flex-wrap: nowrap;
  }

  .cart-promocode__label {
    width: calc(100% - 160px - 240px);
  }

  .cart-promocode__btn {
    margin-left: 15px;
  }

  .cart-promocode__text {
    min-width: 245px;
    margin-left: 25px;
  }

  .cart__submit-btn {
    margin: 35px 0 20px;
  }
}

@include tablet-md {
  .cart-promocode {
    flex-wrap: wrap;
  }

  .cart-promocode__label {
    width: calc(100% - 160px - 15px);
  }

  .cart-promocode__btn {
    margin-left: 0;
  }

  .cart-promocode__text {
    margin-left: 0;
  }

  .cart__submit-btn {
    margin: 35px 0 10px;
  }
}

@include tablet-sm {
  .cart-promocode__btn {
    width: 115px;
    height: 50px;
  }

  .cart-promocode__label {
    width: calc(100% - 115px);
  }

  .cart-promocode__text,
  .cart-promocode__title {
    font-size: 18px;
    line-height: 22px;
  }
}
