.cart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  color: $gray-2;
}

.cart__products {
  width: calc(100% - 425px - 25px);
  padding: 20px 30px;
  border: 1px solid $gray-4;
}

.cart__total {
  width: 425px;
  padding: 20px 12px;
  border: 1px solid $gray-4;
}

.cart__product {
  position: relative;
  padding: 35px 0 40px;
  border-top: 1px solid $gray-4;

  &:last-of-type {
    border-bottom: 1px solid $gray-4;
  }
}

.cart__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
}

.cart__product-title {
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 27px;
}

.cart__product-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 1px;
    background-color: $gray-2;
    transition: background-color 0.1s linear;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    outline: none;

    &::before,
    &::after {
      background-color: $red;
    }
  }
}

.cart__product-data {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart__product-measure {
  width: 130px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 30px;
}

.cart__product-cost {
  margin-left: 25px;
  font-weight: $bold;
  font-size: 22px;
  line-height: 27px;
}

.cart__sum {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
}

.cart__sum-title {
  margin-right: 20px;
  font-weight: $bold;
}

.cart__total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  border-top: 1px solid $gray-4;
  font-size: 24px;
  line-height: 30px;
}

.cart__total-price-title {
  font-weight: $bold;
}

.cart__submit-btn {
  justify-content: center;
  width: 290px;
  max-width: 100%;
  height: 60px;
  margin: 35px auto 20px;
  padding: 0 10px;
  font-weight: $regular;
}

.cart__error {
  margin-top: 30px;
  color: $red;
  font-weight: $bold;
  font-size: 22px;
  line-height: 27px;
}

@include screen-md {
  .cart {
    margin-top: 50px;
  }

  .cart__products {
    width: calc(100% - 400px - 25px);
  }

  .cart__total {
    width: 400px;
  }

  .cart__title {
    font-size: 22px;
    line-height: 27px;
  }
}

@include screen-sm {
  .cart {
    display: block;
  }

  .cart__products {
    width: 100%;
  }

  .cart__total {
    width: 100%;
    margin-top: 35px;
    padding: 20px 30px;
  }

  .cart__total-price {
    padding-right: calc(100% - 360px);
  }

  .cart__sum {
    text-align: left;
  }
}

@include tablet-sm { // 601

  .cart__product-title {
    font-size: 20px;
  }

  .cart__product-measure {
    width: 75px;
  }

  .cart__product-measure,
  .cart-counter__input,
  .cart__product-cost {
    font-size: 18px !important;
  }

  .cart__products {
    padding: 20px 7px;
  }

  .cart__total {
    padding: 20px 7px;
  }

  .cart__product-delete {
    top: -5px;
    right: -13px;
    width: 44px;
    height: 44px;

    &::before,
    &::after {
      width: 20px;
    }
  }

  .cart__product-cost {
    margin-left: auto;
  }

  .cart__total-price {
    font-size: 18px;
    line-height: 22px;
  }

  .cart__sum {
    font-size: 18px;
    line-height: 22px;
  }
}


