.cart-counter {
  display: flex;
  flex-shrink: 0;
}

.cart-counter--small {
  .cart-counter__plus,
  .cart-counter__minus {
    width: 34px;
    height: 42px;
  }

  .cart-counter__input {
    width: 42px;
    height: 42px;
  }

  .cart-counter__plus,
  .cart-counter__minus {
    &::before,
    &::after {
      width: 16px;
    }
  }

  .cart-counter__input {
    font-size: 20px;
  }
}

.cart-counter__plus,
.cart-counter__minus,
.cart-counter__input {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #fafafa;

  &:focus {
    outline: none;
  }
}

.cart-counter__plus,
.cart-counter__minus {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 1px;
    background-color: $gray-2;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:hover,
  &:focus {
    background-color: $gray-6;
  }

  &:disabled {
    cursor: default;

    &:hover,
    &:focus {
      background-color: #fafafa;
    }
  }
}

.cart-counter__minus {
  &::after {
    display: none;
  }
}

.cart-counter__input {
  border: 0;
  color: $gray-2;
  font-size: 24px;
  text-align: center;

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

@include tablet-sm {
  .cart-counter__plus,
  .cart-counter__minus,
  .cart-counter__input {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .cart-counter__plus,
  .cart-counter__minus {
    width: 30px;
  }

  .cart-counter__plus,
  .cart-counter__minus {
    &::before,
    &::after {
      width: 20px;
    }
  }
}
