<template>
    <div
        class="header-account"
        tabindex="0"
        @mouseover="open = true"
        @mouseout="open = false"
        @focus="open = true"
        @blur="open = false"
    >
        <svg
            width="24"
            height="22"
            class="header-account__icon"
        >
            <use xlink:href="#icon-header-account" />
        </svg>

        <ul
            v-if="auth"
            class="header-account__menu"
            :class="{'header-account__menu--open': open}"
        >
            <li
                v-for="(item, index) in accountData.menu"
                :key="index"
                class="header-account__menu-item"
            >
                <a
                    :href="item.url"
                    class="header-account__menu-item-link"
                    @focus="open = true"
                    @blur="open = false"
                >
                    {{ item.title }}
                </a>
            </li>
        </ul>
        <a
            v-else
            :href="loginUrl"
            class="header-account__menu-item-link header-account__menu-item-link--hidden"
            :title="loginText"
        ></a>
    </div>
</template>

<script>
export default {
    name: 'HeaderAccount',
    props: {
        auth: Boolean,
        accountData: Object,
        loginUrl: String,
        loginText: String,
    },
    data() {
        return {
            open: false,
        };
    },
};
</script>
