<template>
    <a
        :href="cartLink"
        class="header-cart"
        :aria-label="cartLinkLabel"
    >

        <svg
            class="header-cart__icon"
            width="20"
            height="20"
        >
            <use xlink:href="#icon-header-cart" />
        </svg>

        <span
            v-if="productAmountCurrent"
            class="header-cart__amount"
        >

            {{ productAmountCurrent }}

            <svg
                class="header-cart__amount-icon"
                width="19"
                height="15"
            >
                <use xlink:href="#icon-header-cart-number" />
            </svg>

        </span>

    </a>
</template>

<script>
import EventBus from '../EventBus.js';

export default {
    name: 'HeaderCart',
    props: {
        productAmount: Number,
        cartLink: String,
        cartLinkLabel: String,
    },
    data() {
        return {
            productAmountCurrent: null,
        };
    },
    created() {
        this.productAmountCurrent = this.productAmount;
    },
    mounted() {
        EventBus.$on('change-cart-total', (total) => {
            this.productAmountCurrent = total;
        });
    },
};
</script>
