<template>
    <section
        class="main-menu"
        :class="{'main-menu--open': open}"
        :style="'height: ' + menuHeight "
    >
        <button
            class="main-menu__close"
            @click="closeMenuByCloseBtn"
        >
            <svg
                width="19"
                height="31"
                class="main-menu__close-icon"
            >
                <use xlink:href="#close-menu-arrow" />
            </svg>
        </button>

        <div class="main-menu__inner-wrap">
            <div class="main-menu__inner">
                <ul class="main-menu__list">
                    <li
                        v-for="item in menuItems"
                        :key="item.title"
                        class="main-menu__list-item"
                    >
                        <a
                            ref="link"
                            :href="item.url"
                            class="main-menu__list-item-link"
                        >
                            {{ item.title }}
                        </a>
                    </li>

                    <li
                        v-if="downloadCatalog.link && downloadCatalog.title"
                        class="main-menu__list-item main-menu__list-item--download-catalog"
                    >
                        <a
                            ref="link"
                            target="_blank"
                            :href="downloadCatalog.link"
                            class="main-menu__list-item-link"
                        >
                            {{ downloadCatalog.title }}

                            <svg
                                width="28"
                                height="24"
                                class="main-menu__list-item-icon"
                            >
                                <use xlink:href="#icon-download" />
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="main-menu__profile">
                    <div
                        class="main-menu__profile-head"
                        @click="menuProfileMenuOpen = !menuProfileMenuOpen"
                    >
                        <div class="main-menu__profile-title">
                            Личный кабинет
                        </div>

                        <svg
                            width="10"
                            height="20"
                            class="main-menu__profile-title-icon"
                            :class="{'main-menu__profile-title-icon--open': menuProfileMenuOpen}"
                        >
                            <use xlink:href="#icon-chevron" />
                        </svg>
                    </div>

                    <slide-up-down
                        :active="menuProfileMenuOpen"
                        :duration="250"
                    >
                        <ul class="main-menu__profile-list">
                            <li
                                v-for="(profileItem, profileItemIndex) in profileMenu"
                                :key="profileItemIndex"
                                class="main-menu__profile-item"
                            >
                                <a
                                    :href="profileItem.url"
                                    class="main-menu__profile-link"
                                >{{ profileItem.title }}</a>
                            </li>
                        </ul>
                    </slide-up-down>
                </div>
<!--                <header-search-->
<!--                    :in-menu="true"-->
<!--                    class="main-menu__search"-->
<!--                    :action="searchData.action"-->
<!--                    :initial-query="searchData.initialQuery"-->
<!--                    :labels="searchData.labels"-->
<!--                />-->
                <div class="main-menu__lang">
                    <div class="header-lang">
                        <template
                            v-for="(language, index) in languages"
                        >
                            <a
                                v-if="language.isActive"
                                :key="`menu-language-${language.title}-${index}`"
                                class="header-lang__item header-lang__item--current"
                            >
                                {{ language.title }}
                            </a>
                            <a
                                v-else
                                :key="`menu-language-${language.title}-${index}`"
                                :href="language.url"
                                class="header-lang__item"
                            >
                                {{ language.title }}
                            </a>
                        </template>
                    </div>
                </div>

                <ul class="main-menu__box main-menu__box--contacts">
                    <template
                        v-for="(address, index) in addresses"
                    >
                        <li
                            v-if="address.is_active"
                            :key="`menu-address-${address}-${index}`"
                            class="main-menu__box-item main-menu__box-item--address"
                        >
                            {{ address.address }}
                        </li>
                    </template>

                    <li
                        v-for="(item, index) in phones"
                        :key="item + index"
                        class="main-menu__box-item"
                    >
                        <a
                            :href="'tel:' + item"
                            class="main-menu__box-item-link"
                        >
                            {{ item.phone }}
                        </a>
                    </li>

                    <li class="main-menu__box-item">
                        <a
                            :href="'mailto:' + email"
                            class="main-menu__box-item-link"
                        >
                            {{ email }}
                        </a>
                    </li>
                </ul>

                <ul class="main-menu__box main-menu__box--social">
                    <li
                        v-for="(item, index) in socials"
                        :key="item + index"
                        class="main-menu__box-item"
                    >
                        <a
                            :href="item.url"
                            target="_blank"
                            rel="nofollow noopener"
                            class="main-menu__box-item-link"
                        >
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';
import EventBus from '../EventBus.js';

export default {
    name: 'MainMenu',
    components: {
        SlideUpDown,
    },
    props: {
        menuItems: Array,
        addresses: Array,
        phones: Array,
        email: String,
        socials: Array,
        downloadCatalog: Object,
        profileMenu: Array|Object,
        searchData: Object,
        languages: Array,
    },
    data() {
        return {
            open: false,
            menuProfileMenuOpen: false,
            menuHeight: 'unset',
        };
    },
    created() {
        window.addEventListener('resize', this.controlMenuHeight);
        this.controlMenuHeight();
    },
    mounted() {
        EventBus.$on('toggle-menu', (state) => {
            if (state === true) {
                this.openMenu();
            } else {
                this.closeMenu();
            }
        });
        EventBus.$on('enter-pressed', (evt) => {
            if (evt.code === 'Enter' || evt.code === 'Space') {
                setTimeout(() => {
                    this.$refs.link[0].focus();
                }, 200);
            }
        });
    },
    methods: {
        openMenu() {
            this.open = true;
            window.addEventListener('keyup', this.closeMenuByEsc);
        },
        closeMenu() {
            this.open = false;
            window.removeEventListener('keyup', this.closeMenuByEsc);
        },
        closeMenuByEsc(evt) {
            if (evt.code === 'Escape') {
                this.closeMenu();
                EventBus.$emit('closeByEsc');
            }
        },
        closeMenuByCloseBtn() {
            this.closeMenu();
            EventBus.$emit('closeByCloseBtn');
        },
        controlMenuHeight() {
            if (window.innerWidth <= 1240) {
                this.menuHeight = `${window.innerHeight}px`;
            } else {
                this.menuHeight = 'unset';
            }
        },
    },
};
</script>

<style>

</style>
