<template>
    <button
        ref="button"
        class="main-menu-btn"
        :class="{'main-menu-btn--open': open, 'main-menu-btn--clicked': mousePress}"
        :aria-label="label"
        @click="openMenu"
        @keypress="enterPressed"
    >
        <i class="main-menu-btn__line main-menu-btn__line--1" />
        <i class="main-menu-btn__line main-menu-btn__line--2" />
        <i class="main-menu-btn__line main-menu-btn__line--3" />
    </button>
</template>

<script>
import EventBus from '../EventBus.js';

export default {
    name: 'MainMenuBtn',
    props: {
        label: String,
    },
    data() {
        return {
            open: false,
            mousePress: false,
        };
    },
    mounted() {
        EventBus.$on('closeByEsc', () => {
            this.open = false;
            this.$el.focus();
        });
        EventBus.$on('closeByCloseBtn', () => {
            this.open = false;
        });
    },
    methods: {
        openMenu() {
            this.open = !this.open;
            EventBus.$emit('toggle-menu', this.open);
            this.$refs.button.blur();
        },
        enterPressed(evt) {
            EventBus.$emit('enter-pressed', evt);
        },
    },
};
</script>

<style>

</style>
