//
// Defaults
// --------------------------------------------------

::selection {
  background: rgba($black, .7);
  color: $white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  line-height: $font-line-height-base;
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $regular;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*
Для того, чтобы футер прижимался вниз и мог тянуться:
1) Оборачиваем все в main-wrapper
2) Оборачиваем все, кроме футера в layout
*/

.layout,
.footer {
  max-width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout {
  position: relative;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.footer {
  flex: 0 0 auto;
}

[v-cloak] {
  visibility: hidden;
}

.hide-spins-input {
  appearance: textfield !important;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none !important;
  }
}
