//
// Fonts
// --------------------------------------------------

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Arno Pro";
  src: url("../fonts/arno-pro/ArnoPro-Regular.woff2") format("woff2"),
    url("../fonts/arno-pro/ArnoPro-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Arno Pro";
  src: url("../fonts/arno-pro/ArnoPro-LightDisplay.woff2") format("woff2"),
    url("../fonts/arno-pro/ArnoPro-LightDisplay.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/noah/Noah-Regular.woff2") format("woff2"),
    url("../fonts/noah/Noah-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/noah/Noah-Bold.woff2") format("woff2"),
    url("../fonts/noah/Noah-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/noah/Noah-Medium.woff2") format("woff2"),
    url("../fonts/noah/Noah-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/noah/Noah-Light.woff2") format("woff2"),
    url("../fonts/noah/Noah-Light.woff") format("woff");
  font-display: swap;
}
