//
// Fonts
// --------------------------------------------------

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Arno Pro";
  src: url("../fonts/arno-pro/ArnoPro-Regular.woff2") format("woff2"),
    url("../fonts/arno-pro/ArnoPro-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Arno Pro";
  src: url("../fonts/arno-pro/ArnoPro-LightDisplay.woff2") format("woff2"),
    url("../fonts/arno-pro/ArnoPro-LightDisplay.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/chronica-pro/ChronicaPro-Regular.woff2") format("woff2"),
    url("../fonts/chronica-pro/ChronicaPro-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/chronica-pro/ChronicaPro-Bold.woff2") format("woff2"),
    url("../fonts/chronica-pro/ChronicaPro-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/chronica-pro/ChronicaPro-Medium.woff2") format("woff2"),
    url("../fonts/chronica-pro/ChronicaPro-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Noah";
  src: url("../fonts/chronica-pro/ChronicaPro-Regular.woff2") format("woff2"),
    url("../fonts/chronica-pro/ChronicaPro-Regular.woff") format("woff");
  font-display: swap;
}
