@mixin inner {

  @include tablet-lg {
    max-width: 100%;
    padding-right: 35px;
    padding-left: 35px;
  }

  @include tablet-sm {
    padding-right: $site-gutter;
    padding-left: $site-gutter;
  }
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: $site-width;
  max-width: calc(100% - 140px);
  height: inherit;
  margin: 0 auto;
  padding: 0 $site-gutter;
}

@mixin word-break {
  overflow-wrap: break-word;
  hyphens: auto;

  @supports not (overflow-wrap: break-word) {
    word-wrap: break-word;
  }
}

@mixin menu-item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

@mixin menu-item-link {

  @include screen-sm {
    font-size: 22px;
  }

  @include phone-sm {
    font-size: 18px;
  }

  border-bottom: 1px solid transparent;
  color: $gray-2;
  font-weight: 300;
  font-size: 24px;
  font-family: $font-family-secondary;
  white-space: nowrap;
  transition: border-bottom-color 0.15s linear;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: inherit;
    outline: none;
  }
}

@mixin block-title {

  @include screen-sm {
    font-size: 36px;
    line-height: 40px;
  }

  @include tablet-lg {
    font-size: 30px;
    line-height: 34px;
  }
  width: 100%;
  color: $gray-2;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  font-family: $font-family-secondary;
  line-height: 54px;
  text-align: center;
}

@mixin link {
  border-bottom: 1px solid transparent;
  transition: botder-bottom-color 0.1s linear;

  &:focus,
  &:active,
  &:hover {
    border-bottom-color: inherit;
    outline: none;
  }
}

@mixin screen-lg() {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin screen-md() {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin screen-sm() {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

@mixin tablet-lg() {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin tablet-md() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-sm() {
  @media screen and (max-width: 601px) {
    @content;
  }
}

@mixin phone-lg() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phone-sm() {
  @media screen and (max-width: 400px) {
    @content;
  }
}
