//
// Reset
// --------------------------------------------------

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  // appearance: none; // отключено наследование стилей браузера, осторожней!
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // -webkit-appearance: inherit; // отключено наследование стилей браузера, осторожней!
  // -moz-appearance: inherit; // отключено наследование стилей браузера, осторожней!
}

body {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline-width: thin;
    outline-style: dotted;
    outline-color: inherit;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

[type="text"],
[type="email"],
[type="tel"],
textarea {
  appearance: none;
}

textarea {
  overflow: auto;
}
