//
// Variables
// --------------------------------------------------


//== Paths

// Images
$path-img: "../../img/";
$path-fonts: "../../fonts/";


//== Fonts

// Family
$font-family-base: "Noah", Arial, sans-serif;
$font-family-secondary: "Arno Pro", "Times New Roman", serif;

// Size
$font-size-base: 16px;

// Line-height
$font-line-height-base: 1;

// Weight
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;


//== Site sizes
$site-width: 1450px;
$site-gutter: 15px;

//== Colors

$white: #fff;
$black: #000;
$gray-1: #333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #d7d7d7;
$gray-6: #f5f5f5;
$gray-dark: #1f1f1f;

$inactive: #919191;

$gold: #f2c94c;
$mint: #54cac2;
$green: #27ae60;
$red: #eb5757;
$blue: #2f80ed;
$violet: #9b51e0;
