
.about__inner {
  @include inner();
}

.about__banner-row {
  padding-top: 32px;
}

.about__banner {
  width: 100%;
}

.about__border-text-article {
  position: relative;
  width: 718px;
  margin: 0 auto 21px;
  padding: 40px 70px 24px;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $gray-2;
    transition: transform 0.5s;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    top: 21px;
    left: 25px;
  }

  &:hover::before {
    transform: translateY(21px);
  }

  &:hover::after {
    transform: translateY(-21px);
  }
}

.about__border-text-row {
  margin: 80px 0;
}

.about__second-banner-row {
  margin: 80px 0 60px;
}

.about__second-banner {
  width: 974px;
  max-width: 100%;
}

.about__second-banner-row-inner {
  justify-content: center;
}

.about__text {
  max-width: 100%;

  margin-bottom: 34px;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
  text-align: center;

  &--large-margin-bottom {
    margin-bottom: 87px;
  }

  &--width-600 {
    width: 600px;
  }

  &--width-700 {
    width: 700px;
  }
}

.about__text-row-inner {
  flex-direction: column;
  align-items: center;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;

  p {
    width: 700px;
    max-width: 100%;
    margin-bottom: 34px;
    color: $gray-2;
    font: $regular 22px/1.25 $font-family-base;
    text-align: center;
  }
}

.about__slider {
  width: 100%;
  margin: 64px 0 92px;
}

.about__video-inner {
  @include inner();

  justify-content: center;
  padding: 26px 0 52px;
}

.about__video-iframe-wrapper iframe {
  width: 800px;
  max-width: 100%;
  height: 480px;
}

.about__last-text-inner {
  @include inner();
  flex-direction: column;

  width: 830px;
  margin-bottom: 127px;
}

.about__title {
  margin-bottom: 69px;
  color: $gray-2;
  font: $extralight 48px/1.15 $font-family-secondary;
  text-align: center;
}

.about__divider {
  width: 250px;
  max-width: 100%;
  height: 2px;
  margin: 57px auto 78px;
  border: 0;
  background-color: $gray-2;
}

.about__text-subtitle {
  width: 524px;
  max-width: 100%;
  margin-bottom: 35px;
  color: $gray-2;
  font: $regular 36px/1.15 $font-family-secondary;
  text-align: center;
}

.about__text-link-large {
  border-bottom: 2px solid $gray-2;
  line-height: 1;
  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    outline: none;
  }
}

.about__text-link-wrap {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 107px;
  text-align: center;
}

.about__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  .about__text--large-margin-bottom {
    margin-bottom: 71px;
  }
}

@include screen-md() {
  .about__banner-row {
    padding-top: 24px;
  }

  .about__banner {
    object-fit: cover;
    height: 430px;
  }

  .about__slider {
    margin: 56px 0 92px;
  }

  .about__divider {
    margin: 57px auto 109px;
  }

  .about__text-link-wrap {
    margin-top: 55px;
    margin-bottom: 102px;
  }

  .about__last-text-inner {
    margin-bottom: 88px;
  }

}

@media screen and (max-width: 1124px) {
  .about__banner-row {
    padding-top: 31px;
  }

  .about__banner {
    height: 406px;
  }

  .about__border-text-row {
    margin: 50px 0;
  }

  .about__border-text-article {
    width: 590px;
    padding: 50px 70px 32px 89px;
    font-size: 18px;

    &::after {
      left: 20px;
    }
  }

  .about__second-banner-row {
    margin-top: 0;
    margin-bottom: 51px;
  }

  .about__second-banner {
    object-fit: cover;
    width: 584px;
    height: 356px;
  }

  .about__text {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .about__text-row-inner {
    width: 396px;
  }

  .about__text--large-margin-bottom {
    margin-bottom: 25px;
  }

  .about__slider {
    margin: 23px 0 51px;
  }

  .about__video-inner {
    padding-top: 23px;
    padding-bottom: 0;

    .custom-video {
      object-fit: cover;
      width: 698px;
      max-width: 100%;
      height: 423px;
    }
  }

  .about__divider {
    width: 202px;
    margin: 47px auto 48px;
  }

  .about__title {
    width: 262px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-size: 30px;
  }

  .about__text-subtitle {
    margin-bottom: 26px;
    font-size: 24px;
  }

  .about__text-group {
    width: 424px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    .about__text--large-margin-bottom {
      margin-bottom: 50px;
    }
  }

  .about__text-link-wrap {
    margin-top: 0;
    margin-bottom: 52px;
  }

  .about__last-text-inner {
    margin-bottom: 53px;
  }

}

@include tablet-md() {
  .about__banner-row {
    padding-top: 18px;

    .about__inner {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .about__banner {
    height: 386px;
  }

  .about__video-inner .custom-video {
    height: auto;
  }

  .about__border-text-article {
    max-width: calc(100% - 40px);
    transform: translate(-10px, 0);
  }

}

@include tablet-sm() {
  .image-slider__wrap {
    padding: 0;
  }

}

@include phone-lg() {
  .about__banner-row {
    padding-top: 17px;
  }

  .about__banner {
    height: 201px;
  }

  .about__border-text-row .about__border-text-article {
    max-width: 100%;

    padding: 0 20px;
    transform: none;

    &::before,
    &::after {
      content: none;
    }
  }

  .about__border-text-row {
    margin: 50px 0 29px;
  }

  .about__second-banner {
    height: 208px;
  }

  .about__text-row-inner,
  .about__last-text-inner {
    padding-right: 40px;
    padding-left: 40px;
  }

  .about__last-text-inner {
    margin-bottom: 24px;
  }
}
