.advantages {
  margin-bottom: 130px;
}

.advantages__inner {
  @include inner;
}

.advantages__title {
  @include block-title;
}

.advantages__cards-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calc((100% - (360px * 3))/2);
  margin-top: 100px;
  transition: grid-gap 0.25s linear;
}

.advantages__card-img-wrap {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 76.3888%;
  }
}

.advantages__card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.advantages__card-description {
  margin-top: 30px;
  color: $gray-2;
  font-size: 22px;
  font-family: $font-family-base;
  line-height: 27px;
}

@include screen-md { // 1400
  .advantages__cards-wrap {
    grid-gap: 50px;
    margin-top: 80px;
    padding: 0 20px;
  }
}

@include screen-sm { //1240
  .advantages__cards-wrap {
    grid-gap: 25px;
  }
}

@include tablet-lg { // 991
  .advantages__cards-wrap {
    grid-gap: 20px;
    margin-top: 50px;
  }

  .advantages__card-description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
  }
}

@include tablet-sm { // 601
  .advantages__cards-wrap {
    display: block;
    width: 100%;
    margin-top: 40px;
    padding: 0;
  }

  .advantages__card {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .advantages__card-description {
    margin-top: 25px;
  }
}
