.breadcrumbs {
  width: 100%;
  margin: 28px 0;
  font-size: 22px;
  font-family: $font-family-base;
}

.breadcrumbs__inner {
  @include inner;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  display: inline-block;
  padding: 6px 0;
  color: $gray-2;
  line-height: 1;

  &[href] {
    @include link;
  }
}

.breadcrumbs__chevron {
  margin: 0 20px -1px;
  stroke: $gray-2;
}

@include tablet-lg {
  .breadcrumbs {
    margin: 15px 0 22px;
    font-size: 16px;
  }

  .breadcrumbs__chevron {
    margin: 0 9px -3px;
  }
}
