.cards {
  width: 100%;
  height: calc(100vh - 150px);
  max-height: calc(880px - 150px);
  min-height: calc(700px - 150px);
  margin-bottom: 215px;
}

.cards__inner {
  @include inner;
  height: 100%;
}

.cards__wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 100%;
  height: 100%;

  &--1 {
    .cards__item {
      &:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/6;
      }
    }
  }

  &--2 {
    .cards__item {
      &:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/4;
      }

      &:nth-child(2) {
        grid-row: 1/3;
        grid-column: 4/6;
      }
    }
  }

  &--3 {
    .cards__item {
      &:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/4;
      }

      &:nth-child(2) {
        grid-row: 1/2;
        grid-column: 4/6;
      }

      &:nth-child(3) {
        grid-row: 2/3;
        grid-column: 4/6;
      }
    }
  }

  &--4 {
    .cards__item {
      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/4;
      }

      &:nth-child(2) {
        grid-row: 1/2;
        grid-column: 4/6;
      }

      &:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/3;
      }

      &:nth-child(4) {
        grid-row: 2/3;
        grid-column: 3/6;
      }
    }
  }
}

.cards__item {
  position: relative;
  overflow: hidden;
}

.cards__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.cards__btn {
  position: absolute;
  bottom: 65px;
  left: 40px;
}

@include screen-md { // 1240
  .cards {
    margin-bottom: 160px;
    max-height: calc(780px - 150px);
  }

  .cards__wrap {
    grid-gap: 15px;
  }

  .cards__btn {
    left: 35px;
  }
}

@include screen-sm {
  .cards {
    margin-bottom: 130px;
    height: calc(600px - 150px);
    min-height: 0;
    max-height: none;
  }
}

@include tablet-lg { // 991
  .cards {
    margin-bottom: 80px;
  }

  .cards__btn {
    bottom: 30px;
    left: 25px;
  }
}

@include tablet-md { // 768
  .cards {
    height: auto;
  }

  .cards__wrap {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    height: unset;

    &--1 {
      .cards__item {
        height: 460px;

        &:nth-child(1) {
          grid-row: 1/3;
          grid-column: 1/3;
        }
      }
    }

    &--2 {
      .cards__item {
        height: 375px;

        &:nth-child(1) {
          grid-row: 1/3;
          grid-column: 1/2;
        }

        &:nth-child(2) {
          grid-row: 1/3;
          grid-column: 2/3;
        }
      }
    }

    &--3 {
      .cards__item {
        height: 375px;

        &:nth-child(1) {
          grid-row: 1/2;
          grid-column: 1/2;
        }

        &:nth-child(2) {
          grid-row: 1/2;
          grid-column: 2/3;
        }

        &:nth-child(3) {

          grid-row: 2/3;
          grid-column: 1/3;
          height: 460px;
        }
      }
    }

    &--4 {
      .cards__item {
        &:nth-child(1) {
          grid-row: 1/2;
          grid-column: 1/2;
          height: 375px;
        }

        &:nth-child(2) {
          grid-row: 1/2;
          grid-column: 2/3;
          height: 375px;
        }

        &:nth-child(3) {
          grid-row: 2/3;
          grid-column: 1/2;
          height: 460px;
        }

        &:nth-child(4) {
          grid-row: 2/3;
          grid-column: 2/3;
          height: 460px;
        }
      }
    }
  }
}

@include tablet-sm { // 601
  .cards {
    margin-bottom: 60px;
  }

  .cards__wrap {
    display: block;

    .cards__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .cards__btn {
    bottom: 15px;
    left: 15px;
  }
}

@include phone-lg {

  .cards__wrap {

    .cards__item {
      width: 100%;
      height: calc((100vw - 30px) * 0.79) !important;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

}
