
.contacts-map__wrap {
  width: 100%;
}

.contacts-map {
  width: 100%;
  height: 643px;
}

.contacts-map__marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $gray-2;

  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(#f2f2f2, 0.5);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    border: 1px solid $gray-2;
    border-radius: 50%;
    opacity: 0;

    transition: opacity 0.3s;
  }

  &--active::after {
    opacity: 1;
  }
}

.contacts-map__wrap {
  margin-top: 74px;
  margin-bottom: 109px;
}

@include screen-md() {
  .contacts-map__wrap {
    margin-top: 16px;
    margin-bottom: 120px;
  }
}

@include screen-sm() {
  .contacts-map__wrap {
    margin-top: 14px;
    margin-bottom: 116px;
  }
}

@include tablet-lg() {
  .contacts-map {
    width: calc(100% + 70px);
    transform: translate(-35px, 0);
  }

  .contacts-map__wrap {
    margin-bottom: 80px;
  }
}

  //Следующие два класса - встроенные классы для балуна

@media screen and(max-width: 820px) {
  .gm-style .gm-style-iw-t {
    position: relative;
    left: -180px;
    top: -30px;
  }

  .map-hint__img {
    max-height: 140px;
    height: auto;
  }

  .map-hint__content {
    padding: 10px 18px;
  }

  .map-hint__title {
    font-size: 18px;
  }

  .map-hint__address,
  .map-hint__phone,
  .map-hint__email {
    font-size: 14px;
  }
}

@include tablet-sm() {
  .contacts-map {
    width: calc(100% + 30px);
    transform: translate(-15px, 0);
  }
}

@include phone-lg() {
  .gm-style .gm-style-iw-t {
    position: relative;
    left: 0;
    top: -20px;
  }
}

@include phone-sm() {
  .map-hint__img {
    height: 120px;
  }
}
