
.contacts-page__inner {
  @include inner();
}

.contacts-page__table-head-text {
  font: $regular 24px/1.2 $font-family-secondary;
}

.contacts-page__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
  color: $gray-2;
}

.contacts-page__table-head {
  display: flex;
  padding-bottom: 35px;

  .contacts-page__table-cell {
    &:nth-of-type(1) {
      width: 35%;
    }

    &:nth-of-type(2) {
      width: 31%;
    }

    &:nth-of-type(3) {
      width: 34%;
    }
  }
}

.contacts-page__table-row {
  display: flex;
  padding-bottom: 48px;

  .contacts-page__table-cell {
    &:nth-of-type(1) {
      width: 35%;
    }

    &:nth-of-type(2) {
      width: 31%;
    }

    &:nth-of-type(3) {
      width: 34%;
    }
  }
}

.contacts-page__table-cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: $regular 22px/1.2 $font-family-base;

  p {
    margin-bottom: 12px;
  }
}

.contacts-page__table-address-btn {
  margin-bottom: 12px;

  border-bottom: 1px solid transparent;
  color: $gray-2;
  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.contacts-page__table-address-btn.contacts-page__table-address-btn-empty {
  &:hover,
  &:focus {
    border-bottom-color: transparent;
    outline: none;
    cursor: default;
  }
}

.contacts-page__table-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.contacts-page__mobile {
  display: none;
}

@include screen-md() {
  .contacts-page__table {
    margin-top: 25px;
  }

  .contacts-page__table-head {
    .contacts-page__table-cell {
      &:nth-of-type(1) {
        width: 42%;
      }

      &:nth-of-type(2) {
        width: 37%;
      }

      &:nth-of-type(3) {
        width: 21%;
      }
    }
  }

  .contacts-page__table-row {
    .contacts-page__table-cell {
      &:nth-of-type(1) {
        width: 42%;
      }

      &:nth-of-type(2) {
        width: 37%;
      }

      &:nth-of-type(3) {
        width: 21%;
      }
    }
  }
}

@include screen-sm() {
  .contacts-page__table-head {
    .contacts-page__table-cell {
      &:nth-of-type(1) {
        width: 44%;
      }

      &:nth-of-type(2) {
        width: 33%;
      }

      &:nth-of-type(3) {
        width: 23%;
      }
    }
  }

  .contacts-page__table-row {
    .contacts-page__table-cell {
      &:nth-of-type(1) {
        width: 44%;
      }

      &:nth-of-type(2) {
        width: 33%;
      }

      &:nth-of-type(3) {
        width: 23%;
      }
    }
  }

  .contacts-page__table-cell {
    word-break: break-word;
  }
}

@include tablet-lg() {
  .contacts-page__desktop {
    display: none;
  }

  .contacts-page__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contacts-page__mobile-title {
    color: $gray-2;
    font: $regular 22px/1.13 $font-family-secondary;
  }

  .contacts-page__mobile-title-wrap {
    margin-top: 22px;
  }

  .contacts-page__mobile-addresses {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 26px 0 45px;
  }

  .contacts-page__mobile-addresses-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .contacts-page__mobile-address-card {
    width: 290px;
    max-width: calc(100% - 15px);
    margin-top: 15px;
  }
}

@media screen and (max-width: 825px) {
  .contacts-page__mobile-addresses {
    .contacts-page__mobile-addresses-column:first-of-type {
      align-items: flex-start;
    }

    .contacts-page__mobile-addresses-column:last-of-type {
      align-items: flex-end;
    }
  }

}

@include phone-lg() {
  .contacts-page__mobile-addresses {
    flex-wrap: wrap;
    padding: 26px 0 50px;

    .contacts-page__mobile-addresses-column {
      width: 100%;

      &:first-of-type,
      &:last-of-type {
        align-items: center;
      }
    }

    .contacts-page__mobile-address-card {
      max-width: 100%;
    }
  }

}
