
.custom-video__wrap {
  position: relative;
}

.custom-video__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  opacity: 0;
  transition: opacity 0.3s;

  &:hover,
  &:active {
    outline: none;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.custom-video__btn-icon {
  margin-left: 6px;
  fill: $white;
  stroke: $white;
}

.custom-video__btn-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 108px;
  border: 1px solid $white;
  border-radius: 50%;
  background-color: rgba($white, 0.17);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    border-right: 1px solid $white;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &::before {
    left: calc(50% - 8px);
  }

  &::after {
    right: calc(50% - 8px);
  }

  &--pause {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}


@include tablet-md() {
  .custom-video__btn-circle {
    width: 80px;
    height: 80px;
  }

  .custom-video__btn-icon {
    width: 30px;
    height: 30px;
  }

}

@include phone-lg() {
  .custom-video__btn-circle {
    width: 60px;
    height: 60px;
  }

}
