.error-page {
  width: 300px;
  max-width: 100%;
  margin: 150px auto 200px;
  color: $gray-2;
  font-family: $font-family-base;
  text-align: center;
}

.error-page__title {
  font-weight: $regular;
  font-size: 24px;
  line-height: 30px;
}

.error-page__subtitle {
  margin-top: 17px;
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 27px;
}

.error-page__message {
  margin-top: 17px;
  color: $gray-3;
  font-size: 18px;
  line-height: 22px;
}

.error-page__arrow {
  display: block;
  width: 8px;
  margin: 20px auto 0;
  stroke: $gray-2;
}

.error-page__link {
  display: inline-block;
  margin-top: 20px;
  border-bottom: 1px solid;
  font-size: 18px;
  line-height: 1;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }
}
