.footer {
  padding: 60px 0 28px;
  background-color: $gray-1;
  color: $gray-6;
}

.footer__inner {
  @include inner;
  padding: 0 100px;
}

.footer__list {
  width: 25%;

  &--law-data {
    margin-top: 65px;
  }
}

.footer__list-item {
  color: $gray-6;
  font-weight: $light;
  font-style: normal;
  font-size: 18px;
  font-family: $font-family-base;
  line-height: 22px;

  &--address {
    width: 135px;
  }

  &--copyright {
    font-weight: $regular;
  }

  &--juridical-info {
    font-size: 16px;
    line-height: 26px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer__list-item-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $gray-6;
    outline: none;
  }
}

@include screen-sm { // 1240

}

@media screen and (max-width: 1024px) {
  .footer__list {
    width: 50%;
    margin-bottom: 30px;

    &--menu {
      order: 1;
    }

    &--links {
      order: 4;
    }

    &--socials {
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--law-data {
      order: 5;
      margin-top: 40px;
    }
  }
}

@include tablet-lg { // 991

}

@include tablet-sm { // 601

}

@include phone-lg {
  .footer__list {
    width: 100%;

    &--menu {
      order: 1;
    }

    &--links {
      order: 4;
    }

    &--socials {
      order: 3;
    }

    &--contacts {
      order: 2;
    }

    &--law-data {
      order: 5;
      margin-top: 0;
    }
  }
}
