
.image-slider__wrap {
  position: relative;
  width: 100%;
}

.image-slider__btn,
.image-slider__btn-modal {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: opacity 0.2s linear;
  transform: translate(0, -50%);

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;

    .image-slider__btn-icon {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  &--disabled {
    opacity: 0.15;
    cursor: default;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.15;
    }
  }
}

.image-slider__btn-modal {
  z-index: 2;

  &--prev {
    left: 15px;
  }

  &--next {
    right: 15px;
  }
}

.image-slider__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: default;
}

.image-slider,
.image-slider--modal {
  width: 1290px;
  max-width: 100%;
}

.image-slider__slide-modal-btn {
  display: flex;
  justify-content: center;
  cursor: default;

  &:hover,
  &:focus {
    outline: none;
  }
}

.image-slider__slide-btn {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.image-slider__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 28px;
  background-color: rgba($black, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.image-slider__modal-inner {
  @include inner();

  align-items: center;
  justify-content: center;
}

.image-slider__modal-close-wrap {
  position: absolute;
  right: 28px;
  z-index: 2;
}

.image-slider__modal-close {
  position: relative;
  width: 44px;
  height: 44px;

  transition: opacity 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 2px;
    width: 40px;
    height: 1px;
    border-top: 1px solid $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.image-slider__slide-img {
  position: relative;
  z-index: 10;
}

.image-slider__btn-icon {
  stroke: $gray-2;

  &--white {
    stroke: $white;
  }
}

.image-slider__slide-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 1600px) {
  .image-slider__btn--prev {
    left: -40px;
  }

  .image-slider__btn--next {
    right: -40px;
  }

}

@media screen and (max-width: 1540px) {
  .image-slider__btn--prev {
    left: -50px;
  }

  .image-slider__btn--next {
    right: -50px;
  }

  .image-slider__wrap {
    padding: 0 18px;
  }

}

@include screen-md() {
  .image-slider__btn--prev {
    left: -40px;
  }

  .image-slider__btn--next {
    right: -40px;
  }

  .image-slider__slide-image {
    height: 290px;
  }

}

@media screen and (max-width: 1124px) {
  .image-slider__wrap {
    width: 666px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .image-slider__slide-image {
    height: 310px;
  }

  .image-slider__btn--prev {
    left: -30px;
  }

  .image-slider__btn--next {
    right: -30px;
  }

}

@include tablet-md() {
  .image-slider__btn {
    display: none;
  }

  .image-slider__btn-modal {
    display: none;
  }

}

@media screen and (max-width: 540px) {
  .swiper-slide.image-slider__slide-btn {
    width: 75%;
  }

}

@include phone-sm() {
  .swiper-slide.image-slider__slide-btn {
    width: 82%;
  }

}
