
.map-hint {
  display: flex;
  flex-direction: column;
}

.map-hint__content {
  display: flex;
  flex-direction: column;
  padding: 20px 18px;

  &:hover {
    .map-hint__title,
    .map-hint__phone {
      border-bottom-color: $gray-2;
    }

    .map-hint__email {
      border-bottom-color: $gold;
    }
  }
}

.map-hint__img {
  object-fit: cover;
  width: 100%;
  height: 202px;
}

.map-hint__title {
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font: $regular 24px/1 $font-family-secondary;

  transition: border-bottom-color 0.3s;
}

.map-hint__address {
  margin: 10px 0 2px;
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;
}

.map-hint__phone {
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font: $regular 18px/1 $font-family-base;
  transition: border-bottom-color 0.3s;
}

.map-hint__email {
  border-bottom: 1px solid transparent;
  color: $gold;
  font: $regular 18px/1 $font-family-base;
  transition: border-bottom-color 0.3s;
}

.map-hint__phone-wrap {
  margin-bottom: 4px;
}
