
.mobile-address-card {
  box-shadow: 0 0 15px rgba($black, 0.08);

  &--open {
    .mobile-address-card__toggle-icon {
      transform: rotate(180deg);
    }
  }
}

.mobile-address-card__toggle {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 24px 36px 24px 23px;
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;

  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $gray-3;
    outline: none;
  }
}

.mobile-address-card__toggle-icon {
  position: absolute;
  top: calc(50% - 11px);
  right: 22px;
  width: 8px;
  height: 22px;
  stroke: $gray-2;

  transition: transform 0.3s;
}

.mobile-address-card__content {
  margin-top: -4px;
  padding: 0 23px;
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;
}

.mobile-address-card__content-inner {
  margin-bottom: 29px;
}

.mobile-address-card__address-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.mobile-address-card__address-title {
  font-weight: $bold;
}

.mobile-address-card__address {
  margin-bottom: 9px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.mobile-address-card__address-phones {
  margin-top: 25px;

  li {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
