.popup {
  position: relative;

  z-index: 6;
  overflow: auto;

  width: 500px;
  max-width: 100%;
  background-color: $white;
  color: $gray-2;
  box-shadow: 0 0 20px rgba(86, 86, 86, 0.25);
  transition: transform 0.2s cubic-bezier(1, 1, 0, 0);

  &--show {
    transform: translate(0, 0);
  }
}

.popup-subscribe {
  width: 666px;
  max-width: calc(100% - 30px);
}

.popup__wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s cubic-bezier(1, 1, 0, 0), visibility 0.15s cubic-bezier(1, 1, 0, 0);

  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.popup__overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 25px;
}

.popup__content {
  overflow: auto;
  max-height: calc(100vh - 30px);
  padding: 70px 75px;
}

.popup__title {
  color: $black;
  font-weight: $light;
  font-style: normal;
  font-size: 36px;
  font-family: $font-family-secondary;
  line-height: 40px;
  text-align: center;
}

.popup__subtitle {
  margin-top: 55px;
  color: $gray-2;
  font-size: 22px;
  font-family: $font-family-base;
  line-height: 27px;
  text-align: center;
}

.popup__image {
  object-fit: cover;
  width: 100%;
  height: 355px;
  margin-top: 55px;
  object-position: center;
}

// subscribe

.popup-subscribe__form {
  width: 370px;
  margin: 0 auto;
  max-width: 100%;
}

.popup-subscribe__input-label {
  display: block;
  max-width: 100%;
  margin-top: 45px;
}

.popup-subscribe__input-label-title {
  display: block;
  font-size: 22px;
  line-height: 27px;
}

.popup-subscribe__input {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid $gray-4;
  outline: none;
  font-size: 18px;
}

.popup-subscribe__error {
  margin-top: 10px;
  color: $red;
}

.popup-subscribe__input-error {
  color: $red;
}

.popup-subscribe__agreement-label {
  position: relative;
  display: block;
  max-width: 100%;
  margin-top: 28px;
  padding-left: 50px;
  cursor: pointer;
}

.popup-subscribe__agreement-pseudo-checkbox {
  position: absolute;
  top: 7px;
  left: 0;
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  border: 1px solid $gray-2;
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    border-radius: 50%;
    background-color: $gray-2;
    transition: transform 0.15s ease-out;
    transform: scale(0);
  }
}

.popup-subscribe__agreement-checkbox:checked {
  ~ .popup-subscribe__agreement-pseudo-checkbox {
    &::after {
      transform: scale(1);
    }
  }
}

.popup-subscribe__agreement-title {
  color: $gray-2;
  font-size: 22px;
  line-height: 27px;
  user-select: none;

  a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: $blue;
    line-height: 1;

    &:hover,
    &:focus {
      border-bottom-color: inherit;
      outline: none;
    }
  }
}

.popup-subscribe__submit {
  margin: 50px auto 0;
}

.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 48px;
  height: 48px;

  background-color: transparent;
  transition: opacity 0.2s linear;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 42px;
    height: 1px;
    background-color: $gray-2;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.6;
  }
}

.popup__agreement {
  margin: 6px 0 25px;
  padding: 0 18px;

  font: $regular 12px/1.3 $font-family-base;
  text-align: center;

  a {
    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.popup-subscribe__success-btn {
  margin: 40px auto 0;
}

// cancel order

.popup-cancel-order {
  width: 722px;
  background-color: #fafafa;
}

.popup-cancel-order__content {
  padding: 100px 30px 40px;
}

.popup-cancel-order__actions {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.popup-cancel-order__btn-confirm,
.popup-cancel-order__btn-refuse {
  padding: 0 20px;
  font-weight: $regular;
  font-size: 22px;
}

.popup-cancel-order__btn-refuse {
  margin-left: 40px;
}

@include tablet-lg {

  .popup__title {
    font-size: 30px;
  }

  .popup-subscribe__agreement-title,
  .popup-subscribe-input,
  .popup__subtitle {
    font-size: 18px;
  }

  .popup-subscribe__input-label-title {
    font-size: 16px;
  }
}

@include tablet-sm {

  .popup-subscribe__content {
    padding: 60px 15px 30px;
  }

  .popup__subtitle {
    margin-top: 25px;
  }

  .popup-subscribe__input-label {
    margin-top: 25px;
  }

  .popup-subscribe__agreement-label {
    margin-top: 15px;
    padding-left: 40px;
  }

  .popup-subscribe__submit {
    margin: 20px auto 0;
  }
}

@include phone-lg {

  .popup-cancel-order__content {
    padding: 80px 24px 36px;
  }

}

@include phone-sm {

  .popup-cancel-order__btn-refuse {
    margin-left: 24px;
  }

}
