.sales-hits {
  margin-bottom: 130px;

  .swiper-lazy-preloader {
    border-color: $gray-2 $gray-2 $gray-2 transparent !important;
  }

  .swiper-lazy {
    opacity: 0 !important;
    transition: opacity 0.2s linear;

    &.swiper-lazy-loaded {
      opacity: 1 !important;
    }
  }
}

.sales-hits__inner {
  @include inner;
  display: block;
}

.sales-hits__title {
  @include block-title;
}

.sales-hits__subtitle {
  margin-top: 25px;
  color: $gray-2;
  font-size: 22px;
  font-family: $font-family-base;
  line-height: 27px;
  text-align: center;
}

.sales-hits__slider-wrap {
  position: relative;
}

.sales-hits__slider {
  position: relative;
  width: 1290px;
  max-width: calc(100% - 90px);
  margin-top: 60px;
}

.sales-hits__slider-btn {
  position: absolute;
  top: 50%;

  transition: opacity 0.15s linear;

  &--next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  &--prev {
    left: 0;
    transform: translateY(-50%);
  }

  &:hover,
  &:active {
    outline: none;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    opacity: 0.15;
    cursor: not-allowed;

    &:hover,
    &:active {
      opacity: 0.15;
    }
  }
}

.sales-hits__slider-btn-icon {
  stroke: $gray-2;
}

@include phone-lg {
  .sales-hits__slider-wrap {
    overflow: hidden;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    margin-left: -15px;
  }

  .sales-hits__slider {
    overflow: visible;
    max-width: 100%;
    padding-right: 20%;

    .swiper-slide {
      padding-left: 15px;
    }
  }

  .sales-hits__slider-btn {
    display: none;
  }
}
