.slider-btn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.15s linear,
    left 0.25s ease-out,
    right 0.25s ease-out,
    opacity 0.25s;

  &--next {
    transform: rotate(-90deg);
  }

  &--prev {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
  }

  &--disabled {
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);
  }

  svg {
    stroke: $gray-2;
  }
}
