
.text-field__container {
  position: relative;
}

.text-field__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.text-field__title {
  margin-bottom: 9px;
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;
}

.text-field__input {

  padding-bottom: 9px;
  border: 0;
  border-bottom: 1px solid $gray-4;
  color: $gray-2;
  outline: none;
  font: $regular 22px/1.25 $font-family-base;

  transition: border-bottom-color 0.3s;

  &:focus {
    border-bottom-color: $gray-2;
  }

  &--error,
  &--error:focus {
    border-bottom-color: $red;
  }
}

@include tablet-md {
  .text-field__title {
    font-size: 16px;
  }

  .text-field__input {
    font-size: 18px;
  }
}
