<template>
    <div class="checkout-form__wrap">
        <div class="checkout-form">
            <section class="checkout-form__company">
                <div class="checkout-form__company-action-wrap">
                    <label
                        :class="['checkout-form__company-action',
                                 'checkbox__label',
                                 'checkbox__label--right']"
                    >
                        <input
                            v-model="buyViaCompany"
                            type="checkbox"
                            class="checkbox visually-hidden"
                            :disabled="btnDisabledData"
                        >
                        <span class="checkbox__symbol" />
                        <span class="checkbox__title">
                            {{ text.buyViaCompany }}
                        </span>
                    </label>
                </div>
                <slide-up-down
                    :active="buyViaCompany"
                    :duration="150"
                    class="checkout-form__company-fields"
                >
                    <text-field
                        v-for="(field, fieldIndex) in companyFieldsData"
                        :key="'checkout-company-field-'+'-'+field.name+'-'+fieldIndex"
                        :field-data.sync="field"
                    />
                </slide-up-down>
                <div class="checkout-form__delivery-action-wrap">
                    <label
                        :class="[
                            'checkout-form__company-action',
                            'checkbox__label',
                            'checkbox__label--right'
                        ]"
                    >
                        <input
                            ref="deliveryCheckboxPickup"
                            type="checkbox"
                            class="checkbox visually-hidden"
                            :disabled="btnDisabledData"
                            @change="changeDeliveryType($event, 'pickup')"
                        >
                        <span class="checkbox__symbol" />
                        <span class="checkbox__title">
                            {{ text.pickup }}
                        </span>
                    </label>
                    <label
                        :class="[
                            'checkout-form__company-action',
                            'checkbox__label',
                            'checkbox__label--right'
                        ]"
                    >
                        <input
                            ref="deliveryCheckboxDelivery"
                            type="checkbox"
                            class="checkbox visually-hidden"
                            :disabled="btnDisabledData"
                            @change="changeDeliveryType($event, 'delivery')"
                        >
                        <span class="checkbox__symbol" />
                        <span class="checkbox__title">
                            {{ text.delivery }}
                        </span>
                    </label>
                </div>
            </section>
            <section class="checkout-form__delivery-section">
                <slide-up-down
                    :active="deliveryType === 'pickup'"
                    :duration="350"
                    class="checkout-form__pickup-wrap"
                >
                    <multiselect
                        :value="pickupOffice"
                        class="custom-select-arrow"
                        :options="pickupOfficesOptions"
                        :placeholder="text.officeSelect"
                        label="address"
                        :allow-empty="false"
                        :show-labels="false"
                        :close-on-select="true"
                        :internal-search="false"
                        :searchable="false"
                        @select="pickupOfficeChange"
                    />
                </slide-up-down>
                <slide-up-down
                    :active="deliveryType === 'delivery'"
                    :duration="350"
                    class="checkout-form__delivery-wrap"
                >
                    <div class="checkout-form__delivery-fields-wrap">
                        <text-field
                            v-for="(field, fieldIndex) in deliveryFieldsData"
                            :key="'checkout-delivery-field-'+'-'+field.name+'-'+fieldIndex"
                            :field-data.sync="field"
                        />
                    </div>
                    <div
                        v-if="haveDeliveryAddress && !haveDeliveryAddressDefault"
                        class="checkout-form__delivery-add-address-title-wrap"
                    >
                        <strong class="checkout-form__delivery-add-address-title">
                            {{ text.addDeliveryAddress }}:
                        </strong>
                    </div>
                    <multiselect
                        v-if="haveDeliveryAddress && !haveDeliveryAddressDefault"
                        :value="deliveryAddress"
                        class="custom-select-plus"
                        :options="deliveryAddressesOptions"
                        :placeholder="text.address"
                        label="address"
                        track-by="address"
                        :allow-empty="false"
                        :show-labels="false"
                        :close-on-select="false"
                        :internal-search="false"
                        :searchable="false"
                        @select="deliveryAddressChange"
                    />
                </slide-up-down>
            </section>
            <section class="checkout-page__static-part">
                <div class="checkout-page__comment-wrap">
                    <span class="checkout-page__comment-title">
                        {{ text.comment }}:
                    </span>
                    <textarea
                        v-model="userComment"
                        name="user_comment"
                        class="checkout-page__comment-field"
                        rows="10"
                        maxlength="1000"
                    />
                </div>
                <hr class="checkout-form__divider">
                <slot name="lead-time-text" />
                <div class="checkout-page__payment">
                    <span class="checkout-page__payment-text">
                        {{ text.totalPayment }}
                    </span>
                    <span class="checkout-page__payment-value">
                        {{ price }}
                    </span>
                </div>
                <slot name="consent-text" />
                <p
                    v-show="error"
                    class="checkout-form__error"
                >
                    {{ error }}
                </p>
                <div class="checkout-form__send-btn-wrap">
                    <button
                        type="button"
                        class="checkout-form__send-btn btn"
                        :disabled="btnDisabled"
                        :title="text.send"
                        @click="checkForm"
                    >
                        {{ text.actionText }}
                    </button>
                </div>
            </section>
        </div>
        <section
            :class="[
                'checkout-form__popup-wrap',
                {'checkout-form__popup-wrap--visible': showSuccessPopup}
            ]"
        >
            <button
                type="button"
                class="checkout-form__popup-overlay"
                @click="closeSuccessPopup"
            />
            <article class="checkout-form__popup-content">
                <div class="checkout-form__popup-inner">
                    <button
                        type="button"
                        class="checkout-form__popup-close-btn"
                        :title="text.close"
                        @click="closeSuccessPopup"
                    >
                        <span class="checkout-form__popup-close-btn-icon" />
                    </button>
                    <div class="checkout-form__popup-title-wrap">
                        <strong class="checkout-form__popup-title">{{ successTitle }}</strong>
                    </div>
                    <div
                        class="checkout-form__popup-message-wrap"
                        v-html="successMessage"
                    />
                </div>
            </article>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import SlideUpDown from 'vue-slide-up-down';
import Multiselect from 'vue-multiselect';
import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';
import TextField from '../text-field.vue';
import { isEmail } from '../../utility/rules.js';

export default {
    name: 'CheckoutForm',
    components: {
        SlideUpDown,
        Multiselect,
        TextField,
    },
    props: {
        text: Object,
        action: String,
        errorsText: Object,
        companyFields: Array,
        deliveryFields: Array,
        pickupOfficesOptions: Array,
        deliveryAddressesOptions: Array,
        price: String,
        defaultDeliveryAddress: Object,
    },
    data() {
        return {
            btnDisabled: false,
            buyViaCompany: false,
            deliveryType: '',
            btnDisabledData: false,
            companyFieldsData: this.companyFields ?? [],
            deliveryFieldsData: this.deliveryFields ?? [],
            realtimeValidation: false,
            rules: {
                email: isEmail,
            },
            pickupOffice: '',
            deliveryAddress: this.defaultDeliveryAddress ? this.defaultDeliveryAddress : '',
            error: '',
            successTitle: '',
            successMessage: '',
            showSuccessPopup: false,
            userComment: '',
        };
    },
    computed: {
        errorsExistsCompany() {
            return Object.values(this.companyFieldsData).some((item) => item.error);
        },
        errorsExistsDelivery() {
            return Object.values(this.deliveryFieldsData).some((item) => item.error);
        },
        haveDeliveryAddress() {
            return this.deliveryAddressesOptions && this.deliveryAddressesOptions.length;
        },
        haveDeliveryAddressDefault() {
            return this.defaultDeliveryAddress && this.defaultDeliveryAddress.address;
        },
    },
    methods: {
        openSuccessPopup() {
            this.showSuccessPopup = true;
            disableBodyScroll(this.$el, { reserveScrollBarGap: true });
        },
        closeSuccessPopup() {
            this.showSuccessPopup = false;
            enableBodyScroll(this.$el);
        },
        pickupOfficeChange(office) {
            if (this.realtimeValidation) {
                this.error = '';
            }
            this.pickupOffice = office;
        },
        deliveryAddressChange(address) {
            this.deliveryAddress = address;
        },
        changeDeliveryType(e, type) {
            this.deliveryType = type;
            if (type === 'delivery' && this.$refs.deliveryCheckboxDelivery.checked) {
                this.$refs.deliveryCheckboxPickup.checked = false;
            }
            if (type === 'delivery' && !this.$refs.deliveryCheckboxDelivery.checked) {
                this.deliveryType = '';
            }
            if (type === 'pickup' && this.$refs.deliveryCheckboxPickup.checked) {
                this.$refs.deliveryCheckboxDelivery.checked = false;
            }
            if (type === 'pickup' && !this.$refs.deliveryCheckboxPickup.checked) {
                this.deliveryType = '';
            }
            if (this.realtimeValidation && this.deliveryType !== '') {
                this.error = '';
            }
        },
        checkFieldsObjects(fieldsList) {
            fieldsList.forEach((item) => {
                if (item.required) {
                    item.error = !item.value;
                }
                if (item.length_value) {
                    item.error = item.value && item.value.length !== item.length_value;
                }
                if (item.validate_rule && item.validate_rule === 'phone') {
                    item.error = !item.value;
                }
                if (item.validate_rule && item.validate_rule === 'email') {
                    item.error = !(this.rules.email(item.value));
                }
            });
            return fieldsList;
        },
        validateFields() {
            if (this.buyViaCompany) {
                this.companyFieldsData = this.checkFieldsObjects(this.companyFieldsData);
            }
            if (this.deliveryType === 'delivery') {
                this.deliveryFieldsData = this.checkFieldsObjects(this.deliveryFieldsData);
            }
            if (this.buyViaCompany && this.errorsExistsCompany) {
                this.error = this.errorsText.companyFieldsEmpty;
            } else if (this.deliveryType === 'pickup' && !this.pickupOffice) {
                this.error = this.errorsText.pickupOfficeEmpty;
            } else if (!this.deliveryType) {
                this.error = this.errorsText.deliveryTypeEmpty;
            } else if (this.deliveryType === 'delivery' && this.errorsExistsDelivery) {
                this.error = this.errorsText.deliveryAddressEmpty;
            } else {
                this.error = '';
            }
        },
        checkForm() {
            this.btnDisabled = true;
            this.validateFields();
            this.realtimeValidation = true;

            if (this.deliveryType === 'delivery' && !this.errorsExistsDelivery && !this.error) {
                this.sendData();
            } else if (!this.error) {
                this.sendData();
            } else {
                this.btnDisabled = false;
            }
        },
        sendData() {
            axios.post(this.action, {
                buy_via_company: this.buyViaCompany,
                company_fields: this.companyFieldsData,
                delivery_type: this.deliveryType,
                pickup_office: this.pickupOffice,
                delivery_fields: this.deliveryFields,
                delivery_address: this.deliveryAddress,
                user_comment: this.userComment,
            })
                .then((response) => {
                    let redirectUrl = '';
                    this.btnDisabled = false;
                    if (response.data.status === 'success') {
                        this.successTitle = response.data.success_title;
                        this.successMessage = response.data.success_message;
                        redirectUrl = response.data.redirectUrl ? response.data.redirectUrl : '/ru/profile/orders';
                    }
                    this.openSuccessPopup();
                    setTimeout(() => {
                        this.closeSuccessPopup();
                        if (redirectUrl) {
                            window.location = redirectUrl;
                        }
                    }, 4000);

                    this.error = response.data.error ?? '';
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        this.error = 'Ошибка сети. Пожалуйста, проверьте ваше подключение.';
                    } else {
                        this.error = error.message ? error.message : error.response.data.message;
                    }
                });
        },
    },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
