.academy-page {
  max-width: 100%;
}

.academy-page__inner {
  width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

.academy-page__title {
  font: $regular 31px/1.03 $font-family-base;
  text-align: center;
  margin-bottom: 60px;
}

.academy-page__description {
  margin-bottom: 60px;
}

.academy-page__description-content {
  display: flex;
}

.academy-page__description-img {
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.academy-page__description-text-box {
  padding: 50px;
}

.academy-page__description-text {
  font-size: 22px;
}

.academy-page__knowledge-base-title {
  font: $regular 30px/1 $font-family-base;
  color: #515151;
  text-align: center;
  margin-bottom: 30px;
}

.academy-page__knowledge-base-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

.academy-page__knowledge-base-card {
  position: relative;
  width: 48%;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;

  &:hover {
    .academy-page__knowledge-base-card-links-list {
      transform: translateY(0);
    }
  }
}

.academy-page__knowledge-base-card-img {
  width: 50%;
  max-width: 50%;
  object-fit: cover;
  aspect-ratio: 4/4;
}

.academy-page__knowledge-base-card-text-box {
  width: 50%;
  padding: 20px;
  background-color: rgba(15,45,210,0.6);
  color: $white;
  text-align: end;
}

.academy-page__knowledge-base-card-title {
  font-size: 40px;
  margin: 20px 0 30px;
}

.academy-page__knowledge-base-card-description {
  font-size: 20px;
}

.academy-page__knowledge-base-card-links-list {
  width: 100%;
  padding: 20px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.6s;
  background-color: rgba(255,255,255,0.5);
}

.academy-page__knowledge-base-card-link-box {
  padding: 10px;
  font: 700 20px/1 $font-family-base;
  text-align: center;
}

.academy-page__knowledge-base-card-link {
  display: block;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.academy-page__knowledge-base-card-single-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:focus {
    outline: 1px dotted black;
  }
}

.academy-page__education-methods {
  background-color: #2b2b2b;
  padding: 60px;
}

.academy-page__education-methods-title {
  font: $bold 30px/1 $font-family-base;
  color: $white;
  text-align: center;
  margin-bottom: 60px;
}

.academy-page__education-methods-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.academy-page__education-methods-card {
  width: 50%;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.academy-page__education-methods-card-img {
  fill: #a07c62;
  stroke: #a07c62;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.academy-page__education-methods-card-title {
  margin: 20px;
  font: $bold 26px/1 $font-family-base;
  color: #a07c62;
}

.academy-page__education-methods-card-description {
  font: $regular 18px/1 $font-family-base;;
  color: #cecece;
}

@media screen and(max-width: 1280px) {
  .academy-page__inner {
    width: 900px;
    padding: 0 15px;
  }

  .academy-page__description-content {
    flex-direction: column;
  }

  .academy-page__description-img {
    width: 100%;
    margin-bottom: 30px;
  }

  .academy-page__knowledge-base-card-title {
    font-size: 1.75rem;
  }

  .academy-page__education-methods-card {
    padding: 30px 50px;
  }

  .academy-page__education-methods-card-title {
    margin: 10px;
  }

  .academy-page__education-methods-card-description {
    margin-top: auto;
  }
}

@media screen and(max-width: 910px) {
  .academy-page__inner {
    width: 100%;
  }

  .academy-page__description-text-box {
    padding: 30px;
  }

  .academy-page__knowledge-base-card {
    width: 100%;
    padding: 20px 50px;
  }

  .academy-page__education-methods-card {
    width: 100%;
    padding: 50px 100px;
  }
}

@include tablet-sm() {
  .academy-page__description-text-box {
    padding: 15px;
  }

  .academy-page__knowledge-base-card {
    padding: 20px 0;
  }

  .academy-page__education-methods {
    padding: 15px;
  }

  .academy-page__education-methods-card {
    padding: 30px 0;
  }
}

@include phone-lg() {

  .academy-page__knowledge-base-card-img {
    width: 40%;
  }

  .academy-page__knowledge-base-card-text-box {
    width: 60%;
  }

  .academy-page__knowledge-base-card-title {
    font-size: 1.25rem;
  }

  .academy-page__knowledge-base-card-description {
    font-size: 1rem;
  }
}
