$academy-text-color: #cecece;

.academy-form__container {
  padding: 20px 120px 40px;
  background-color: #2b2b2b;
}

.academy-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
}

.academy-form__title {
  display: block;
  margin: 15px auto;
  color: $white;
  font: $bold 1.875rem/0.8 $font-family-base;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;

  &:hover,
  &:active {
    color: rgba(255,255,255,0.5);
  }

  &:focus-visible {
    outline: 1px solid white;
  }
}

.academy-form__input-box {
  display: flex;
  flex-direction: column;
}

.academy-form__input-label {
  color: $academy-text-color;
  font-size: 16px;
}

.academy-form__input {
  padding: 10px;
  border-radius: 10px;
  font: $regular 20px/1.2 $font-family-base;
  color: $black;

  &::placeholder {
    color: $academy-text-color;
  }

  &--error {
    border: 2px solid tomato;
  }
}

.academy-page__input-phone-box {
  position: relative;
  display: grid;
  grid-template-columns: 70px 5fr;
  column-gap: 10px;
}

.academy-page__country-select {
  border-radius: 10px;
}

.academy-page__country-icon {
  position: absolute;
  left: 30px;
  top: 25%;
  border: 1px solid black;
  pointer-events: none;
}

.academy-form__error-highlight {
  color: tomato;
  display: block;
  font: $regular 16px/1.2 $font-family-base;
  padding: 5px 0;
  min-height: 30px;
}

.academy-form__btn {
  grid-column: span 2;
  display: block;
  margin: auto;
  padding: 15px 20px;
  border-radius: 10px;
  font: $regular 20px/1.2 $font-family-base;
  color: $black;
  background-color: $white;

  &:disabled {
    color: $academy-text-color;
    cursor: auto;

    &:hover {
      background-color: $white;
    }
  }

  &:hover,
  &:focus {
    background-color: $academy-text-color;
  }

  &:active {
    transform: scale(0.95);
  }
}

.academy-form__toggle-enter-active,
.academy-form__toggle-leave-active {
  transition: opacity .5s, transform .5s;
}

.academy-form__toggle-enter,
.academy-form__toggle-leave-to {
  opacity: 0;
  transform: translateY(-150px) scaleX(2);
}

@media screen and(max-width: 1280px){
  .academy-page__input-phone-box {
    grid-template-columns: 70px 1fr;
  }
}

@media screen and(max-width: 910px) {
  .academy-form__container {
    padding: 20px 60px 40px;
  }
}

@media screen and(max-width: 700px) {
  .academy-form {
    display: block;
  }

  .academy-form__input {
    width: 100%;
  }
}

@include phone-lg() {
  .academy-form__container {
    padding: 20px 30px 40px;
  }
}
