<template>
    <section class="confirmation-code-form">
        <strong class="confirmation-code-form__title">
            {{ text.inputCode }}
        </strong>
        <p
            class="confirmation-code-form__text"
        >
            {{ type === 'phone' ? text.codeWasSendPhone : text.codeWasSendEmail }}
            <span
                class="confirmation-code-form__input-value"
            >
                {{ inputValue }}
            </span>
            <button
                type="button"
                class="confirmation-code-form__text-change-btn"
                :disabled="btnDisabled"
                @click="closeConfirmCodeForm"
            >
                {{ text.changeInputValue }}
            </button>
        </p>
        <div class="confirmation-code-form__inputs-wrap">
            <template
                v-for="(input, index) in inputsData"
            >
                <input
                    :key="'confirmation-code-input-'+index"
                    v-model="inputsData[index]"
                    max="9"
                    maxlength="1"
                    size="1"
                    type="number"
                    :class="[
                        'confirmation-code-form__input',
                        'hide-spins-input',
                        'js--confirmation-form-input'
                    ]"
                    @input="checkInputFilling($event, index)"
                >
            </template>
        </div>
        <div class="confirmation-code-form__new-code-btn-wrap">
            <button
                type="button"
                class="confirmation-code-form__new-code-btn"
                :disabled="btnDisabled"
                @click="getNewCode"
            >
                {{ text.getNewCode }}
            </button>
        </div>
        <p
            v-if="error"
            class="confirmation-code-form__error"
        >
            {{ error }}
        </p>
        <div class="confirmation-code-form__login-btn-wrap">
            <button
                type="button"
                class="confirmation-code-form__login-btn btn"
                :disabled="btnDisabled || !checkCodeLength"
                @click="sendForm"
            >
                {{ text.login }}
            </button>
        </div>
    </section>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ConfirmationCodeForm',
    props: {
        type: String,
        action: String,
        getNewCodeAction: String,
        codeLength: Number,
        text: Object,
        inputValue: String,
    },
    data() {
        return {
            error: '',
            btnDisabled: false,
            inputsData: [],
            inputValueData: '',
        };
    },
    computed: {
        checkCodeLength() {
            return this.inputValueData ? this.inputValueData.length === this.codeLength : false;
        },
    },
    created() {
        this.rebaseInputsValues();
    },
    mounted() {
        this.setFocusOnFirstInput();
    },
    methods: {
        checkInputFilling(e, index) {
            const codeInputs = document.querySelectorAll('.js--confirmation-form-input');
            const { value } = codeInputs[index];
            if (value.length === 1) {
                if (codeInputs[index + 1]) {
                    codeInputs[index + 1].focus();
                }
            } else {
                codeInputs[index].value = value[0] ?? '';
                this.inputsData[index] = value[0] ?? '';
            }

            let userCodeValue = '';
            this.inputsData.forEach((item) => {
                userCodeValue += item;
            });
            this.inputValueData = userCodeValue;
            if (!this.inputsData[index] && codeInputs[index - 1]) {
                codeInputs[index - 1].focus();
            }
        },
        sendForm() {
            this.btnDisabled = true;
            axios.post(this.action, {
                code: this.inputValueData,
                type: this.type,
                login: this.inputValue,
            })
                .then((response) => {
                    if (response.data.data.is_registered) {
                        document.location.href = response.data.data.link;
                    } else {
                        this.$emit('close-confirm-code-form');
                        this.$emit('open-registration-form');
                    }
                })
                .catch((error) => {
                    this.btnDisabled = false;

                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        this.error = error.response.data.message || error.message;
                    }
                })
                .finally(() => {
                    this.btnDisabled = false;
                });
        },
        getNewCode() {
            this.btnDisabled = true;
            axios.post(this.getNewCodeAction, {
                login: this.inputValue,
                type: this.type,
            })
                .then(() => {
                    this.rebaseInputsValues();
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        this.error = error.response.data.message || error.message;
                    }
                })
                .finally(() => {
                    this.btnDisabled = false;
                });
        },
        rebaseInputsValues() {
            this.inputsData = [];
            for (let i = 0; i < this.codeLength; i++) {
                this.inputsData.push('');
            }
        },
        closeConfirmCodeForm() {
            this.$emit('close-confirm-code-form');
        },
        setFocusOnFirstInput() {
            const codeInputs = document.querySelectorAll('.js--confirmation-form-input');
            if (codeInputs.length) {
                codeInputs[0].focus();
            }
        },
    },
};
</script>
