<template>
    <div class="login-form__wrap">
        <div
            v-if="tabsView"
            class="login-form__tabs"
        >
            <button
                :class="[
                    'login-form__tab',
                    {'login-form__tab--active': showRegistrationForm}
                ]"
                type="button"
                @click="showRegistrationForm = true"
            >
                {{ text.registration }}
            </button>
            <button
                :class="[
                    'login-form__tab',
                    {'login-form__tab--active': !showRegistrationForm}
                ]"
                type="button"
                @click="showRegistrationForm = false"
            >
                {{ text.auth }}
            </button>
        </div>

        <section
            v-show="!showConfirmationForm && !showRegistrationForm"
            class="login-form"
        >
            <div
                :class="[
                    'login-form__input-wrap',
                    {'login-form__input-wrap--hide': changingLoginMode}
                ]"
            >
                <div class="text-field__container">
                    <label class="text-field__label">
                        <span class="text-field__title">
                            {{ loginVia === 'email' ? text.email : text.phone }}:
                        </span>
                        <input
                            v-model="loginValue"
                            :type="loginVia === 'email' ? 'email' : 'text'"
                            name="login"
                            :class="[
                                'text-field__input',
                                { 'text-field__input--error': loginInputError },
                            ]"
                            autocomplete="on"
                            @change="realtimeValidation ? validateFields() : false"
                        >
                    </label>
                </div>
            </div>
            <button
                type="button"
                class="login-form__action-btn btn btn--dark"
                @click="checkForm"
            >
                {{ text.getCode }}
            </button>
            <div class="login-form__divider">
                <span class="login-form__divider-text">
                    {{ text.or }}
                </span>
            </div>
            <div class="login-form__btn-mode-wrap">
                <button
                    type="button"
                    :class="[
                        'login-form__btn-mode',
                        {'login-form__btn-mode--hide': changingLoginMode}
                    ]"
                    @click="changeLoginMode"
                >
                    <span v-show="loginVia === 'phone'">
                        {{ text.loginViaEmail }}
                    </span>
                    <span v-show="loginVia === 'email'">
                        {{ text.loginViaPhone }}
                    </span>
                </button>
            </div>
            <p class="login-form__social-networks-title">
                {{ text.loginViaSocialNetworks }}
            </p>
            <div class="login-form__social-networks">
                <a
                    class="login-form__social-network-link"
                    :href="socialNetworksUrl.instagram"
                >
                    <svg
                        class="login-form__social-network-icon"
                        aria-label="login-via-instagram--not-colored"
                    >
                        <use xlink:href="#instagram-icon--not-colored" />
                    </svg>
                    <svg
                        class="login-form__social-network-icon--colored"
                        aria-label="login-via-instagram"
                    >
                        <use xlink:href="#instagram-icon" />
                        <linearGradient
                            id="paint_linear_instagram"
                            x1="30"
                            y1="3.08"
                            x2="0"
                            y2="26.1"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#7C2BD2" />
                            <stop
                                offset=".33"
                                stop-color="#E24579"
                            />
                            <stop
                                offset=".53"
                                stop-color="#FF5440"
                            />
                            <stop
                                offset=".73"
                                stop-color="#FF8346"
                            />
                            <stop
                                offset=".89"
                                stop-color="#FFD754"
                            />
                        </linearGradient>
                    </svg>
                </a>
                <a
                    class="login-form__social-network-link"
                    :href="socialNetworksUrl.facebook"
                >
                    <svg
                        class="login-form__social-network-icon"
                        aria-label="login-via-facebook"
                    >
                        <use xlink:href="#facebook-icon--not-colored" />
                    </svg>
                    <svg
                        class="login-form__social-network-icon--colored"
                        aria-label="login-via-facebook"
                    >
                        <use xlink:href="#facebook-icon" />
                    </svg>
                </a>

                <a
                    class="login-form__social-network-link"
                    :href="socialNetworksUrl.google"
                >
                    <svg
                        class="login-form__social-network-icon"
                        aria-label="login-via-google"
                    >
                        <use xlink:href="#google-icon--not-colored" />
                    </svg>
                    <svg
                        class="login-form__social-network-icon--colored"
                        aria-label="login-via-google"
                    >
                        <use xlink:href="#google-icon" />
                    </svg>
                </a>
            </div>
        </section>
        <confirmation-code-form
            v-show="showConfirmationForm"
            ref="confirmationCodeForm"
            :type="loginVia"
            :action="actions.login"
            :get-new-code-action="actions.code"
            :code-length="confirmationCodeLength"
            :text="text"
            :input-value="loginValue"
            @close-confirm-code-form="showConfirmationForm = false"
            @open-registration-form="showRegistrationForm = true"
        />
        <registration-form
            v-show="showRegistrationForm"
            ref="registrationForm"
            :filled-field="loginVia"
            :tabs-view="tabsView"
            :input-value="loginValue"
            :text="text"
            :action="actions.registration"
        />
    </div>
</template>

<script>
import axios from 'axios';
import ConfirmationCodeForm from './confirmation-code-form.vue';
import RegistrationForm from './registration-form.vue';
import { isEmail, isPhone } from '../../utility/rules.js';

export default {
    name: 'LoginForm',
    components: {
        ConfirmationCodeForm,
        RegistrationForm,
    },
    props: {
        text: Object,
        actions: Object,
        loginViaDefault: String,
        socialNetworksUrl: Object,
        confirmationCodeLength: Number,
        tabsView: Boolean,
    },
    data() {
        return {
            loginVia: this.loginViaDefault ?? 'phone',
            realtimeValidation: false,
            changingLoginMode: false,
            btnDisabled: false,
            loginInputValue: '',
            showConfirmationForm: false,
            showRegistrationForm: false,
            loginValue: '',
            loginInputError: false,
            rules: {
                email: isEmail,
            },
        };
    },
    computed: {
        errorsExists() {
            return this.loginInputError;
        },
    },
    methods: {
        changeLoginMode() {
            this.changingLoginMode = true;
            setTimeout(() => {
                this.loginVia = this.loginVia === 'phone' ? 'email' : 'phone';
                this.changingLoginMode = false;
            }, 300);
        },
        validateFields() {
            if (this.loginVia === 'phone') {
                this.loginInputError = this.loginValue ? !isPhone(this.loginValue) : false;
            }
            if (this.loginVia === 'email') {
                this.loginInputError = this.loginValue
                    ? !(this.rules.email(this.loginValue)) : true;
            }
        },
        checkForm() {
            this.btnDisabled = true;
            this.validateFields();
            this.realtimeValidation = true;

            if (!this.errorsExists) {
                this.sendForm();
            } else {
                this.btnDisabled = false;
            }
        },
        sendForm() {
            axios.post(this.actions.code, {
                login: this.loginValue,
                type: this.loginVia,
            })
                .then(() => {
                    this.btnDisabled = false;

                    this.showConfirmationForm = true;
                    setTimeout(() => {
                        this.$refs.confirmationCodeForm.setFocusOnFirstInput();
                    }, 100);
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                });
        },
    },
};
</script>
