<template>
    <section class="registration-form">
        <strong
            v-if="!tabsView"
            class="registration-form__title"
        >
            {{ text.registration }}
        </strong>

        <div class="registration-form__inputs">
            <text-field
                class="login-form__input"
                :field-data.sync="userNameField"
                :error="userNameField.error"
                @change="realtimeValidation ? validateFields() : false"
            />

            <text-field
                class="login-form__input"
                :field-data.sync="userPhoneField"
                :error="userPhoneField.error"
                @change="realtimeValidation ? validateFields() : false"
            />

            <text-field
                class="login-form__input"
                :field-data.sync="userEmailField"
                :error="userEmailField.error"
                @change="realtimeValidation ? validateFields() : false"
            />
        </div>

        <div
            v-if="tabsView"
            class="registration-form__additional"
        >
            <button
                :class="['toggle', {'toggle--active': buyAsEntity}]"
                @click="buyAsEntity = !buyAsEntity"
            >
                <span class="toggle__title">{{ text.buyAsEntity }}</span>
                <span class="toggle__option-tumbler" />
            </button>

            <b class="registration-form__address-title">{{ text.addDeliveryAddress }}</b>

            <address-card
                class="registration-form__address-card"
                :address-data.sync="address"
                :show-actions="false"
                :text="text"
                :default-show-edit-form="true"
            />
        </div>

        <button
            type="button"
            class="login-form__action-btn btn btn--dark"
            @click="checkForm"
        >
            {{ text.toRegister }}
        </button>
    </section>
</template>

<script>
import axios from 'axios';
import TextField from '../text-field.vue';
import AddressCard from '../profile/address-card.vue';
import { isEmail, isPhone } from '../../utility/rules.js';

export default {
    name: 'RegistrationForm',
    components: {
        TextField,
        AddressCard,
    },
    props: {
        filledField: String,
        inputValue: String,
        text: Object,
        action: String,
        tabsView: Boolean,
    },
    data() {
        return {
            userNameField: {
                value: '',
                error: false,
                type: 'text',
                name: 'user_name',
                title: this.text.fio,
            },
            userPhoneField: {
                value: this.filledField === 'phone' ? this.inputValue : '',
                error: false,
                type: 'text',
                name: 'phone',
                title: this.text.phone,
            },
            userEmailField: {
                value: this.filledField === 'email' ? this.inputValue : '',
                error: false,
                type: 'email',
                name: 'email',
                title: this.text.email,
            },
            btnDisabled: false,
            realtimeValidation: false,
            rules: {
                email: isEmail,
            },
            buyAsEntity: false,
            address: {
                index: 0,
                fields: [
                    {
                        name: 'city',
                        type: 'text',
                        error: false,
                        title: this.text.city,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'street',
                        type: null,
                        error: false,
                        title: this.text.street,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'house_number',
                        type: 'text',
                        error: false,
                        title: this.text.house,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'apartment',
                        type: 'text',
                        error: false,
                        title: this.text.flat,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'delivery_company',
                        type: 'text',
                        error: false,
                        title: this.text.transportCompany,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'recipient',
                        type: 'text',
                        error: false,
                        title: this.text.recipient,
                        value: '',
                        required: false,
                        validate_rule: null,
                    },
                    {
                        name: 'phone',
                        type: 'text',
                        error: false,
                        title: this.text.recipientPhone,
                        value: '',
                        required: false,
                        validate_rule: 'phone',
                    },
                ],
            },
        };
    },
    watch: {
        inputValue() {
            this.setDefaultData();
        },
        filledField() {
            this.setDefaultData();
        },
    },
    methods: {
        checkForm() {
            this.btnDisabled = true;
            this.validateFields();
            this.realtimeValidation = true;

            if (!this.errorsExists()) {
                this.sendForm();
            } else {
                this.btnDisabled = false;
            }
        },
        validateFields() {
            this.userNameField.error = this.userNameField.value ? this.userNameField.value.length < 3 : true;
            this.userPhoneField.error = this.userPhoneField.value
                ? !isPhone(this.userPhoneField.value) : false;
            this.userEmailField.error = this.userEmailField.value
                ? !(this.rules.email(this.userEmailField.value)) : true;
        },
        errorsExists() {
            return this.userNameField.error || this.userPhoneField.error || this.userEmailField.error;
        },
        sendForm() {
            this.btnDisabled = true;
            axios.post(this.action, {
                name: this.userNameField.value,
                phone: this.userPhoneField.value,
                email: this.userEmailField.value,
                buyAsEntity: this.buyAsEntity,
                address: this.address.fields.map((item) => ({ name: item.name, value: item.value })),
            })
                .then((response) => {
                    document.location.href = response.data.data.link;
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        alert('Ошибка сети. Пожалуйста, проверьте ваше подключение.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                })
                .finally(() => {
                    this.btnDisabled = false;
                });
        },
        setDefaultData() {
            if (this.filledField === 'phone') {
                this.userPhoneField.value = this.inputValue;
                this.userEmailField.value = '';
            } else {
                this.userPhoneField.value = '';
                this.userEmailField.value = this.inputValue;
            }
        },
    },
};
</script>
