<template>
    <div
        :class="['popup__wrap', {'popup__wrap--show': popupIsOpened}]"
    >
        <div
            :class="['popup', {'popup--show': popupIsOpened}]"
        >
            <div class="popup__content">
                <h2 class="popup__title">
                    {{ popupTitle }}
                </h2>
                <p class="popup__subtitle">
                    {{ popupDescription }}
                </p>
                <button
                    class="popup__close-btn"
                    style="font-size: 0"
                    @click="$emit('close-popup')"
                >
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'SuccessPopup',
    props: {
        popupTitle: String,
        popupDescription: String,
        popupIsOpened: Boolean,
    },
    mounted() {
        window.addEventListener('keyup', (e) => {
            if (e.key === 'Escape') {
                this.$emit('close-popup');
            }
        });
    },
};
</script>
