
.address-card {
  display: flex;
  flex-direction: column;
  border: 1px dashed $gray-4;
  transition: box-shadow 0.3s;

  &--saved {
    //border: 1px solid $gray-4;
    border-color: transparent;
    box-shadow: 0 0 15px rgba($black, 0.08);
  }

  &--open {
    border: 1px solid $gray-4;
  }

  &--flex-start {
    align-self: flex-start;
  }
}

.address-card--saved.address-card--open {
  box-shadow: none;
}

.address-card__head-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  padding: 0 26px 0 30px;
  background-color: $white;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;

  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $gray-6;
    outline: none;
  }
}

.address-card__head-btn-symbol {
  position: relative;
  width: 17px;
  height: 17px;

  transition: transform 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 0;
    border-top: 1px solid $gray-2;
  }

  &::before {
    top: 50%;
    left: 0;
    transform: rotate(90deg);
  }

  &::after {
    top: 50%;

    transition: opacity 0.3s, visibility 0.3s;
  }
}

.address-card--open .address-card__head-btn-symbol {
  transform: rotate(90deg);

  &::after {
    opacity: 0;
    visibility: hidden;
  }
}

.address-card__field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  color: $gray-2;
}

.address-card__field-group-title {
  font: $regular 18px/1.25 $font-family-base;
}

.address-card__field-group-value {
  min-height: 1.1em;
  font: $regular 22px/1.25 $font-family-base;
}

.address-card__fields-section {
  padding: 10px 29px;
}

.address-card__fields-read .address-card__field-group:last-of-type {
  margin-bottom: 0;
}

.address-card__checkbox {
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;
}

.address-card__checkbox-wrap {
  margin-top: 31px;
}

.address-card__actions-read {
  display: flex;
  justify-content: flex-end;
  padding: 28px 26px 18px;

  .address-card__btn {
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.address-card__btn {
  color: $gray-4;
  font: $regular 18px/1.25 $font-family-base;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $gray-2;
    outline: none;
  }
}

.address-card__action-edit {
  display: flex;
  justify-content: flex-start;
  padding: 36px 26px 20px;

  .address-card__btn-edit {

    justify-content: center;
    margin-right: 32px;
    padding: 0 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.address-card__fields-edit {
  margin-top: -5px;

  .text-field__title {
    margin-bottom: 1px;
  }

  .text-field__input {
    padding-bottom: 0;
  }

  .text-field__label {
    margin-bottom: 14px;
  }

  .text-field__container:last-of-type {
    margin-bottom: 6px;
  }
}


@include tablet-md {
  .address-card__fields-section {
    padding: 10px 9px;
  }

  .address-card__action-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 9px 20px;
  }

  .address-card__btn-edit {
    &:first-of-type {
      margin-right: 25px !important;
    }
  }

  .address-card__head-btn {
    font-size: 18px;
  }
}
