.my-news {
  padding: 0 32px;
  background-color: $white;
  color: $gray-2;
  box-shadow: 0 0 30px rgba(104, 104, 104, 0.08);

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.my-news__header {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 25px;
}

$thumb-width: 78px;
$content-side-width: calc(100% - #{$thumb-width} - 40px);

.my-news__header-thumb {
  width: $thumb-width;
  height: $thumb-width;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;

  &:focus {
    outline: none;
  }
}

.my-news__header-info {
  position: relative;
  width: $content-side-width;
}

.my-news__title-wrap {
  margin-top: 20px;
}

.my-news__title {
  display: inline;
  box-shadow:
    inset 0 -2px $white,
    inset 0 -3px transparent;
  font-weight: $regular;
  font-size: 26px;
  font-family: $font-family-secondary;
  line-height: 27px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;


  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow:
      inset 0 -2px $white,
      inset 0 -3px $gray-2;
  }
}

.my-news__date {
  display: inline-block;
  margin-top: 7px;
  color: $gray-4;
  font-size: 18px;
  line-height: 22px;
}

.my-news__header-download-link {
  position: absolute;
  right: 0;
  bottom: -15px;
  transition: opacity 0.15s linear;

  &:focus,
  &:hover {
    outline: none;

    .my-news__header-download-link-icon {
      fill: $gray-3;
    }
  }

  &--hide {
    opacity: 0;
  }
}

.my-news__header-download-link-icon {
  fill: $gray-2;
  transition: fill 0.1s linear;
}

.my-news__content-wrap {
  display: flex;
}

.my-news__content {
  width: $content-side-width;
  margin-left: auto;
  padding-bottom: 30px;
}

.my-news__content-image {
  display: block;
  max-width: 100%;
  margin-bottom: 25px;
}

.my-news__content-text {
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;

  p,
  ul,
  ol,
  li {
    margin-bottom: 0.35em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em 0 1em;
    font-weight: $regular;
    font-family: $font-family-secondary;
    line-height: 1.17;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 18px;
  }

  ol {
    counter-reset: s 0;

    li {
      &::before {
        content: counter(s) ". ";
        counter-increment: s 1;
      }
    }
  }

  table {
    margin-top: 20px;
    border: 1px solid $gray-5;
    border-collapse: collapse;
  }

  tr {
    &:first-child {
      border-bottom: 1px solid $gray-5;

      td {
        padding: 15px 45px;
        text-align: center;
      }
    }

    &:nth-child(2) {
      td {
        padding-top: 25px;
      }
    }

    &:last-child {
      td {
        padding-bottom: 25px;
      }
    }
  }

  td {
    padding: 3px 45px;
    text-align: center;
  }

}

.my-news__download-links {
  margin-top: 40px;
}

.my-news__download-links-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.my-news__download-link {
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    outline: none;

    .my-news__download-links-title {
      border-bottom-color: inherit;
    }
  }
}

.my-news__download-links-title {
  margin-left: 25px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s linear;
}

.my-news__download-links-icon {
  fill: $gray-2;
}

.my-news__preloader {
  display: block;
  width: 30px;
  height: 30px;
  margin: 25px auto;
  border: 3px solid $red;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(0);
  animation: rotate_preloader 0.75s linear infinite;
}

@keyframes rotate_preloader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@include screen-md {
  .my-news__title {
    font-size: 24px;
  }
}

@include screen-sm {

  $thumb-width: 55px;
  $content-side-width: calc(100% - #{$thumb-width} - 25px);

  .my-news__title {
    font-size: 22px;
  }

  .my-news__date {
    font-size: 16px;
  }

  .my-news__header-thumb {
    width: $thumb-width;
    height: $thumb-width;
  }

  .my-news__header-info {
    width: $content-side-width;
  }

  .my-news__content {
    width: $content-side-width;
  }

  .my-news__title-wrap {
    margin-top: 0;
  }
}

@include tablet-lg {
  .my-news {
    padding: 0 10px;
  }

  .my-news__header {
    padding: 20px 0 25px;
  }
}

@include tablet-sm {
  .my-news__content {
    width: 100%;
  }
}
