.orders {
  border: 1px solid $gray-5;
  border-bottom: 0;
  color: $gray-2;
}

.orders__row {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 28px 0 30px;
  border-bottom: 1px solid $gray-5;

  &--head {
    padding: 10px 0 15px;
  }

  &--handler {
    cursor: pointer;
  }
}

.orders__col {

  flex-shrink: 0;
  width: 25%;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  &--head {
    font-size: 22px;
    line-height: 27px;
  }
}

.orders__mobile-header-data {
  display: none;
}

.orders__order-status {
  &--confirm {
    color: $green;
  }

  &--not_confirm {
    color: $gray-1;
  }

  &--paid {
    color: $blue;
  }

  &--shipped {
    color: $violet;
  }

}

.orders__order-toggle-indicator {
  position: absolute;
  top: 50%;
  left: 0;

  width: 48px;
  height: 48px;

  transform: translateY(-50%);

  &::before,
  &::after {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 0;
    border-bottom: 1px solid $gray-2;

    background-color: $gray-2;
    transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &::before {
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &--open {
    &::after {
      transform: translate(-50%, -50%) rotate(0);
    }
  }
}

.orders__order-content {
  padding: 20px 35px 20px 20px;
  border-bottom: 1px solid $gray-5;
}

.orders__order-content-title {
  font-size: 22px;
}

.orders__order-product {
  margin-top: 35px;
}

.orders__order-product-title {
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 27px;
}

.orders__order-product-parameters {
  display: flex;
  margin-top: 10px;
}

.orders__order-product-parameters-item {
  font-size: 18px;
  line-height: 22px;

  &:not(:first-of-type) {
    margin-left: 30px;
  }
}

.orders__order-total {
  margin-top: 35px;
  font-size: 22px;
  line-height: 27px;
  text-align: right;
}

.orders__comment {
  width: 500px;
  max-width: 100%;
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  word-break: break-word;
}

.orders__download-btn {
  display: inline-flex;
  margin-top: 20px;
  padding: 0 23px;
  font-weight: $regular;
}

.orders__order-footer {
  display: flex;
}

.orders__cancel-order-btn {
  margin-top: 34px;
  margin-left: auto;
  border-bottom: 1px solid transparent;

  color: $blue;
  font-size: 18px;
  line-height: 1;
  transition: border-bottom-color 0.1s linear;

  &:focus,
  &:hover {
    border-bottom-color: inherit;
    outline: none;
  }

  &:disabled {
    color: $gray-5;
    cursor: not-allowed;

    &:focus,
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.orders__order-error {
  margin-top: 15px;
  color: $red;
  font-weight: $bold;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
}

@include screen-md {
  .orders__order-product-title {
    font-size: 20px;
    font-family: $font-family-secondary;
    line-height: 25px;
  }
}

@include screen-sm {
  .orders__order-total {
    text-align: left;
  }

  .orders__cancel-order-btn {
    margin-left: 0;
  }
}

@include tablet-sm {
  .orders__order-product-parameters {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .orders__order-product-parameters-item {
    margin: 5px 0 !important;
  }

  .orders__order-product {
    margin-top: 15px;
  }

  .orders__order-total {
    margin-top: 20px;
  }
}

@include phone-lg {
  .orders__row {
    &--head {
      display: none;
    }

    &--handler {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 0 15px 60px;
    }
  }

  .orders__col {
    width: 100%;
    margin: 3px 0;
    text-align: left;
  }

  .orders__mobile-header-data {
    display: inline-block;
    margin-right: 15px;
  }

  .orders__order-content {
    padding: 15px 10px;
  }
}
