.price-list__filter {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $inactive;
}

.price-list__filter-dropdown {
  position: relative;
}

.price-list__filter-dropdown-handle {
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  background: $white;
  color: $gray-2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  line-height: 22px;
}

.price-list__filter-dropdown-handle-icon {
  margin-left: auto;
  stroke: $gray-2;
  transition: transform 0.2s ease-in-out;

  &--open {
    transform: rotateX(180deg);
  }
}

.price-list__filter-btn {
  margin: 0 55px 18px 0;
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 18px;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus,
  &--active {
    border-bottom-color: inherit;
    outline: none;
  }
}

.price-list__table {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  border: 1px solid $gray-4;
  color: $gray-2;

  &--mobile {
    width: 100%;
    border-top: 0;
  }
}

.price-list__table-row {

  display: flex;

  &--head {
    border-bottom: 1px solid $gray-4;
  }

  &:nth-child(2) {
    .price-list__table-col {
      padding-top: 18px;
    }
  }

  &:last-child {
    .price-list__table-col {
      padding-bottom: 15px;
    }
  }

}

.price-list__table-col {
  width: 20%;
  padding: 5px;
  border-left: 1px solid $gray-4;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  &:first-child {
    border-left: 0;
  }

  &:nth-child(2) {
    width: 40%;
  }

  &--head {
    padding: 16px 5px 18px;
  }

  &--mobile {
    width: 100% !important;
    padding-left: 15px;
    text-align: left;
  }

  &--mobile-head {
    width: 100% !important;
    border-top: 1px solid $gray-4;
  }
}

.price-list__table-link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  line-height: 1;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus {
    border-bottom-color: inherit;
    outline: none;
  }
}

.price-list__table-parameter {
  margin-bottom: 2px;
}

@include screen-md {
  .price-list__table-col {
    font-size: 18px;
  }
}

@include screen-sm {
  .price-list__table-col {
    font-size: 16px;
  }
}

@include tablet-sm {
  .price-list__filter-dropdown-handle {
    display: flex;
  }

  .price-list__filter {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: block;
    padding: 25px;
    border-bottom: 0;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, transform 0.2s ease-in, visibility 0.2s linear;
    transform: translateY(10px);

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .price-list__filter-btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-bottom: 0;
    font-size: 18px;
    font-family: $font-family-base;

    &--active {
      color: $gray-4;
    }
  }

  .price-list__filter-dropdown-handle-title {
    text-transform: lowercase;
  }
}
