
.profile-user-data {
  display: flex;
  flex-wrap: nowrap;

  transition: padding-top 0.3s;

  &--edit {
    .profile-user-data__content,
    .profile-user-data__actions {
      margin-top: 36px;
    }
  }
}

.profile-user-data__content {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 57px;
  padding-bottom: 31px;
}

.profile-user-data__actions {
  display: flex;
  align-items: flex-end;
  margin-top: 57px;
}

.profile-user-data__edit {
  color: $gray-4;
  font: $regular 18px/1.2 $font-family-base;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $gray-2;
    outline: none;
  }
}

.profile-user-data__field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.profile-user-data__field-group-title {
  margin-bottom: 10px;
  color: $gray-2;
  font: $regular 18px/1.25 $font-family-base;
}

.profile-user-data__field-group-value {
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
}

.profile-user-data__content-edit {
  width: 463px;
  max-width: 100%;
  padding: 0;
  box-shadow: 0 0 20px rgba(120, 120, 120, 0.08);

  transition: padding 0.35s;

  &--show {
    padding: 20px 46px 24px;
  }

  &--company {
    width: 600px;
  }
}

.profile-user-data__content-actions {
  display: flex;
  justify-content: center;
  margin-top: 35px;

  .profile-user-data__btn:first-of-type {
    margin-right: 32px;
  }
}

.profile-user-data--company .profile-user-data__content-actions {
  justify-content: flex-start;
}

.profile-user-data__btn {
  padding: 0 28px;
}

.profile-user-data__wrapper {
  .toggle__title {
    color: $gray-2;
    font: $regular 22px/1.25 $font-family-base;
  }
}

.profile-user-data__toggle-container {
  margin-top: 17px;
}


@include tablet-md {
  .profile-user-data {
    flex-direction: column;
  }

  .profile-user-data__actions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }

  .profile-user-data__content-edit {

    padding: 20px 9px 24px;
  }

  .profile-user-data__content-actions {
    align-items: center;
    justify-content: center !important;
  }

  .profile-user-data__btn {
    padding: 0 30px;

    &:first-of-type {
      margin-right: 25px !important;
    }
  }

  .profile-user-data__content {
    margin-top: 30px;
  }

  .profile-user-data__field-group-title {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .profile-user-data__field-group-value {
    font-size: 18px;
  }

  .profile-user-data__wrapper {
    .toggle {
      justify-content: center;
      width: 100%;
    }

    .toggle__title {
      font-size: 18px;
    }
  }
}

