
.profile-address {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 32px);
}

.profile-address__card {
  width: calc(50% - 26px);
  margin-right: 52px;
  margin-bottom: 53px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

@include tablet-lg {
  .profile-address {
    width: 100%;
  }

  .profile-address__card {
    width: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@include tablet-md {
  .profile-address__card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
