.profile {
  margin-top: 90px;
}

.profile__inner {
  @include inner;
  padding-bottom: 120px;
}

.profile__aside {
  width: 300px;
}

.profile__main {
  width: calc(100% - 300px - 100px);
  padding-right: 200px;
}

.profile__registration-date {
  color: $gray-4;
  font: $regular 24px/1.25 $font-family-base;
}

.profile__registration-date-value {
  margin-left: 6px;
}

.profile__addresses-title {
  margin: 48px 0;
  color: $gray-2;
  font: 24px/1.25 $font-family-secondary;
}

@include screen-md {
  .profile__main {
    padding-right: 0;
  }
}

@include screen-sm {
  .profile {
    margin-top: 60px;
  }

  .profile__aside {
    width: 250px;
  }

  .profile__main {
    width: calc(100% - 250px - 50px);
  }
}

@include tablet-lg {
  .profile {
    margin-top: 50px;
  }

  .profile__aside {
    display: none;
  }

  .profile__main {
    width: 100%;
  }

  .profile__inner {
    padding-bottom: 70px;
  }
}

@include tablet-md {
  .profile__main {
    &--user-data {
      width: 290px;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .profile__registration-date {
    font-size: 18px;
  }

  .profile__addresses-title {
    margin: 48px 0;
    font-size: 22px;
  }
}

@include phone-lg {
  .profile {
    margin-top: 40px;
  }
}
