.profile-menu {
  width: 100%;
  color: $gray-2;
  font-family: $font-family-secondary;
}

.profile-menu__item {
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 22px;
  line-height: 25px;

  &--active {
    font-size: 24px;
    line-height: 25px;

    .profile-menu__item-link {
      border-bottom-color: inherit;
    }
  }

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.profile-menu__item-link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: inherit;
  line-height: 1;
  transition: border-bottom-color 0.1s linear;

  &:focus,
  &:hover {
    border-bottom-color: inherit;
    outline: none;
  }
}

.profile-menu__item-icon {
  margin-left: 10px;
  fill: $gray-2;
  transform: translateY(6px);
}
