<template>
    <div class="contacts-map__wrap">
        <gmap-map
            ref="googleMap"
            class="contacts-map js--contacts-map"
            :center="mapCenter"
            :options="{
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: false
            }"
            :zoom="zoom"
        >
            <gmap-custom-marker
                v-for="(item, index) in markers"
                :key="item.id+'-'+index"
                :marker="{
                    lat: parseFloat(item.position.lat),
                    lng: parseFloat(item.position.lng)
                }"
                :z-index="10"
                @click.native.stop="onMarkerClick(item)"
            >
                <span
                    :class="[
                        'contacts-map__marker',
                        {
                            'contacts-map__marker--active': selectedMarkerId ===
                                item.id && infoWindowOpen
                        }
                    ]"
                />
            </gmap-custom-marker>
            <gmap-info-window
                :position="mapCenter"
                :opened="infoWindowOpen"
                @closeclick="closeInfoWindow(selectedMarker)"
            >
                <div>
                    <article class="map-hint">
                        <img
                            class="map-hint__img"
                            :src="selectedMarker.img"
                            :alt="selectedMarker.title"
                            width="323"
                            height="202"
                        >
                        <section class="map-hint__content">
                            <div>
                                <strong class="map-hint__title">{{ selectedMarker.title }}</strong>
                            </div>
                            <p class="map-hint__address">
                                {{ selectedMarker.address }}
                            </p>
                            <div class="map-hint__phone-wrap">
                                <a
                                    class="map-hint__phone"
                                    :href="'tel:'+selectedMarker.phone"
                                >
                                    {{ selectedMarker.phone }}
                                </a>
                            </div>
                            <div>
                                <a
                                    class="map-hint__email"
                                    :href="'mailto:'+selectedMarker.phone"
                                >
                                    {{ selectedMarker.email }}
                                </a>
                            </div>
                        </section>
                    </article>
                </div>
            </gmap-info-window>
        </gmap-map>
    </div>
</template>

<script>
import GmapCustomMarker from 'vue2-gmap-custom-marker';

export default {
    name: 'ContactsMap',
    components: {
        GmapCustomMarker,
    },
    props: {
        markers: Array,
        center: Object,
    },
    data() {
        return {
            mapCenter: this.center,
            infoWindowOpen: false,
            infoWindowContent: '',
            selectedMarker: Object,
            selectedMarkerId: String,
            defaultZoom: 13,
            zoom: this.defaultZoom,
        };
    },
    mounted() {
        this.onMounted();
    },
    methods: {
        onMounted() {
            this.$refs.googleMap.$mapPromise.then((map) => {
                map.panTo(this.mapCenter);
            });

            if (this.markers.length > 1) {
                const lats = [];
                const lngs = [];
                this.markers.forEach((marker) => {
                    lats.push(parseFloat(marker.position.lat));
                    lngs.push(parseFloat(marker.position.lng));
                });

                const minLat = Math.min.apply(null, lats);
                const maxLat = Math.max.apply(null, lats);
                const minLng = Math.min.apply(null, lngs);
                const maxLng = Math.max.apply(null, lngs);
                const latDifference = maxLat - minLat;
                const lngDifference = maxLng - minLng;
                this.mapCenter.lat = minLat + (latDifference / 2);
                this.mapCenter.lng = minLng + (lngDifference / 2);

                const maxDifference = Math.max(latDifference, lngDifference);
                const newZoom = Math.floor(maxDifference * 1.5);
                if (maxDifference >= 30) {
                    this.zoom = 4;
                } else if (maxDifference >= 20) {
                    this.zoom = 5;
                } else if (maxDifference >= 10) {
                    this.zoom = 6;
                } else if (maxDifference >= 5) {
                    this.zoom = 7;
                } else if (maxDifference >= 1) {
                    this.zoom = newZoom;
                } else {
                    this.zoom = this.defaultZoom;
                }
            } else {
                this.zoom = this.defaultZoom;
            }
        },
        onMarkerClick(marker) {
            this.mapCenter.lat = parseFloat(marker.position.lat);
            this.mapCenter.lng = parseFloat(marker.position.lng);
            this.infoWindowOpen = true;
            this.infoWindowContent = marker.content;
            this.selectedMarkerId = marker.id;
            this.selectedMarker = marker;
        },
        closeInfoWindow(marker) {
            this.mapCenter.lat = parseFloat(marker.position.lat);
            this.mapCenter.lng = parseFloat(marker.position.lng);
            this.infoWindowOpen = false;
        },
        showMarker(address) {
            const marker = this.markers.find((item) => item.id === address.mapsMarkerId);
            this.onMarkerClick(marker);
            const mapBlock = document.querySelector('.js--contacts-map');
            if (mapBlock) {
                const mapCoords = mapBlock.getBoundingClientRect();
                const scrollPosition = window.scrollY;
                const mapScrollIndent = 28;
                const newScrollPosition = scrollPosition + mapCoords.top - mapScrollIndent;
                window.scrollTo(0, newScrollPosition);
            }
        },
    },
};
</script>
