<template>
    <div class="contacts-page">
        <div class="contacts-page__inner">
            <section class="contacts-page__table contacts-page__desktop">
                <div class="contacts-page__table-head">
                    <div class="contacts-page__table-cell">
                        <span class="contacts-page__table-head-text">
                            {{ text.address }}:
                        </span>
                    </div>
                    <div class="contacts-page__table-cell">
                        <span class="contacts-page__table-head-text">
                            {{ text.phone }}:
                        </span>
                    </div>
                    <div class="contacts-page__table-cell">
                        <span class="contacts-page__table-head-text">
                            {{ text.email }}:
                        </span>
                    </div>
                </div>
                <div
                    v-for="(item, index) in tableData"
                    :key="'contacts-table-row-'+index+'-'+item.id"
                    class="contacts-page__table-row"
                >
                    <div class="contacts-page__table-cell">
                        <p><strong>{{ text.city }}:</strong> {{ item.address.town }}</p>
                        <button
                            type="button"
                            :class="[
                                'contacts-page__table-address-btn',
                                {'contacts-page__table-address-btn-empty': !item.address.street}
                            ]"
                            @click="showMapMarker(item)"
                        >
                            <strong>{{ text.streetWithHouse }}:</strong> {{ item.address.street }}
                        </button>
                        <span>{{ item.address.additional }}</span>
                    </div>
                    <div class="contacts-page__table-cell">
                        <p
                            v-for="(phone, indexPhone) in item.phone"
                            :key="'contacts-phone-'+indexPhone+'-'+item.id+'-'+index"
                        >
                            <a
                                :href="'tel:'+phone.url"
                                class="contacts-page__table-link"
                            >
                                {{ phone.title }}
                            </a>
                        </p>
                    </div>
                    <div class="contacts-page__table-cell">
                        <p
                            v-for="(email, emailPhone) in item.email"
                            :key="'contacts-email-'+emailPhone+'-'+item.id+'-'+index"
                        >
                            <a
                                :href="'mailto:'+email.url"
                                class="contacts-page__table-link"
                            >
                                {{ email.title }}
                            </a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="contacts-page__mobile">
                <div class="contacts-page__mobile-title-wrap">
                    <strong class="contacts-page__mobile-title">
                        {{ text.mobileTitle }}:
                    </strong>
                </div>
                <div class="contacts-page__mobile-addresses">
                    <div class="contacts-page__mobile-addresses-column">
                        <template
                            v-for="(item, index) in tableData"
                        >
                            <mobile-address-card
                                v-if="index % 2 === 0"
                                :key="'mobile-address-'+item.id+'-'+index"
                                :address="item.address"
                                :phones="item.phone"
                                :emails="item.email"
                                :text="text"
                                class="contacts-page__mobile-address-card"
                                @on-address-click="showMapMarker(item)"
                            />
                        </template>
                    </div>
                    <div class="contacts-page__mobile-addresses-column">
                        <template
                            v-for="(item, index) in tableData"
                        >
                            <mobile-address-card
                                v-if="index % 2 !== 0"
                                :key="'mobile-address-'+item.id+'-'+index"
                                :address="item.address"
                                :phones="item.phone"
                                :emails="item.email"
                                :text="text"
                                class="contacts-page__mobile-address-card"
                                @on-address-click="showMapMarker(item)"
                            />
                        </template>
                    </div>
                </div>
            </section>

            <contacts-map
                ref="contactsMap"
                :api-key="mapData.apiKey"
                :center="mapData.center"
                :markers="mapData.markers"
            />
        </div>
    </div>
</template>

<script>
import ContactsMap from './contacts-map.vue';
import MobileAddressCard from './mobile-address-card.vue';

export default {
    name: 'ContactsPage',
    components: {
        ContactsMap,
        MobileAddressCard,
    },
    props: {
        text: Object,
        tableData: Array,
        mapData: Object,
    },
    methods: {
        showMapMarker(address) {
            this.$refs.contactsMap.showMarker(address);
        },
    },
};
</script>
