<template>
    <article
        :class="[
            'mobile-address-card',
            {'mobile-address-card--open': cardOpen}
        ]"
    >
        <button
            type="button"
            class="mobile-address-card__toggle"
            @click="changeCardState"
        >
            {{ address.town }}
            <svg
                role="img"
                width="8"
                height="22"
                class="mobile-address-card__toggle-icon"
            >
                <use xlink:href="#filter-arrow" />
            </svg>
        </button>
        <slide-up-down
            :active="cardOpen"
            :duration="350"
            class="mobile-address-card__content"
        >
            <div class="mobile-address-card__content-inner">
                <button
                    v-if="address.street"
                    type="button"
                    class="mobile-address-card__address"
                    @click="onAddressClick"
                >
                    <span class="mobile-address-card__address-title">
                        {{ text.streetWithHouse }}:
                    </span>
                    {{ address.street }}
                </button>
                <p
                    v-if="address.additional"
                    class="mobile-address-card__address-additional"
                >
                    {{ address.additional }}
                </p>
                <ul
                    v-if="phones.length > 0"
                    class="mobile-address-card__address-phones"
                >
                    <li
                        v-for="(phone, phoneIndex) in phones"
                        :key="'contacts-mobile-address-phone-'+phone.title+'-'+phoneIndex"
                    >
                        <a
                            :href="'tel:'+phone.url"
                            class="mobile-address-card__address-link"
                        >
                            {{ phone.title }}
                        </a>
                    </li>
                </ul>
                <ul
                    v-if="emails.length > 0"
                    class="mobile-address-card__address-phones"
                >
                    <li
                        v-for="(email, emailIndex) in emails"
                        :key="'contacts-mobile-address-phone-'+email.title+'-'+emailIndex"
                    >
                        <a
                            :href="'mailto:'+email.url"
                            class="mobile-address-card__address-link"
                        >
                            {{ email.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </slide-up-down>
    </article>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';

export default {
    name: 'MobileAddressCard',
    components: {
        SlideUpDown,
    },
    props: {
        address: Object,
        addressAdditional: String,
        phones: Array,
        emails: Array,
        text: Object,
    },
    data() {
        return {
            cardOpen: false,
        };
    },
    methods: {
        changeCardState() {
            this.cardOpen = !this.cardOpen;
        },
        onAddressClick() {
            this.$emit('on-address-click');
        },
    },
};
</script>
