<template>
    <div class="custom-video__wrap">
        <video
            ref="video"
            width="800"
            height="480"
            class="custom-video"
        >
            <source
                :src="urlMp4"
                type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"
            >
            <source
                :src="urlWebm"
                type="video/webm; codecs=&quot;vp8, vorbis&quot;"
            >
        </video>
        <button
            type="button"
            class="custom-video__btn"
            :title="isPlayVideo ? text.stop : text.play"
            @click="checkPlayVideo"
        >
            <span
                :class="[
                    'custom-video__btn-circle',
                    {'custom-video__btn-circle--pause': isPlayVideo}
                ]"
            >
                <svg
                    v-if="!isPlayVideo"
                    role="img"
                    width="42"
                    height="42"
                    class="custom-video__btn-icon"
                >
                    <use xlink:href="#play-icon" />
                </svg>
            </span>
        </button>
    </div>
</template>

<script>
export default {
    name: 'CustomVideo',
    props: {
        text: Object,
        title: String,
        urlMp4: String,
        urlWebm: String,
    },
    data() {
        return {
            isPlayVideo: false,
        };
    },
    methods: {
        checkPlayVideo() {
            this.isPlayVideo = !this.isPlayVideo;
            if (this.isPlayVideo) {
                this.$refs.video.play();
            } else {
                this.$refs.video.pause();
            }
        },
    },
};
</script>
