<template>
    <div>
        <div class="image-slider__wrap">
            <button
                type="button"
                class="image-slider__btn image-slider__btn--prev"
                :title="buttonsText.prev"
                :aria-label="buttonsLabels.prev"
            >
                <svg
                    role="img"
                    width="19"
                    height="38"
                    class="image-slider__btn-icon"
                >
                    <use xlink:href="#icon-chevron" />
                </svg>
            </button>

            <div
                ref="imageSlider"
                class="image-slider swiper-container"
            >
                <div class="swiper-wrapper">
                    <button
                        v-for="(item, index) in sliderItems"
                        :key="'image-slider-item-'+index+'-'+item.id"
                        type="button"
                        :title="slideTitle"
                        class="swiper-slide image-slider__slide-btn"
                        @click="showModal(index)"
                    >
                        <img
                            :src="item.img.image_325"
                            :srcset="`${item.img.image_325}, ${item.img.image_650} 2x`"
                            :alt="item.title"
                            class="image-slider__slide-image"
                        >
                    </button>
                </div>
            </div>

            <button
                type="button"
                class="image-slider__btn image-slider__btn--next"
                :title="buttonsText.next"
                :aria-label="buttonsLabels.next"
            >
                <svg
                    role="img"
                    width="19"
                    height="38"
                    class="image-slider__btn-icon"
                >
                    <use xlink:href="#icon-chevron" />
                </svg>
            </button>
        </div>
        <section
            :class="[
                'image-slider__modal',
                {'image-slider__modal--show': modalVisible}
            ]"
        >
            <div class="image-slider__modal-close-wrap">
                <button
                    type="button"
                    class="image-slider__modal-close"
                    :title="closeText"
                    @click="closeModal"
                />
            </div>

            <div class="image-slider__modal-inner">
                <div class="image-slider__wrap-modal">
                    <button
                        class="image-slider__modal-overlay js--image-slider__modal-overlay"
                        @click="closeModal"
                    />
                    <button
                        type="button"
                        class="image-slider__btn-modal image-slider__btn-modal--prev"
                        :title="buttonsText.prev"
                        :aria-label="buttonsLabels.prev"
                    >
                        <svg
                            role="img"
                            width="19"
                            height="38"
                            class="image-slider__btn-icon image-slider__btn-icon--white"
                        >
                            <use xlink:href="#icon-chevron" />
                        </svg>
                    </button>

                    <div
                        ref="imageSliderModal"
                        class="image-slider--modal swiper-container"
                    >
                        <div class="swiper-wrapper">
                            <button
                                v-for="(item, index) in sliderItems"
                                :key="'image-slider--modal-item-'+index+'-'+item.id"
                                type="button"
                                :title="slideTitle"
                                :class="[
                                    'swiper-slide',
                                    'image-slider__slide-modal-btn',
                                    'js--image-slider__slide'
                                ]"
                            >
                                <img
                                    :src="item.img.image_650"
                                    :srcset="`${item.img.image_650}, ${item.img.image_1300} 2x`"
                                    :alt="item.title"
                                    class="image-slider__slide-img"
                                >
                            </button>
                        </div>
                    </div>

                    <button
                        type="button"
                        class="image-slider__btn-modal image-slider__btn-modal--next"
                        :title="buttonsText.next"
                        :aria-label="buttonsLabels.next"
                    >
                        <svg
                            role="img"
                            width="19"
                            height="38"
                            class="image-slider__btn-icon image-slider__btn-icon--white"
                        >
                            <use xlink:href="#icon-chevron" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';
import Swiper, {
    Navigation, Keyboard, Lazy, A11y,
} from 'swiper';
import 'swiper/swiper.scss';
import 'swiper/components/lazy/lazy.scss';

Swiper.use([Navigation, Keyboard, Lazy, A11y]);

export default {
    name: 'ImageSlider',
    props: {
        closeText: String,
        slideTitle: String,
        sliderItems: Array,
        buttonsText: Object,
        buttonsLabels: Object,
    },
    data() {
        return {
            modalVisible: false,
            activeSliderItem: 0,
        };
    },
    mounted() {
        this.sliderInitialization();
        this.sliderModalInitialization();
    },
    methods: {
        showModal(index) {
            this.modalVisible = true;
            this.activeSliderItem = index;

            this.$refs.imageSliderModal.swiper.slideTo(index, 0);
            disableBodyScroll(this.$el, { reserveScrollBarGap: true });

            window.addEventListener('keyup', this.checkEscape);
            setTimeout(() => {
                window.addEventListener('click', this.checkOverlay);
            }, 100);
        },
        closeModal() {
            this.modalVisible = false;
            enableBodyScroll(this.$el);

            window.removeEventListener('keyup', this.checkEscape);
            window.removeEventListener('click', this.checkOverlay);
        },
        checkEscape(e) {
            if (e.keyCode === 27) {
                this.closeModal();
            }
        },
        checkOverlay(e) {
            const targetClass = e.target.className;
            if (typeof targetClass === 'string' && targetClass.indexOf('js--image-slider__slide') !== -1) {
                this.closeModal();
            }
        },
        sliderInitialization() {
            const imageSliderContainer = this.$el.querySelector('.image-slider');
            new Swiper(imageSliderContainer, {
                slidesPerView: 4,
                spaceBetween: 30,
                speed: 900,
                breakpoints: {
                    1400: {
                        spaceBetween: 30,
                    },
                    1275: {
                        slidesPerView: 4,
                    },
                    1124: {
                        slidesPerView: 3,
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 30,
                    },
                    540: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    300: {
                        slidesPerView: 'auto',
                        spaceBetween: 20,
                    },
                },
                navigation: {
                    nextEl: '.image-slider__btn--next',
                    prevEl: '.image-slider__btn--prev',
                    disabledClass: 'image-slider__btn--disabled',
                },
            });
        },
        sliderModalInitialization() {
            const imageSliderModalContainer = this.$el.querySelector('.image-slider--modal');
            const imageSliderModal = new Swiper(imageSliderModalContainer, {
                slidesPerView: 1,
                spaceBetween: 0,
                speed: 900,

                navigation: {
                    nextEl: '.image-slider__btn-modal--next',
                    prevEl: '.image-slider__btn-modal--prev',
                    disabledClass: 'image-slider__btn-modal--disabled',
                },
            });

            imageSliderModal.on('slideChange', () => {
                const index = imageSliderModal.activeIndex;
                this.$refs.imageSlider.swiper.slideTo(index);
            });
        },
    },
};
</script>
