<template>
    <div :class="['popup__wrap', {'popup__wrap--show' : showPopup}]">
        <div
            type="button"
            class="popup__overlay"
            @click="closePopup"
        />
        <div :class="['popup', 'popup-subscribe', {'popup--show' : showPopup}]">
            <section class="popup__content popup-subscribe__content">
                <template v-if="!subscribeSuccess">
                    <p class="popup__title">
                        {{ popupText.title }}
                    </p>

                    <p
                        v-if="popupText.subTitle"
                        class="popup__subtitle"
                    >
                        {{ popupText.subTitle }}
                    </p>

                    <img
                        v-if="popupImageSrc"
                        :src="popupImageSrc"
                        :alt="popupText.title"
                        class="popup__image"
                        loading="lazy"
                        width="510"
                        height="355"
                    >

                    <form
                        class="popup-subscribe__form"
                        @submit="checkForm"
                    >
                        <input
                            type="hidden"
                            name="_token"
                            :value="csrf"
                        >

                        <label class="popup-subscribe__input-label">
                            <span class="popup-subscribe__input-label-title">
                                {{ popupText.inputLabel }}
                            </span>
                            <input
                                v-model="fields.email"
                                type="email"
                                name="popup-subscribe-input"
                                class="popup-subscribe__input"
                                @update="checkValidation()"
                                @keyup="checkValidation()"
                            >
                        </label>

                        <div
                            v-show="errors.email"
                            class="popup-subscribe__input-error"
                        >
                            {{ errors.email }}
                        </div>

                        <label class="popup-subscribe__agreement-label">
                            <input
                                v-model="agreementChecked"
                                type="checkbox"
                                class="popup-subscribe__agreement-checkbox visually-hidden"
                            >
                            <span class="popup-subscribe__agreement-pseudo-checkbox" />
                            <slot />
                        </label>

                        <button
                            type="submit"
                            class="btn popup-subscribe__submit"
                            :disabled="btnDisabled || !agreementChecked"
                        >
                            {{ popupText.submitBtn }}
                        </button>

                        <div
                            v-if="errors.other"
                            class="popup-subscribe__error"
                        >
                            {{ errors.other }}
                        </div>
                    </form>
                </template>

                <section
                    v-else
                    class="popup-subscribe__success"
                >
                    <div class="popup__title">
                        {{ popupText.successTitle }}
                    </div>
                    <button
                        class="btn popup-subscribe__success-btn"
                        :title="popupText.closeBtnLabel"
                        @click="closePopup"
                    >
                        {{ popupText.successBtn }}
                    </button>
                </section>
            </section>

            <button
                type="button"
                class="popup__close-btn"
                :title="popupText.closeBtnLabel"
                @click="closePopup"
            />
        </div>
    </div>
</template>

<script>
import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';
import axios from 'axios';
import { isEmail } from '../utility/rules.js';

export default {
    name: 'PopupSubscribe',
    props: {
        popupText: Object,
        mailingData: Object,
        errorsText: Object,
        action: String,
        appearTimeout: Number,
        popupImageSrc: String,
    },
    data() {
        return {
            csrf: window.csrf,
            showPopup: false,
            fields: {
                email: this.mailingData.userEmail ? this.mailingData.userEmail : '',
            },
            errors: {
                email: this.errorsText.email ? this.errorsText.email : '',
                other: '',
            },
            realtimeValidation: false,
            agreementChecked: false,
            btnDisabled: false,
            subscribeSuccess: false,
        };
    },
    mounted() {
        setTimeout(() => {
            if (localStorage.getItem('subscribe_popup_closed') < 3) {
                this.openPopup();
            }
        }, this.appearTimeout);
    },
    methods: {
        openPopup() {
            this.showPopup = true;
            window.addEventListener('keyup', this.closeByEsc);
            disableBodyScroll(this.$el, { reserveScrollBarGap: true });
            this.subscribeSuccess = false;

            if (!localStorage.getItem('subscribe_popup_closed')) {
                localStorage.setItem('subscribe_popup_closed', 0);
            }
        },
        closePopup() {
            this.showPopup = false;
            enableBodyScroll(this.$el);
            window.removeEventListener('keyup', this.closeByEsc);

            let amountPopupClosed = localStorage.getItem('subscribe_popup_closed');
            amountPopupClosed += 1;
            localStorage.setItem('subscribe_popup_closed', amountPopupClosed);
        },
        closeByEsc(e) {
            if (e.keyCode === 27) {
                this.closePopup();
            }
        },
        checkValidation() {
            if (this.realtimeValidation) {
                this.validateFields();
            }
        },
        validateFields() {
            if (!this.fields.email) {
                this.errors.email = this.errorsText.emailEmpty;
            } else if (!isEmail(this.fields.email)) {
                this.errors.email = this.errorsText.emailFormat;
            } else {
                this.errors.email = '';
            }
        },
        checkForm(e) {
            this.validateFields();
            this.realtimeValidation = true;

            if (!this.errorsExists()) {
                this.btnDisabled = true;
                this.sendForm();
            }

            e.preventDefault();
        },
        errorsExists() {
            return Object.values(this.errors).some((item) => item.length > 0);
        },
        sendForm() {
            axios.post(this.action, {
                params: {
                    email: this.fields.email,
                },
            })
                .then(() => {
                    this.btnDisabled = false;
                    this.subscribeSuccess = true;
                })
                .catch((error) => {
                    this.errors.other = '';
                    if (!error.response) {
                        this.errors.other = 'Ошибка сети. Пожалуйста, проверьте ваше подключение.';
                    } else {
                        this.errors.other = error.response.data.message || error.message;
                    }
                })
                .finally(() => {
                    this.btnDisabled = false;
                });
        },
    },
};
</script>
