<template>
    <section class="sales-hits">
        <div class="sales-hits__inner">
            <h2 class="sales-hits__title">
                {{ title }}
            </h2>

            <p class="sales-hits__subtitle">
                {{ subTitle }}
            </p>

            <div class="sales-hits__slider-wrap">
                <button
                    class="sales-hits__slider-btn sales-hits__slider-btn--prev"
                    :aria-label="carouselButtonsLabels.prev"
                >
                    <svg
                        width="21"
                        height="40"
                        class="sales-hits__slider-btn-icon"
                    >
                        <use xlink:href="#icon-chevron" />
                    </svg>
                </button>

                <div class="sales-hits__slider swiper-container">
                    <div class="swiper-wrapper">
                        <catalog-item
                            v-for="(item, index) in cards"
                            :key="index + item.title"
                            :item="item"
                            class="swiper-slide"
                            :using-in-main-slider="true"
                            :in-slider-with-lazy-load="true"
                            :product-image-default="productImageDefault"
                        />
                    </div>
                </div>

                <button
                    class="sales-hits__slider-btn sales-hits__slider-btn--next"
                    :aria-label="carouselButtonsLabels.next"
                >
                    <svg
                        width="21"
                        height="40"
                        class="sales-hits__slider-btn-icon"
                    >
                        <use xlink:href="#icon-chevron" />
                    </svg>
                </button>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {
    Navigation, Pagination, Keyboard, Lazy, A11y,
} from 'swiper';
import CatalogItem from './catalog/catalog-item.vue';

Swiper.use([Navigation, Pagination, Keyboard, Lazy, A11y]);

export default {
    name: 'SalesHits',
    components: { CatalogItem },
    props: {
        title: String,
        subTitle: String,
        cards: Array,
        carouselButtonsLabels: Object,
        productImageDefault: Object,
    },
    mounted() {
        const self = this;
        const hitsSliderContainer = this.$el.querySelector('.sales-hits__slider');
        new Swiper(hitsSliderContainer, {
            speed: 1200,
            slidesPerView: 4,
            slidesPerGroup: 3,
            spaceBetween: 30,

            preloadImages: false,
            lazy: {
                loadPrevNext: true,
            },

            navigation: {
                nextEl: '.sales-hits__slider-btn--next',
                prevEl: '.sales-hits__slider-btn--prev',
                disabledClass: 'sales-hits__slider-btn--disabled',
            },

            keyboard: {
                enabled: true,
                onlyInViewport: true,
            },

            a11y: {
                enabled: true,
                prevSlideMessage: self.carouselButtonsLabels.prev,
                nextSlideMessage: self.carouselButtonsLabels.next,
            },

            breakpoints: {
                0: {
                    spaceBetween: 15,
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                },
                481: {
                    spaceBetween: 30,
                    slidesPerView: 2,
                    slidesPerGroup: 2,
                },
                768: {
                    spaceBetween: 20,
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                },
                992: {
                    slidesPerView: 4,
                    slidesPerGroup: 3,
                },
                1400: {
                    spaceBetween: 30,
                },
            },
        });
    },
};
</script>
