<template>
    <div class="text-field__container">
        <label
            class="text-field__label"
        >
            <span
                class="text-field__title"
            >
                {{ fieldData.title }}:
            </span>
            <input
                v-model="fieldData.value"
                :type="fieldData.type"
                :name="fieldData.name"
                :class="[
                    'text-field__input',
                    { 'text-field__input--error': error || fieldData.error },
                    { 'hide-spins-input': fieldData.type === 'number' },
                ]"
                :disabled="disabled"
                :autocomplete="autocomplete"
            >
            <span
                v-if="errorText && error"
                class="text-field__error-text"
            >
                {{ errorText }}
            </span>
        </label>
    </div>
</template>

<script>
export default {
    name: 'TextField',
    props: {
        fieldData: Object,
        disabled: Boolean,
        error: Boolean,
        errorText: String,
        autocomplete: String,
    },
};
</script>
