.course-page__description-box {
  margin-bottom: 70px;
}

.course-page__description-box-text {
  padding-left: 15px;
  & p {
    font: $regular 1.2em/1.71 $font-family-base;
  }
}

.course-page__text-block {
  margin-bottom: 70px;
}

.curse-page__video-box {
  display: flex;
  margin: 70px 0;

  &--left {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--right {
    justify-content: flex-end;
  }
  &--full_width {
    & iframe {
      width: 100%;
      height: calc(100% / (16/9));
      aspect-ratio: 16 / 9;
    }
  }
}

.course-page__properties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.course-page__property {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-page__property-icon {
  display: block;
  padding: 20px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.course-page__property-title {
  font: $regular 0.875em/1.71 $font-family-base;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.course-page__property-description-box {
  p {
    font: $regular 0.875em/1.71 $font-family-base;
    text-align: center;
  }
}

@include tablet-lg() {
  .course-page__property {
    width: calc(50% - 20px);
  }
}

@include tablet-sm() {
  .course-page__property {
    width: 100%;
    margin: 10px 0;
  }
}
