.catalog-filter {
  position: relative;
  color: $gray-2;
}

.catalog-filter__search {
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  border-bottom: 1px solid $inactive;
}

.catalog-filter__search-icon {
  stroke: $gray-2;
}

.catalog-filter__search-input {
  width: 100%;
  height: 23px;
  margin-left: 10px;
  border: 0;
  font-size: 18px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.catalog-filter__handler {
  display: none;
  align-items: flex-end;
  justify-content: center;
  width: 44px;
  height: 44px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    opacity: 0.65;
  }
}

.catalog-filter__handler-icon {
  fill: none;
  stroke: $gray-2;
  stroke-width: 1px;
}

.catalog-filter__parameters {
  margin-top: 30px;
}

.catalog-filter__block {
  border-bottom: 1px solid $inactive;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &--open {
    .catalog-filter__icon {
      transform: rotateX(180deg);
    }
  }
}

.catalog-filter__block-handle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    opacity: 0.75;
  }
}

.catalog-filter__title {
  font-size: 24px;
  font-family: $font-family-secondary;
  transition: opacity 0.1s linear;
}

.catalog-filter__icon {
  stroke: $gray-2;
  transition: transform 0.25s ease-out;
}

.catalog-filter__options-wrap {
  padding: 20px 0;
}

.catalog-filter__option {
  font-size: 22px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.catalog-filter__option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.catalog-filter__option-pseudo-checkbox {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border: 1px solid $gray-2;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: $gray-2;
    transition: transform 0.15s ease-out;
    transform: scale(0);
  }
}

.catalog-filter__option-tumbler {
  position: relative;
  width: 58px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid $inactive;
  border-radius: 30px;
  transition: border-color 0.1s linear;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $inactive;
    transition: left 0.15s ease-out, background-color 0.1s linear;
  }
}

.catalog-filter__option-checkbox:checked {
  ~ .catalog-filter__option-pseudo-checkbox {
    &::after {
      transform: scale(1);
    }
  }

  ~ .catalog-filter__option-tumbler {
    border-color: $gray-2;

    &::after {
      left: calc(100% - 24px - 2px);
      background-color: $gray-2;
    }
  }
}

.catalog-filter__enable {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    .catalog-filter__title {
      opacity: 0.75;
    }
  }
}

@include screen-sm { //1240

  .catalog-filter__parameters {

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 305px;
    max-height: 1500px;
    overflow-y: auto;
    padding: 50px 18px;
    background-color: $white;
    box-shadow: 0 0 15px rgba(50, 50, 50, 0.08);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, transform 0.2s ease-in, visibility 0.2s linear;
    transform: translateY(10px);

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .catalog-filter__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .catalog-filter__search {
    width: calc(100% - 50px);
  }

  .catalog-filter__handler {
    display: flex;
  }

  .catalog-filter__title {
    font-size: 22px;
  }

  .catalog-filter__option {
    font-size: 18px;
  }
}

@include phone-lg { // 480

  .catalog-filter__parameters {
    right: -15px;
    width: calc(100% + 30px);

    margin-top: 15px;
    padding: 35px 18px;
  }
}
