.catalog-page {
  margin-top: 80px;
  margin-bottom: 65px;
}

.catalog-page__inner {
  @include inner;
}

.catalog-page__title {
  width: 80%;
  color: $gray-2;
  font-weight: $regular;
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 27px;
}

$aside-width: 320px;
$gap-width: 45px;

.catalog-page__aside {
  width: $aside-width;
}

.catalog-page__main {
  width: calc(100% - #{$aside-width} - #{$gap-width});

  &--search-page {
    margin-top: -20px;
  }
}

.catalog-page__load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 100px auto 0;
  color: $gray-2;
  font-weight: $light;
  font-size: 22px;
  font-family: $font-family-secondary;

  &:hover,
  &:focus,
  &:active {
    outline: none;

    .catalog-page__load-more-text {
      border-bottom-color: inherit;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.catalog-page__load-more-text {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s linear;
}

.catalog-page__load-more-icon {
  margin-left: 19px;
  stroke: $gray-2;
}

// search page
.catalog-page__search-page-aside {
  margin-top: 35px;
  color: $gray-2;
}

.catalog-page__search-label {
  font-weight: $bold;
  font-size: 24px;
  line-height: 30px;
}

.catalog-page__search-key {
  font-weight: $regular;
}

.catalog-page__search-filter {
  margin-top: 35px;
}

.catalog-page__search-filter-item {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1;
}

.catalog-page__search-filter-link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus {
    border-bottom-color: inherit;
    outline: none;
  }
}


@include screen-md { // 1400
  $aside-width: 270px;
  $gap-width: 40px;

  .catalog-page__aside {
    width: $aside-width;
  }

  .catalog-page__main {
    width: calc(100% - #{$aside-width} - #{$gap-width});
  }
}

@include screen-sm {
  .catalog-page {
    margin-top: 40px;
  }

  .catalog-page__aside {
    width: 100%;
  }

  .catalog-page__main {
    width: 100%;
  }

  .catalog-page__load-more {
    margin: 70px auto 0;
    font-size: 18px;
  }

  .catalog-page__search-filter {
    column-count: 3;
    column-gap: 50px;
  }
}

@include tablet-lg {
  .catalog-page {
    margin-top: 30px;
  }

  .catalog-page__title {
    font-size: 22px;
  }

  .catalog-page__load-more {
    margin: 50px auto 0;
  }

  .catalog-page__search-page-aside {
    margin-top: 25px;
  }

  .catalog-page__search-filter {
    margin-top: 25px;
  }

  .catalog-page__search-filter {
    column-gap: 30px;
  }

  .catalog-page__search-filter-item {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@include tablet-sm {
  .catalog-page__search-filter {
    column-count: 1;
  }
}
