.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% + 34px);
  margin: 0 -17px;
}

.catalog-list__item {
  width: calc((100% - 102px)/3);
  margin: 50px 17px 0;
}

@include screen-md {
  .catalog-list {
    width: calc(100% + 50px);
    margin: 0 -25px;
  }

  .catalog-list__item {
    width: calc((100% - 150px)/3);
    margin: 50px 25px 0;
  }
}

@include tablet-lg {
  .catalog-list {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }

  .catalog-list__item {
    width: calc((100% - 90px)/3);
    margin: 50px 15px 0;
  }
}

@include phone-lg {
  .catalog-list {
    width: calc(100% + 10px);
    margin: 0 -5px;
  }

  .catalog-list__item {
    width: calc((100% - 20px)/2);
    margin: 50px 5px 0;
  }
}

