.catalog-sorting {
  padding-bottom: 18px;
  border-bottom: 1px solid $inactive;
  color: $gray-2;
  font-size: 24px;
  font-family: $font-family-secondary;
}

.catalog-sorting__show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog-sorting__show-title {
  margin-right: 8px;
}

.catalog-sorting__show-item {
  margin-left: 30px;
  color: $inactive;
  font-size: 22px;
  font-family: $font-family-base;
  transition: color 0.1s linear;

  &:hover,
  &:focus,
  &:active,
  &--active {
    color: inherit;
    outline: none;
  }
}

.catalog-sorting__price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  transition: color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    color: $inactive;
    outline: none;
  }
}

.catalog-sorting__price-icon {
  margin-left: 10px;
  color: $gray-2;
  transition: transform 0.2s linear;

  &--cheapest-first {
    transform: rotateX(180deg);
  }
}

.catalog-sorting__select-sorting-type {
  color: $gray-2;
  margin-left: auto;
  border-bottom: 1px solid $gray-2;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: $inactive;
    border-color: $inactive;
  }
}

@include screen-sm {
  .catalog-sorting {
    display: none;
  }
}
