.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    outline: none;

    .catalog-item__slider-btn {
      &--next {
        right: 13px;
      }

      &--prev {
        left: 13px;
      }
    }
  }

  &--hover {
    .catalog-item__image-wrap {
      &::after {
        opacity: 1;
      }
    }

    .catalog-item__title {
      border-bottom-color: inherit;
    }
  }
}

.catalog-item__slider {
  position: relative;
  width: 100%;

  .swiper-lazy-preloader {
    border-color: $gray-2 $gray-2 $gray-2 transparent !important;
  }

  .swiper-lazy {
    opacity: 0 !important;
    transition: opacity 0.2s linear;

    &.swiper-lazy-loaded {
      opacity: 1 !important;
    }
  }
}

.catalog-item__slide {
  display: block;
  width: 100%;
}

.catalog-item__image-wrap {
  position: relative;
  display: block;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: 103.334%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.19);
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}

.catalog-item__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.catalog-item__description {
  &:focus {
    outline: none;
  }
}

.catalog-item__title {
  margin-top: 30px;
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 0.85;
  text-align: center;
  transition: border-bottom-color 0.2s linear;
}

.catalog-item__slider-btn {
  bottom: 18px;
  width: 41px;
  height: 41px;

  &--next {
    right: -70px;
  }

  &--prev {
    left: -70px;
  }
}

.catalog-item__label {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;

  &--hit,
  &--sale {
    top: 0;
    right: 10px;
    width: 59px;
    height: 77px;
    padding-bottom: 15px;
    color: $white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--hit {
    &::before {
      background-image: linear-gradient(37deg, transparent 0, transparent 35px, $mint 36px, $mint);
    }

    &::after {
      background-image: linear-gradient(-37deg, transparent 0, transparent 35px, $mint 36px, $mint);
    }
  }

  &--sale {
    &::before {
      background-image: linear-gradient(37deg, transparent 0, transparent 35px, $red 36px, $red);
    }

    &::after {
      background-image: linear-gradient(-37deg, transparent 0, transparent 35px, $red 36px, $red);
    }
  }


  &--special {
    top: 18px;
    right: 0;
    width: 197px;
    height: 65px;
    background-color: $gold;
    color: $gray-2;
  }

  &:focus {
    outline: none;
  }
}

.catalog-item__label-text {
  position: relative;
  z-index: 2;
  font-weight: $bold;
  font-size: 18px;
  font-family: $font-family-secondary;
}

@include screen-md {
  .catalog-item__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .catalog-item__label {
    &--hit,
    &--sale {
      width: 43px;
      height: 56px;
    }

    &--hit {
      &::before {
        background-image: linear-gradient(37deg, transparent 0, transparent 25px, $mint 26px, $mint);
      }

      &::after {
        background-image: linear-gradient(-37deg, transparent 0, transparent 25px, $mint 26px, $mint);
      }
    }

    &--sale {
      &::before {
        background-image: linear-gradient(37deg, transparent 0, transparent 25px, $red 26px, $red);
      }

      &::after {
        background-image: linear-gradient(-37deg, transparent 0, transparent 25px, $red 26px, $red);
      }
    }

    &--special {
      top: 10px;
      width: 130px;
      height: 40px;
    }
  }

  .catalog-item__label-text {
    font-size: 12px;
  }
}

@include phone-lg {
  .catalog-item__image-wrap {
    &::before {
      padding-top: 110%;
    }
  }

  .catalog-item__title {
    margin-top: 20px;
  }
}
