<template>
    <div :class="['cart-counter', {'cart-counter--small' : size === 'small'}]">
        <button
            type="button"
            class="cart-counter__minus"
            :aria-label="labels.minus"
            :disabled="disableBtn || amount === amountRatio"
            @click="minusAmount"
        />
        <input
            ref="inputField"
            type="number"
            class="cart-counter__input"
            :aria-label="labels.amount"
            :value="amount"
            :step="amountRatio"
            :disabled="disableBtn"
            @change="changeAmount"
        >
        <button
            type="button"
            class="cart-counter__plus"
            :aria-label="labels.plus"
            :disabled="disableBtn || amount === maxAmount"
            @click="plusAmount"
        />
    </div>
</template>

<script>
export default {
    name: 'CartCounter',
    props: {
        disableBtn: Boolean,
        labels: Object,
        maxAmount: {
            type: Number,
            default: Infinity,
        },
        amount: Number,
        amountRatio: Number,
        size: String,
    },
    methods: {
        plusAmount() {
            let amount;
            if (this.amount < this.maxAmount) {
                amount = this.amount + this.amountRatio;
            } else {
                amount = this.amount;
            }
            this.emitChange(amount);
        },
        minusAmount() {
            let amount;
            if (this.amount > this.amountRatio) {
                amount = this.amount - this.amountRatio;
            } else {
                amount = this.amountRatio;
            }
            this.emitChange(amount);
        },
        changeAmount(event) {
            let amount;
            if (event.target.valueAsNumber >= this.amountRatio) {
                if (event.target.valueAsNumber >= this.maxAmount) {
                    amount = this.maxAmount;
                } else {
                    amount = this.checkRatio(event.target.valueAsNumber);
                }
            } else {
                amount = this.amountRatio;
            }
            this.$refs.inputField.value = Number(amount.toFixed(2));
            this.emitChange(amount);
        },
        checkRatio(value) {
            const divisionIsInteger = Number.isInteger(value / this.amountRatio);

            if (divisionIsInteger) {
                return value;
            }
            return (Math.floor(value / this.amountRatio) + 1) * this.amountRatio;
        },
        emitChange(value) {
            this.$emit('change-amount', Number(value.toFixed(2)));
            this.$emit('update:amount', Number(value.toFixed(2)));
        },
    },
};
</script>
