<template>
    <div class="cart">
        <div class="cart__products">
            <div class="cart__title">
                {{ cartTitle }}
            </div>

            <div class="cart__products-wrap">
                <div
                    v-for="(product, productIndex) in state.products"
                    :key="product.id"
                    class="cart__product"
                >
                    <div class="cart__product-title">
                        {{ product.title }}
                    </div>

                    <div class="cart__product-data">
                        <div class="cart__product-measure">
                            {{ product.volumeMeasure }}:
                        </div>

                        <cart-counter
                            :labels="labels"
                            :max-amount="product.maxAmount"
                            :amount.sync="product.amount"
                            :disable-btn="disable"
                            :amount-ratio="product.amountRatio"
                            @change-amount="debounceChangeAmount(productIndex, $event)"
                        />

                        <div class="cart__product-cost">
                            {{ product.sum }} {{ currency }}
                        </div>
                    </div>

                    <button
                        class="cart__product-delete"
                        :aria-label="labels.delete"
                        @click="deleteProduct(product.action.deleteProduct, product)"
                    />
                </div>
            </div>

            <div class="cart__sum">
                <span class="cart__sum-title">{{ total }}</span>
                {{ state.cartTotal }} {{ currency }}
            </div>
        </div>

        <div class="cart__total">
            <div class="cart__title">
                {{ cartTotalTitle }}
            </div>

            <div class="cart__total-price">
                <div class="cart__total-price-title">
                    {{ total }}
                </div>
                <div class="cart__total-price-sum">
                    {{ state.cartTotalWithPromoCode }} {{ currency }}
                </div>
            </div>

            <cart-promocode
                ref="cartPromoCode"
                :promocode-info="promocodeInfo"
                :promocode="state.promocode"
                :btn-disabled="disable"
                :promocode-success-message="state.promocodeSuccessMessage"
                @apply-promocode="applyPromocode($event)"
                @refuse-promocode="refusePromocode($event)"
            />

            <button
                class="cart__submit-btn btn btn--dark"
                :disabled="state.products && state.products.length === 0"
                @click="submitCart"
            >
                {{ submitBtnTitle }}
            </button>

            <div
                v-if="cartError"
                class="cart__error"
            >
                {{ cartError }}
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import debounce from 'lodash.debounce';
import CartCounter from './cart-counter.vue';
import CartPromocode from './cart-promocode.vue';

export default {
    name: 'Cart',
    components: {
        CartCounter,
        CartPromocode,
    },
    props: {
        actions: Object,
        cartState: Object,
        cartTitle: String,
        cartTotalTitle: String,
        labels: Object,
        currency: String,
        total: String,
        submitBtnTitle: String,
        promocodeInfo: Object,
    },
    data() {
        return {
            state: this.cartState,
            disable: false,
            cartError: '',
            csrf: window.csrf,
        };
    },
    computed: {
        debounceChangeAmount() {
            return debounce(this.changeAmount, 500);
        },
    },
    methods: {
        deleteProduct(action, data) {
            axios.post(action, {
                id: data.id,
                model: data.model,
                volumeMeasure: data.volumeMeasure,
                variant: data.variant ? data.variant : '',
            })
                .then((response) => this.successProcessor(response))
                .catch((error) => this.errorProcessor(error));
        },

        changeAmount(index, value) {
            this.disable = true;

            axios.post(this.actions.change, {
                data: {
                    id: this.state.products[index].id,
                    amount: value,
                    model: this.state.products[index].model,
                    name: this.state.products[index].title,
                    volumeMeasure: this.state.products[index].volumeMeasure,
                    unit: this.state.products[index].unit,
                },
            })
                .then((response) => this.successProcessor(response))
                .catch((error) => this.errorProcessor(error));
        },

        applyPromocode(promocode) {
            this.disable = true;

            axios.post(this.actions.applyPromocode, {
                data: {
                    promocode,
                },
            })
                .then((response) => this.successProcessor(response))
                .catch((error) => this.errorProcessor(error));
        },

        refusePromocode(promocode) {
            this.disable = true;

            axios.post(this.actions.refusePromocode, {
                data: {
                    promocode,
                },
            })
                .then((response) => {
                    this.successProcessor(response);
                    this.$refs.cartPromoCode.resetPromoCode();
                })
                .catch((error) => this.errorProcessor(error));
        },

        submitCart() {
            this.disable = true;

            axios.post(this.actions.submit, {
                data: {
                    _token: this.csrf,
                    cart: this.state,
                },
            })
                .then((response) => {
                    window.location = response.data.data.link;
                })
                .catch((error) => this.errorProcessor(error));
        },

        errorProcessor(error) {
            this.disable = false;
            this.cartError = '';
            if (!error.response) {
                this.cartError = 'Ошибка сети. Проверьте ваше подключение к интернету.';
            } else {
                this.cartError = error.response.data.message || error.message;
            }
        },
        successProcessor(response) {
            this.disable = false;
            if (response.data && response.data.cart_state) {
                this.state = response.data.cart_state;
            }
        },
    },
};
</script>
