<template>
    <div class="cart-promocode">
        <template v-if="!promocode">
            <label class="cart-promocode__label">
                <span class="cart-promocode__title">{{ promocodeInfo.promocodeTitle }}:</span>
                <input
                    v-model="currentPromocode"
                    type="text"
                    class="cart-promocode__input"
                    :aria-label="promocodeInfo.promocodeTitle"
                >
            </label>

            <button
                class="cart-promocode__btn btn"
                :disabled="btnDisabled || !currentPromocode"
                @click="applyPromocode"
            >
                {{ promocodeInfo.promocodeApplyBtnTitle }}
            </button>
        </template>

        <template v-else>
            <p class="cart-promocode__label cart-promocode__label--applied">
                <span class="cart-promocode__title">{{ promocodeSuccessMessage }}</span>
            </p>
            <button
                class="cart-promocode__btn cart-promocode__btn--cancel btn"
                :disabled="btnDisabled || disabled"
                @click="refusePromocode"
            >
                {{ promocodeInfo.promocodeRefuseBtnTitle }}
            </button>
        </template>

        <p
            v-show="!promocode"
            class="cart-promocode__text"
        >
            {{ promocodeInfo.promocodeText }}
        </p>
    </div>
</template>

<script>

export default {
    name: 'CartPromocode',
    props: {
        promocodeInfo: Object,
        promocode: String,
        btnDisabled: Boolean,
        promocodeSuccessMessage: String,
    },
    data() {
        return {
            currentPromocode: '',
            disabled: false,
        };
    },
    methods: {
        applyPromocode() {
            this.$emit('apply-promocode', this.currentPromocode);
        },
        refusePromocode() {
            this.$emit('refuse-promocode', this.currentPromocode);
        },
        resetPromoCode() {
            this.currentPromocode = '';
        },
        disableRefuseBtn() {
            this.disabled = true;
        },
    },
};
</script>
