<template>
    <div class="catalog-filter">
        <div class="catalog-filter__head">
            <div class="catalog-filter__search">
                <svg
                    width="17"
                    height="16"
                    class="catalog-filter__search-icon"
                >
                    <use xlink:href="#icon-search" />
                </svg>
                <input
                    v-model="searchFilter"
                    type="text"
                    class="catalog-filter__search-input"
                    name="filter_search"
                    aria-label="search filter"
                    @input="sendFilterParameters"
                >
            </div>
            <button
                class="catalog-filter__handler"
                @click.prevent="filterOpen = !filterOpen"
            >
                <svg
                    width="19"
                    height="24"
                    class="catalog-filter__handler-icon"
                >
                    <use xlink:href="#filter-handler" />
                </svg>
            </button>
        </div>
        <div
            class="catalog-filter__parameters"
            :class="{'catalog-filter__parameters--open': filterOpen}"
        >
            <div
                v-for="(block, blockIndex) in blocks"
                :key="block.title + blockIndex"
                class="catalog-filter__block"
                :class="{'catalog-filter__block--open': block.open}"
            >
                <button
                    ref="handle"
                    class="catalog-filter__block-handle"
                    type="button"
                    @click="toggleBlock(blockIndex)"
                >
                    <span class="catalog-filter__title">{{ block.title }}</span>
                    <svg
                        width="8"
                        height="21"
                        class="catalog-filter__icon"
                    >
                        <use xlink:href="#filter-arrow" />
                    </svg>
                </button>
                <slide-up-down
                    :active="block.open"
                    :duration="350"
                >
                    <ul class="catalog-filter__options-wrap">
                        <li
                            v-for="(option, optionIndex) in block.options"
                            :key="optionIndex"
                            class="catalog-filter__option"
                        >
                            <label class="catalog-filter__option-label">
                                <input
                                    v-model="blocks[blockIndex].options[optionIndex].checked"
                                    class="catalog-filter__option-checkbox visually-hidden"
                                    type="checkbox"
                                    :name="option.name"
                                    @change="sendFilterParameters"
                                >
                                <span class="catalog-filter__option-pseudo-checkbox" />
                                <span class="catalog-filter__option-title">{{ option.title }}</span>
                            </label>
                        </li>
                    </ul>
                </slide-up-down>
            </div>
            <label
                v-if="filterData.showAvailableFilter"
                class="catalog-filter__enable"
            >
                <span class="catalog-filter__title">{{ filterData.showAvailableFilterTitle }}</span>
                <input
                    v-model="showEnabled"
                    class="catalog-filter__option-checkbox visually-hidden"
                    type="checkbox"
                    name="enable"
                    @change="sendFilterParameters"
                >
                <span class="catalog-filter__option-tumbler" />
            </label>
        </div>
    </div>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';
import debounce from 'lodash.debounce';

export default {
    name: 'CatalogFilter',
    components: {
        SlideUpDown,
    },
    props: {
        filterData: Object,
    },
    data() {
        return {
            searchFilter: '',
            blocks: this.filterData.filterBlocks,
            showEnabled: false,
            filteredData: null,
            filterOpen: false,
        };
    },
    methods: {
        toggleBlock(index) {
            this.blocks[index].open = !this.blocks[index].open;
            this.$refs.handle[index].blur();
        },
        getFiltersState() {
            return this.filteredData;
        },
        sendFilterParameters: debounce(
            function () {
                this.filteredData = null;
                this.filteredData = {
                    filterSearch: this.searchFilter,
                    filterBlocks: this.blocks,
                    filterEnabled: this.showEnabled,
                };
                this.$emit('update-filter-parameters', this.filteredData);
            }, 300,
        ),
    },
};
</script>
