<template>
    <div class="catalog-page">
        <div class="catalog-page__inner">
            <h1 :class="['catalog-page__title', {'visually-hidden': !searchAside}]">
                {{ title }}
            </h1>
            <aside class="catalog-page__aside">
                <catalog-filter
                    v-if="filterData"
                    ref="catalogFilter"
                    :filter-data="filterData"
                    @update-filter-parameters="loadFilteredProduct"
                />
                <section
                    v-if="searchAside"
                    class="catalog-page__search-page-aside"
                >
                    <div class="catalog-page__search-label">
                        {{ searchAside.searchPhraseLabel }}
                        <span class="catalog-page__search-key">
                            "{{ searchAside.searchPhrase }}"
                        </span>
                    </div>
                    <ul class="catalog-page__search-filter">
                        <li
                            v-for="(link, linkIndex) in searchAside.searchPageLinks"
                            :key="linkIndex"
                            class="catalog-page__search-filter-item"
                        >
                            <a
                                :href="link.link"
                                class="catalog-page__search-filter-link"
                            >
                                {{ link.title }} ({{ link.count }})
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>
            <section
                :class="[
                    'catalog-page__main',
                    {'catalog-page__main--search-page': searchAside}
                ]"
            >
                <catalog-sorting
                    v-if="sorting"
                    :show-objects-title="sorting.showObjectsTitle"
                    :price-sorting-title="sorting.priceSortingTitle"
                    :sorting-type-url="sortingTypeUrl"
                    :sorting-by-collections="sortingByCollections"
                    @change-show-objects-amount="onChangeShowObjectsAmount"
                    @switch-sorting-type="switchSortingType"
                />
                <div class="catalog-list">
                    <catalog-item
                        v-for="(product, index) in products"
                        :key="index + product.title + product.images[0]"
                        :labels-title="catalogListData.labelsTitle"
                        :slider-btn-labels="catalogListData.sliderBtnLabels"
                        :item="product"
                        :product-image-default="productImageDefault"
                        class="catalog-list__item"
                    />
                </div>
                <button
                    v-if="loadMoreActionLink"
                    class="catalog-page__load-more"
                    :disabled="loadMoreBtnDisabled"
                    @click="loadMoreProducts"
                >
                    <span class="catalog-page__load-more-text">{{ loadMoreBtnTitle }}</span>
                    <svg
                        width="8"
                        height="21"
                        class="catalog-page__load-more-icon"
                    >
                        <use xlink:href="#filter-arrow" />
                    </svg>
                </button>
            </section>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import CatalogSorting from './catalog-sorting.vue';
import CatalogFilter from './catalog-filter.vue';
import CatalogItem from './catalog-item.vue';

export default {
    name: 'CatalogPage',
    components: {
        CatalogSorting,
        CatalogItem,
        CatalogFilter,
    },
    props: {
        title: String,
        actions: Object,
        sorting: Object,
        filterData: Object,
        catalogListData: Object,
        loadMoreBtnTitle: String,
        searchAside: Object,
        productImageDefault: Object,
        sortingTypeUrl: Object,
    },
    data() {
        return {
            loadMoreBtnDisabled: false,
            loadMoreActionLink: this.actions.getNextProducts,
            products: this.catalogListData.catalogItems,
            amountPerPage: 15,
            sortingByCollections: false,
        };
    },
    computed: {
        actionLink() {
            return this.sortingByCollections
                ? this.sortingTypeUrl.collections
                : this.sortingTypeUrl.allFabrics;
        },
    },
    methods: {
        loadMoreProducts() {
            this.loadMoreBtnDisabled = true;

            axios.post(this.loadMoreActionLink, {
                amountPerPage: this.amountPerPage,
            })
                .then((response) => {
                    this.products = this.products.concat(response.data.data.products);
                    this.loadMoreActionLink = response.data.data.next_set_link;
                    this.loadMoreBtnDisabled = false;
                })
                .catch((error) => {
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                })
                .finally(() => {
                    this.loadMoreBtnDisabled = false;
                });
        },
        loadFilteredProduct(data) {
            axios.post(this.actionLink, {
                params: data,
                amountPerPage: this.amountPerPage,
            })
                .then((response) => {
                    this.products = response.data.data.products;
                    this.loadMoreActionLink = response.data.data.next_set_link;
                })
                .catch((error) => {
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                });
        },
        onChangeShowObjectsAmount(amount) {
            const data = this.$refs.catalogFilter.getFiltersState();
            this.amountPerPage = amount;

            axios.post(this.actionLink, {
                params: data,
                amountPerPage: this.amountPerPage,
            })
                .then((response) => {
                    this.products = response.data.data.products;
                    this.loadMoreActionLink = response.data.data.next_set_link;
                })
                .catch((error) => {
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                });
        },
        switchSortingType() {
            this.sortingByCollections = !this.sortingByCollections;
            axios.post(this.actionLink)
                .then((response) => {
                    this.products = response.data.data.products;
                    this.loadMoreActionLink = response.data.data.next_set_link;
                })
                .catch((error) => {
                    this.sortingByCollections = !this.sortingByCollections;
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                });
        },
    },
};
</script>
