<template>
    <div
        class="catalog-item"
        :class="{'catalog-item--hover': itemHovered}"
    >
        <div
            class="catalog-item__slider swiper-container"
            @mouseenter="hoverItem"
            @mouseleave="blurItem"
        >
            <div class="swiper-wrapper">
                <template v-if="item.images.length > 1">
                    <a
                        v-for="(image, index) in item.images"
                        :key="index + image"
                        :href="item.link ? item.link : item.url"
                        :aria-label="item.title"
                        class="catalog-item__slide swiper-slide"
                        tabindex="-1"
                    >
                        <span class="catalog-item__image-wrap">
                            <picture v-if="usingInMainSlider">
                                <source
                                    :srcset="`${image.image_280}, ${image.image_560} 2x`"
                                    media="(min-width: 481px) and (max-width: 1440px)"
                                >
                                <source
                                    :srcset="`${image.image_360}, ${image.image_720} 2x`"
                                    media="(max-width: 480px)"
                                >
                                <img
                                    loading="lazy"
                                    :srcset="`${image.image_360}, ${image.image_720} 2x`"
                                    :alt="item.title"
                                    class="catalog-item__image swiper-lazy"
                                >
                            </picture>
                            <picture v-else>
                                <source
                                    :srcset="`${image.image_248}, ${image.image_660} 2x`"
                                    media="(max-width: 1024px)"
                                >
                                <img
                                    loading="lazy"
                                    :srcset="`${image.image_330}, ${image.image_660} 2x`"
                                    :alt="item.title"
                                    class="catalog-item__image swiper-lazy"
                                >
                            </picture>
                            <span class="swiper-lazy-preloader" />
                        </span>
                    </a>
                </template>
                <template v-else>
                    <a
                        :href="item.link ? item.link : item.url"
                        :aria-label="item.title"
                        class="catalog-item__slide"
                    >
                        <span class="catalog-item__image-wrap">
                            <picture v-if="!usingInMainSlider && item.images[0]">
                                <source
                                    :srcset="`${item.images[0].image_248}, ${item.images[0].image_660} 2x`"
                                    media="(max-width: 1024px)"
                                >
                                <img
                                    loading="lazy"
                                    :srcset="`${item.images[0].image_330}, ${item.images[0].image_660} 2x`"
                                    :alt="item.title"
                                    class="catalog-item__image"
                                >
                            </picture>
                            <picture v-if="usingInMainSlider && item.images[0]">
                                <source
                                    :srcset="`${item.images[0].image_360}, ${item.images[0].image_720} 2x`"
                                    media="(max-width: 480px)"
                                >
                                <source
                                    :srcset="`${item.images[0].image_280}, ${item.images[0].image_560} 2x`"
                                    media="(min-width: 481px) and (max-width: 1440px)"
                                >
                                <img
                                    loading="lazy"
                                    :srcset="`${item.images[0].image_360}, ${item.images[0].image_720} 2x`"
                                    :alt="item.title"
                                    class="catalog-item__image"
                                >
                            </picture>
                            <img
                                v-if="!item.images[0]"
                                loading="lazy"
                                :src="productImageDefault['1x']"
                                :srcset="productImageDefault['2x'] ? `${productImageDefault['2x']} 2x` : false"
                                :alt="item.title"
                                class="catalog-item__image"
                            >
                        </span>
                    </a>
                </template>
            </div>
            <button
                v-if="item.images.length > 1"
                ref="sliderBtnPrev"
                class="catalog-item__slider-btn
                       catalog-item__slider-btn--prev
                       slider-btn
                       slider-btn--prev"
                :aria-label="sliderBtnLabels ? sliderBtnLabels.prev : ''"
                tabindex="-1"
                @click="$refs.sliderBtnPrev.blur()"
                @mouseenter="blurItem"
                @mouseleave="hoverItem"
            >
                <svg
                    width="8"
                    height="21"
                    class="catalog-item__slider-btn-icon"
                >
                    <use xlink:href="#filter-arrow" />
                </svg>
            </button>

            <button
                v-if="item.images.length > 1"
                ref="sliderBtnNext"
                class="catalog-item__slider-btn
                       catalog-item__slider-btn--next
                       slider-btn
                       slider-btn--next"
                :aria-label="sliderBtnLabels ? sliderBtnLabels.next : ''"
                tabindex="-1"
                @click="$refs.sliderBtnNext.blur()"
                @mouseenter="blurItem"
                @mouseleave="hoverItem"
            >
                <svg
                    width="8"
                    height="21"
                    class="catalog-item__slider-btn-icon"
                >
                    <use xlink:href="#filter-arrow" />
                </svg>
            </button>
        </div>

        <a
            :href="item.link ? item.link : item.url"
            class="catalog-item__description"
            @mouseenter="hoverItem"
            @mouseleave="blurItem"
        >
            <p class="catalog-item__title">{{ item.title }}</p>
        </a>

        <a
            v-for="(value, key) in labelsTitle"
            v-show="item.labels[key]"
            :key="key"
            :href="item.link ? item.link : item.url"
            class="catalog-item__label"
            :class="'catalog-item__label--' + key"
            @mouseenter="hoverItem"
            @mouseleave="blurItem"
        >
            <span class="catalog-item__label-text">{{ value }}</span>
        </a>
    </div>
</template>

<script>
import Swiper, { Navigation, Keyboard, Lazy } from 'swiper';
import 'swiper/swiper.scss';
import 'swiper/components/lazy/lazy.scss';

Swiper.use([Navigation, Keyboard, Lazy]);

export default {
    name: 'CatalogItem',
    props: {
        labelsTitle: Object,
        item: Object,
        sliderBtnLabels: Object,
        inSliderWithLazyLoad: Boolean,
        productImageDefault: Object,
        usingInMainSlider: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            itemHovered: false,
        };
    },
    mounted() {
        const catalogItemSliderContainer = document.querySelector('.catalog-item__slider');

        if (this.item.images.length > 1) {
            new Swiper(catalogItemSliderContainer, {
                slidesPerView: 1,
                speed: 500,
                loop: true,

                preloadImages: false,
                lazy: true,

                navigation: {
                    nextEl: '.catalog-item__slider-btn--next',
                    prevEl: '.catalog-item__slider-btn--prev',
                    disabledClass: 'catalog-item__slider-btn--disabled',
                },

                keyboard: {
                    enabled: true,
                    onlyInViewport: true,
                },
            });
        }
    },
    methods: {
        hoverItem() {
            this.itemHovered = true;
        },
        blurItem() {
            this.itemHovered = false;
        },
    },
};
</script>

<style>

</style>
