<template>
    <section class="catalog-sorting">
        <div class="catalog-sorting__show">
            <div class="catalog-sorting__show-title">
                {{ __('Показать') }}:
            </div>
            <button
                v-for="(item, index) in showObjectsAmountOptions"
                :key="index"
                class="catalog-sorting__show-item"
                :class="{'catalog-sorting__show-item--active': item.active}"
                @click="showObjectsAmount(index)"
            >
                {{ item.value }}
            </button>
            <button
                class="catalog-sorting__select-sorting-type"
                @click="$emit('switch-sorting-type')"
            >
                {{ sortingByCollections ? __('Показать все ткани') : __('Сгруппировать по коллекциям') }}
            </button>
        </div>
    </section>
</template>

<script>
export default {
    name: 'CatalogSorting',
    props: {
        showObjectsTitle: String,
        sortingTypeBtnText: String,
        newSortingType: String,
        sortingByCollections: Boolean,
    },
    data() {
        return {
            showObjectsAmountOptions: [
                {
                    active: true,
                    value: 15,
                },
                {
                    active: false,
                    value: 30,
                },
                {
                    active: false,
                    value: 45,
                },
            ],
            showObjectsActiveValue: 15,
        };
    },
    methods: {
        showObjectsAmount(index) {
            this.showObjectsAmountOptions.forEach((item) => {
                item.active = false;
            });
            this.showObjectsAmountOptions[index].active = true;
            if (this.showObjectsActiveValue !== this.showObjectsAmountOptions[index].value) {
                this.showObjectsActiveValue = this.showObjectsAmountOptions[index].value;
                this.$emit('change-show-objects-amount', this.showObjectsActiveValue);
            }
        },
    },
};
</script>

<style>

</style>
