.carousel {
  width: 100%;
  margin-bottom: 119px;
}

.carousel__centered-swiper-wrapper {
  justify-content: center;
}

.carousel__preloader {
  border-color: $gray-2 $gray-2 $gray-2 transparent;
}

.carousel__main-wrap {
  position: relative;
  width: 100%;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.08));
}

.carousel__main {
  width: 100%;
}

.carousel__main-slide {
  width: 100%;
  height: 448px;
}

.carousel__main-slide {
  &:hover,
  &:focus {
    outline: none;

    .carousel__video-btn {
      fill: rgba($white, 0.7);
    }
  }
}

.carousel__main-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel__btn {
  top: 50%;
  z-index: 2;
  width: 48px;
  height: 48px;
  margin-top: -24px;

  &:hover,
  &:focus {
    background-color: $gray-6;
  }

  &--next {
    right: -12px;
  }

  &--prev {
    left: -12px;
  }
}

.carousel__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 83px;
  height: 83px;
  fill: rgba($white, 0.5);

  transition: fill 0.3s;
  transform: translate(-50%, -50%);
}

.carousel__thumbs-wrap {
  position: relative;
  padding: 0 46px;
}

.carousel__thumbs {
  margin-top: 29px;
}

.carousel__thumb {
  position: relative;
  min-width: 139px;
  height: 108px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  }
}

.carousel__thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel__thumb.swiper-slide-thumb-active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);

  &::before {
    background: rgba(69, 69, 69, 0.4);
  }
}

.carousel__main-slide,
.carousel__thumb {
  .swiper-lazy {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .swiper-lazy-loaded {
    opacity: 1;
  }
}

.lg-backdrop.in {
  opacity: 0.75;
}

.carousel__video,
.carousel__thumb-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@include screen-md {
  .carousel__main-slide {
    height: 434px;
  }

  .carousel__video-btn {
    width: 75px;
    height: 75px;
  }
}

@include screen-sm {
  .carousel {
    margin-bottom: 40px;
  }

  .carousel__main-slide {
    height: 330px;
  }

  .carousel__video-btn {
    width: 54px;
    height: 54px;
  }
}

@include tablet-lg {
  .carousel__thumbs-wrap {
    padding: 0 calc((100% - 477px)/2);
  }

  .carousel__btn {
    &--next {
      right: calc((100% - 477px)/4 - 24px);
    }

    &--prev {
      left: calc((100% - 477px)/4 - 24px);
    }
  }
}

@include tablet-md {
  .carousel__main-slide {
    height: 290px;
  }

  .carousel__thumbs-wrap {
    padding: 0 calc((100% - 354px)/2);
  }
}

@include tablet-sm {
  .carousel__thumbs-wrap {
    padding: 0 calc((100% - 231px)/2);
  }

  .carousel__btn {
    &--next {
      right: -8px;
    }

    &--prev {
      left: -8px;
    }
  }
}

@include phone-lg {
  .carousel__main-slide {
    height: 240px;
  }

  .carousel__thumbs-wrap {
    padding: 0 calc((100% - 185px)/2);
  }

  .carousel__thumb {
    height: 75px;
  }
}
