.product {
  width: 100%;
  margin-bottom: 129px;
}

.product__inner {
  @include inner;
}

.product__link-wrap {
  width: 100%;
  margin: 42px 0 70px;
}

.product__back-link {
  @include link;

  position: relative;
  padding-left: 26px;
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;

  svg {
    position: absolute;
    top: 7px;
    left: 0;
    stroke: #4f4f4f;
    transform: rotate(180deg);
  }
}

.product__data {
  display: grid;
  grid-template-columns: 1fr 575px;
  grid-gap: 55px 63px;

  width: 100%;
  padding-right: 4.4vw;
}

.product__subtitle {
  margin-bottom: 40px;
  color: $gray-2;
  font: $bold 24px/1.25 $font-family-base;
}

.product__description {
  max-width: 480px;
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;

  p {
    margin-bottom: 25px;
  }
}

.product__info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  margin-bottom: 23px;
}

.product__info-title {
  color: $gray-2;
  font: $bold 22px/1.23 $font-family-base;
}

.product__info-value {
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;
}

.product__care {
  padding-top: 25px;
  border-top: 1px solid $gray-3;
}

.product__care-title {
  display: block;
  margin-bottom: 23px;
  color: $gray-2;
  font: $regular 24px/1.25 $font-family-base;
}

.product__care-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  margin-bottom: 45px;

  li {
    margin: 8px 0;
  }

  svg {
    fill: $gray-5;
  }
}

.product__carousel {
  min-width: 0;

  .carousel__thumb {
    min-width: unset;
  }
}

.product__actions {
  min-width: 0;
}

.product__actions-row {
  margin-bottom: 20px;
}

.product__title {
  color: $gray-2;
  font: $regular 36px/1.11 $font-family-secondary;

  &--mobile {
    display: none;
  }
}

.product__share {
  margin-bottom: 35px;
}

.product__share-title {
  color: $gray-2;
  font: $bold 18px/1.22 $font-family-base;
}

.product__share-links {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: 20px;
  width: 100%;
  margin-top: 16px;
}

.product__share-link {
  align-self: center;

  svg {
    transition: fill 0.3s,
      stroke 0.3s;
  }
}

.product__share-link--whatsapp {
  svg {
    fill: $gray-2;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      fill: #2cbc43;
    }
  }
}

.product__share-link--viber {
  svg {
    fill: $gray-2;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      fill: #ba32ea;
    }
  }
}

.product__share-link--mail {
  svg {
    stroke: $gray-2;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      stroke: #f2994a;
    }
  }
}

.product__cart-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 35px;
}


@include screen-md {
  .product__link-wrap {
    margin: 20px 0 55px;
  }

  .product__data {
    padding-right: 0;
  }
}

@include screen-sm {
  .product__link-wrap {
    margin: 15px 0 50px;
  }

  .product__data {
    display: flex;
    flex-direction: column;
    grid-gap: unset;
    align-items: flex-start;
  }

  .product__carousel,
  .product__actions,
  .product__description,
  .product__info {
    width: 100%;
    padding-right: calc(100% - 605px);
  }

  .product__description {
    order: 4;
    max-width: unset;
    margin-top: 50px;
    font-size: 18px;
  }

  .product__carousel {
    order: 1;
  }

  .product__actions {
    order: 2;
  }

  .product__info {
    order: 3;
  }

  .product__title {
    margin-bottom: 45px;
    font-size: 22px;

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .product__subtitle {
    font-size: 22px;
  }

  .product__info-title {
    font-size: 18px;
  }

  .product__info-value {
    font-size: 18px;
  }
}

@include tablet-lg {
  .product__title {
    margin-bottom: 40px;
  }

  .product__back-link {
    font-size: 18px;

    svg {
      top: 4px;
    }
  }

  .product__carousel {
    padding-right: 0;
  }
}

@include tablet-md {
  .product__info-row {
    grid-gap: 40px;
    margin-bottom: 20px;
  }
}

@include tablet-sm {
  .product {
    margin-bottom: 75px;
  }

  .product__cart-actions {
    display: block;
  }

  .product__info-row {
    display: block;
  }

  .product__info-title {
    display: block;
    margin-bottom: 10px;
  }

  .product__share {
    margin-bottom: 25px;
  }

  .product__description {
    margin-top: 30px;
  }
}

@include phone-lg {
  .product__title {
    margin-bottom: 35px;
  }

  .product__link-wrap {
    margin: 0 0 25px;
  }

  .product__care-items {
    margin-bottom: 30px;
  }

  .product__subtitle {
    margin-bottom: 25px;
  }
}
