.product-cart-action {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 29px 21px 31px;
  border: 1px solid $inactive;
}

.product-cart-action__title {
  display: block;
  margin-bottom: 13px;
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;
}

.product-cart-action__variants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 18px;
  margin-bottom: 10px;
}

.product-cart-action__variant {
  display: flex;
  justify-content: center;
  min-width: 0;
  padding: 7px 3px 8px;
  border: 1px solid transparent;

  transition: border-color 0.3s;

  &:hover {
    border-color: rgba($inactive, 0.5);
  }

  &:focus {
    border-color: $inactive;
    outline: none;
  }

  &--active {
    border-color: $inactive;
  }
}

.product-cart-action__counter-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 16px;
}

.product-cart-action__counter {
  margin: 5px 10px 5px 0;
}

.product-cart-action__price {
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;
}

.product-cart-action__btn {
  width: 100%;

  &--disabled {
    pointer-events: none;
  }
}

.product-cart-action__sum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  color: $gray-2;
  font: $regular 22px/1.23 $font-family-base;

  b {
    font-weight: $bold;
  }
}


@include tablet-sm {
  .product-cart-action {
    width: 290px;
    max-width: 100%;
    margin-bottom: 25px;
  }
}
