// Nova Tool CSS
.datata-address__multiselect {
  cursor: pointer;

  .multiselect__content-wrapper {
    height: auto;
  }

  .multiselect__tags {
    border-width: 1px;
    border-color: #bacad6;
    border-radius: .5rem;
  }
}

.datata-address__clear {
  position: absolute;
  right: 41px;
  height: 40px;
  width: 40px;
  display: block;
  cursor: pointer;
  z-index: 2;

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 16px;
    background: #aaa;
    top: 12px;
    right: 4px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
