<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <multiselect
                class="mb-3 w-full datata-address__multiselect"
                :options="addresses"
                placeholder="Введите адрес"
                label="value"
                :allow-empty="false"
                :show-labels="false"
                :options-limit="20"
                :internal-search="false"
                :clear-on-select="false"
                @search-change="debouncedGetAddresses($event)"
                :value="address"
                @select="addressChanged"
            >
                <template slot="noResult">Список пуст</template>
                <template slot="noOptions">Начните вводить адрес</template>
                <template slot="clear">
                    <div class="multiselect__clear datata-address__clear" v-show="address" @mousedown.prevent.stop="clearAll"></div>
                </template>
            </multiselect>
        </template>
    </default-field>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import {getData} from '../dadata';
    import debounce from '../debounce';
    import {FormField, HandlesValidationErrors} from 'laravel-nova'

    export default {
        mixins: [FormField, HandlesValidationErrors],

        components: {
            Multiselect
        },

        props: ['resourceName', 'resourceId', 'field'],

        data() {
            return {
                errors: {
                    address: '',
                },
                addresses: [],
                address: this.field.value,
            }
        },

        computed: {
            debouncedGetAddresses: function () {
                let DELAY = 300;
                return debounce(this.getAddresses, DELAY);
            },
        },

        methods: {
            addressChanged(address) {
                this.address = address;
            },
            getAddresses(searchQuery) {
                getData(this.field.api_key, {
                    query: searchQuery,
                    restrict_value: true
                })
                    .then(
                        success => this.addresses = success.suggestions,
                        error => alert(`Произошла ошибка при загрузке адресов: ${error.message}`)
                    );
            },
            clearAll () {
                this.address = null;
            },
        },
        mounted() {
            this.field.fill = formData => {
                formData.append(this.field.attribute, JSON.stringify(this.address))
            }
        },
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>


