.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0 15px;
  border: 1px solid $gray-5;
  background: $white;
  color: $gray-2;
  font-weight: 300;
  font-size: 20px;
  font-family: $font-family-secondary;
  line-height: 22px;
  transition: border-color 0.15s linear,
    background-color 0.15s linear;

  &:hover,
  &:focus {
    border-color: $gray-2;
    outline: none;
  }

  &:active {
    border-color: $gray-5;
    background-color: $gray-6;
  }

  &:disabled {
    background-color: $gray-6;
    opacity: 0.4;
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: $gray-5;
    }
  }

  &--dark {
    border: 1px solid $gray-2;

    &:hover,
    &:focus {
      border-color: $gray-5;
      outline: none;
    }
  }

  &--regular {
    font-weight: $regular;
  }
}

@include screen-md { // 1240
  .btn {
    height: 50px;
    padding: 0 15px;
  }
}

@include tablet-md { // 768

  .btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
  }
}
