
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 20px;
  padding-left: 34px;
  cursor: pointer;

  &--right {
    padding-right: 34px;
    padding-left: 0;

    .checkbox__symbol {
      right: 0;
      left: auto;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  &--disabled {
    cursor: pointer;
  }
}

.checkbox:checked {
  ~ .checkbox__symbol {
    &::after {
      transform: scale(1);
    }
  }
}

.checkbox:disabled ~ span {
  opacity: 0.6;
}

.checkbox__title {
  border-bottom: 1px solid transparent;

  transition: border-bottom-color 0.3s;
}

.checkbox:focus {
  ~ .checkbox__title {
    border-bottom-color: $gray-2;
  }
}


.checkbox__symbol {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border: 1px solid $gray-2;
  border-radius: 50%;
  transform: translate(0, -50%);

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: $gray-2;
    transition: transform 0.15s ease-out;
    transform: scale(0);
  }
}
