
.gm-style .gm-style-iw-t::after {
  content: none;
}

.gm-style .gm-style-iw-c {
  top: -24px;
  left: 192px;
  width: 323px;
  padding: 0;
  border-radius: 0;
}

.gm-style-iw.gm-style-iw-c {
  overflow: visible !important;

  > button {
    top: -22px !important;
    right: -26px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    background-color: $gray-6 !important;

    img {
      width: 18px !important;
      height: 18px !important;
    }
  }
}

.gm-style-iw.gm-style-iw-c .gm-style-iw-d {
  overflow: unset !important;
}

@include phone-lg() {
  .gm-style .gm-style-iw-c {
    top: -50px;
    left: 0;
  }

}
