
.toggle {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    .toggle__title {
      opacity: 0.75;
    }
  }

  &:focus {
    outline: none;
  }

  &--active {
    .toggle__option-tumbler {
      border-color: $gray-2;

      &::after {
        left: calc(100% - 24px - 2px);
        background-color: $gray-2;
      }
    }
  }
}

.toggle__title {
  font-size: 24px;
  font-family: $font-family-secondary;
  transition: opacity 0.1s linear;
}

.toggle__option-tumbler {
  position: relative;
  width: 58px;
  height: 30px;
  margin-left: 32px;
  border: 1px solid $inactive;
  border-radius: 30px;
  transition: border-color 0.1s linear;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $inactive;
    transition: left 0.15s ease-out, background-color 0.1s linear;
  }
}
