
.confirmation-code-form {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin-right: auto;
  margin-left: auto;
  padding: 29px 0 29px 16px;
  color: $gray-2;
}

.confirmation-code-form__title {
  font: $regular 24px/1.25 $font-family-secondary;
}

.confirmation-code-form__text {
  margin-top: 18px;
  font: $regular 20px/1.25 $font-family-base;
}

.confirmation-code-form__text-change-btn {
  border-bottom: 1px solid transparent;
  color: #277682;

  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: #277682;
    outline: none;
  }
}

.confirmation-code-form__inputs-wrap {
  display: flex;
  margin: 34px 0 20px;

  .confirmation-code-form__input {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.confirmation-code-form__input {
  width: 60px;
  height: 70px;
  border: 1px solid $gray-4;
  color: $gray-2;
  font: $semibold 36px/1.25 $font-family-base;
  text-align: center;

  transition: boder 0.3s;

  &:focus {
    border: 1px solid $gray-2;
    outline: none;
  }
}

.confirmation-code-form__new-code-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.confirmation-code-form__new-code-btn {
  border-bottom: 1px solid transparent;
  font: $regular 22px/1.25 $font-family-base;

  transition: border-bottom-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

.confirmation-code-form__login-btn-wrap {
  display: flex;
  justify-content: center;
}

.confirmation-code-form__login-btn {
  justify-content: center;
  width: 294px;
  max-width: 100%;
  height: 60px;
}

.confirmation-code-form__error {
  margin-bottom: 24px;
  text-align: center;
  color: $red;
  font: $regular 16px/1 $font-family-base;
}

@include screen-md() {
  .confirmation-code-form {
    padding-top: 63px;
  }

}


@include tablet-md() {
  .confirmation-code-form {
    width: 304px;
    padding-top: 92px;
    padding-bottom: 139px;
  }

  .confirmation-code-form__text {
    font-size: 16px;
  }

  .confirmation-code-form__inputs-wrap .confirmation-code-form__input {
    width: 46px;
    height: 50px;
    margin-right: 13px;
    font-size: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .confirmation-code-form__inputs-wrap {
    margin-bottom: 15px;
  }

  .confirmation-code-form__new-code-btn {
    font-size: 16px;
  }

  .confirmation-code-form__new-code-btn-wrap {
    margin-bottom: 44px;
  }

}

@include phone-lg() {
  .confirmation-code-form {
    max-width: 100%;
    padding: 28px 0 20px;
  }

  .confirmation-code-form__inputs-wrap {
    justify-content: center;
  }

}

@include phone-sm() {
  .confirmation-code-form__inputs-wrap .confirmation-code-form__input {
    width: 42px;
    height: 48px;
    margin-right: 12px;
    font-size: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

}
