
.login-form__wrap {
  width: 380px;
  max-width: 100%;
  padding-bottom: 105px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}

.login-form__tabs {
  display: flex;
  justify-content: space-between;
  width: 380px;
  max-width: 100%;
  margin: 0 auto;
}

.login-form__tab {
  color: $gray-2;
  font-size: 26px;
  line-height: 1.2;
  font-family: $font-family-secondary;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;

  &:hover,
  &:focus,
  &--active {
    outline: none;
    border-bottom-color: $gray-2;
  }
}

.login-form__divider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 52px 0;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 2px);
    display: block;
    width: 100%;
    border-top: 1px solid $gray-2;
  }
}

.login-form__divider-text {
  z-index: 1;
  display: block;
  padding: 0 27px;
  background-color: $white;
  color: $gray-2;
  font: $regular 22px/1 $font-family-base;
}

.login-form__action-btn {
  justify-content: center;
  width: 295px;
  max-width: 100%;
  height: 60px;
}

.login-form__input-wrap {
  width: 100%;
  margin-bottom: 37px;

  transition: opacity 0.3s;

  .text-field__title {
    margin-bottom: 16px;
  }

  &--hide {
    opacity: 0;
  }
}

.login-form__btn-mode {
  border-bottom: 1px solid transparent;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;

  transition: border-bottom-color 0.3s, opacity 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: $gray-2;
    outline: none;
  }

  &--hide {
    opacity: 0;
  }
}

.login-form__social-networks-title {
  margin-top: 20px;
  color: $gray-2;
  font: $regular 22px/1.25 $font-family-base;
}

.login-form__social-network-link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;

  &:hover,
  &:focus {
    outline: none;

    .login-form__social-network-icon {
      opacity: 0;
    }
  }
}

.login-form__social-networks {
  display: flex;
  padding-top: 22px;

  .login-form__social-network-link {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.login-form__social-network-icon {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  color: $gray-2 !important;
  fill: $gray-2 !important;

  transition: opacity 0.4s;
}

.login-form__social-network-icon--colored {
  position: absolute;
  width: 30px;
  height: 30px;
}

@include screen-md() {
  .login-form {
    padding: 69px 0 29px;
  }

}

@include tablet-md() {
  .login-form {
    margin-right: auto;
    margin-left: auto;
    padding: 98px 0 29px;
  }

  .login-form__action-btn {
    max-width: calc(100% - 30px);
  }

  .login-form__input-wrap {
    .text-field__title {
      margin-bottom: 6px;
    }

    .text-field__label {
      margin-bottom: 7px;
    }
  }

  .login-form__divider {
    margin: 52px 0 27px;
  }

  .login-form__divider-text {
    font-size: 18px;
  }

  .login-form__btn-mode {
    font-size: 18px;
  }

  .login-form__social-networks-title {
    font-size: 18px;
  }

  .login-form__social-networks {
    padding-top: 22px;
  }
}

@include phone-lg() {
  .login-form {
    padding: 33px 0 0;
  }

  .login-form__social-networks {
    padding-top: 42px;
  }

}
