.registration-form {
  display: flex;
  flex-direction: column;
  width: 380px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0;
  color: $gray-2;
  align-items: center;
}

.registration-form__title {
  margin-bottom: 35px;
  width: 100%;
  font: $regular 24px/1.25 $font-family-secondary;
}

.registration-form__inputs {
  width: 100%;
  margin: 5px 0 50px;
}

.registration-form__additional {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__address-card {
  margin: 40px 0;
  width: 100%;
}

.registration-form__address-title {
  display: block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font: $regular 26px/1.25 $font-family-secondary;
}
