.header-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-left: 30px;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus,
  &:active {
    background: #fafafa;
    box-shadow: 0 0 6px rgba(70, 70, 70, 0.12);
  }
}

.header-cart__icon {
  width: 18px;
  height: 18px;
  stroke: $gray-2;
}

.header-cart__amount {
  position: relative;
  display: block;
  width: 17px;
  height: 13.5px;
  margin-bottom: -5px;
  margin-left: 5px;
  padding-left: 3px;
  color: #4f4f4f;
  font-weight: $medium;
  font-size: 12px;

  font-family: $font-family-base;
  line-height: 13.5px;
  text-align: center;
  text-transform: capitalize;


}

.header-cart__amount-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 17px;
  height: 13.5px;
  stroke: $gray-2;
}
