.header-account {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-left: 30px;
  transition: background-color 0.15s linear, box-shadow 0.15s linear;

  &:hover,
  &:focus,
  &:active {
    background: #fafafa;
    box-shadow: 0 0 6px rgba(70, 70, 70, 0.12);
    outline: none;
  }
}

.header-account__menu {
  position: absolute;
  top: calc(100% + 20px);
  left: -125px;
  z-index: 1;
  padding: 35px 30px 35px 40px;
  background: $white;
  box-shadow: 0 0 15px rgba(50, 50, 50, 0.08);
  opacity: 0;

  visibility: hidden;
  transition: opacity 0.2s linear, transform 0.2s ease-in, visibility 0s linear 0.2s;
  transform: translateY(10px);

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 20px;
  }

  &--open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s linear, transform 0.2s ease-out, visibility 0s linear;
    transform: translateY(0);
  }
}

.header-account__menu-item {
  @include menu-item;
}

.header-account__menu-item-link {
  @include menu-item-link;

  &--hidden {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }
  }
}

.header-account__icon {
  stroke: $gray-2;
}

.header-account__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }
}
