.header-lang {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-lang__item {
  border-bottom: 1px solid transparent;
  color: $gray-1;
  font-weight: $light;
  font-size: 18px;
  font-family: $font-family-base;
  line-height: 1;
  text-transform: capitalize;
  transition: color 0.15s linear, border-bottom-color 0.1s linear;

  &--current,
  &:hover,
  &:focus {
    border-bottom-color: inherit;
    color: $gray-1;
    outline: none;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

@include screen-sm {
  .header-lang__item {
    font-size: 16px;
  }
}
