.header {
  position: relative;
  z-index: 2;
}

.header__inner {
  @include inner;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}



.header__logo-slogan {
  margin-top: 7px;
  color: $gray-1;
  font-size: 14px;
  font-family: $font-family-secondary;
  line-height: 15px;
  text-transform: capitalize;
}

.header__actions-wrapper {
  display: flex;
  width: 350px;

  &--right {
    justify-content: flex-end;
  }
}

@include screen-sm { // 1240
  .header__lang,
  .header__search,
  .header__account {
    display: none !important;
  }

  .header__logo-slogan {
    display: none;
  }

  .header__actions-wrapper {
    width: 150px;
  }
}

@include tablet-lg { // 991
  .header__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@include tablet-sm { // 601
  .header__inner {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__logo-img {
    width: 120px;
    height: 35px;
  }

  .header__actions-wrapper {
    width: 75px;
  }
}
