.main-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 80px 0;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 80, 85, 0.15);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, transform 0.2s ease-in, visibility 0.2s linear, height 0.1s linear;
  transform: translateY(10px);

  &--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.main-menu__inner {
  @include inner();
  justify-content: flex-start;
}

.main-menu__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  visibility: hidden;
  transition: transform 0.2s ease-in;

  &:focus,
  &:hover,
  &:active {
    outline: none;
    transform: scaleY(0.8);
  }
}

.main-menu__close-icon {
  stroke: $gray-1;
}

// menu list
.main-menu__list {
  width: 420px;
}

.main-menu__list-item {
  @include menu-item;
}

.main-menu__list-item-link {
  @include menu-item-link;
  position: relative;
}

.main-menu__list-item-icon {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  fill: $gray-2;
  transform: translateY(-50%);
}

// menu box
.main-menu__box {
  width: 280px;
}

.main-menu__box-item {
  color: $gray-2;
  font-weight: $light;
  font-size: 18px;
  font-family: $font-family-base;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--address {
    width: 135px;
  }
}

.main-menu__box-item-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $gray-2;
    outline: none;
  }
}

// profile
.main-menu__profile {
  display: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main-menu__profile-head {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.main-menu__profile-title {
  @include menu-item-link;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: transparent;
  }
}

.main-menu__profile-title-icon {
  margin-left: 15px;
  stroke: $gray-2;
  transition: transform 0.25s linear;
  transform: rotateZ(-90deg) rotateY(0);
  stroke-width: 2px;

  &--open {
    transform: rotateZ(-90deg) rotateY(180deg);
  }
}

.main-menu__profile-item {
  @include menu-item;
  padding-left: 15px;
}

.main-menu__profile-link {
  @include menu-item-link;
}

// lang
.main-menu__lang {
  visibility: hidden;
}

// search
.main-menu__search {
  display: none !important;
  width: 100%;
}


@include screen-sm { // 1240

  .main-menu__close {
    visibility: visible;
  }

  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 305px;
    height: 100vh;
    padding: 0;
    box-shadow: 0 5px 25px rgba(0, 80, 85, 0.15);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, transform 0.2s ease-in, visibility 0.2s linear, height 0.1s linear;
    transform: translateX(-150px);

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  .main-menu__inner-wrap {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 60px 30px;
  }

  .main-menu__inner {
    flex-direction: column;
    width: unset;
    max-width: unset;
    height: unset;
    min-height: 100%;
    padding: 0;
  }

  .main-menu__box {
    &--contacts,
    &--social {
      display: none !important;
    }
  }

  .main-menu__profile {
    display: block;
  }

  .main-menu__list {
    width: unset;
  }

  .main-menu__list-item-icon {
    left: calc(100% + 30px);
  }

  .main-menu__lang {
    margin-top: auto;
    visibility: visible;
  }

  .main-menu__search {
    display: flex !important;
    margin-top: auto;
    margin-bottom: 20px;
  }
}

@include phone-sm { // 400
  .main-menu {
    width: 100%;
  }
}
