.main-menu-btn {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 30px;

  .main-menu-btn--open {
    .main-menu-btn__line--1 {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    .main-menu-btn__line--2 {
      width: 0;
    }

    .main-menu-btn__line--3 {
      top: 50%;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.main-menu-btn:hover,
.main-menu-btn:focus {
  outline: none;

  &.main-menu-btn--open {
    .main-menu-btn__line:not(.main-menu-btn__line--2) {
      width: 35px;
    }
  }

  &:not(.main-menu-btn--open) {
    .main-menu-btn__line {
      &--1 {
        top: calc(50% - 9px);
        left: calc(50% - 2px);
      }

      &--2 {
        left: calc(50% + 2px);
      }

      &--3 {
        top: calc(50% + 9px);
        left: calc(50% - 2px);
      }
    }
  }
}

.main-menu-btn__line {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 1px;
  background-color: $gray-1;
  transition: transform 0.2s ease-out, width 0.2s ease-in-out, top 0.075s linear, left 0.075s linear;
  transform: translateX(-50%);

  &--1 {
    top: calc(50% - 7px);
  }

  &--2 {
    top: 50%;
  }

  &--3 {
    top: calc(50% + 7px);
  }
}
