<template>
    <article
        :class="[
            'address-card',
            {'address-card--open': cardOpen},
            {'address-card--flex-start': flexStart},
            {'address-card--saved': addressData['saved']},
        ]"
    >
        <button
            type="button"
            class="address-card__head-btn"
            :title="cardOpen ? text.close : text.open"
            @click="stateCardToggle"
        >
            <span class="address-card__head-btn-text">
                {{ text.address+' '+parseInt(addressData.index+1) }}
            </span>
            <span class="address-card__head-btn-symbol" />
        </button>
        <slide-up-down
            class="address-card__content"
            :active="cardOpen"
            :duration="duration"
        >
            <section class="address-card__fields-section">
                <slide-up-down
                    class="address-card__fields-read"
                    :active="!showEditForm"
                    :duration="duration"
                >
                    <div
                        v-for="(item, index) in addressData.fields"
                        :key="'profile-address-field-'+'-'+item.index+'-'+index"
                        class="address-card__field-group"
                    >
                        <span class="address-card__field-group-title">
                            {{ __(item.title) }}:
                        </span>
                        <span class="address-card__field-group-value">
                            {{ item.value }}
                        </span>
                    </div>
                </slide-up-down>
                <slide-up-down
                    class="address-card__fields-edit"
                    :active="showEditForm"
                    :duration="duration"
                >
                    <text-field
                        v-for="(field, fieldIndex) in addressData.fields"
                        :key="'profile-address-field-'+'-'+field.name+'-'+fieldIndex+'--edit'"
                        :field-data.sync="field"
                    />
                </slide-up-down>
                <div
                    v-if="showActions"
                    class="address-card__checkbox-wrap"
                >
                    <label
                        :class="[
                            'address-card__checkbox checkbox__label',
                            {'checkbox__label--disabled': showEditForm && !checkValidateFields}
                        ]"
                    >
                        <input
                            v-model="addressData['is_default']"
                            type="checkbox"
                            class="checkbox visually-hidden"
                            :disabled="btnDisabledData || (showEditForm && !checkValidateFields)"
                            @change="unsetDefaultOption"
                        >
                        <span class="checkbox__symbol" />
                        <span class="checkbox__title">
                            {{ text.selectDefault }}
                        </span>
                    </label>
                </div>
            </section>
            <section
                v-if="showActions"
                class="address-card__actions"
            >
                <div
                    v-if="showEditForm"
                    class="address-card__action-edit"
                >
                    <button
                        type="button"
                        class="address-card__btn-edit btn"
                        @click="closeEditForm"
                    >
                        {{ text.cancel }}
                    </button>
                    <button
                        type="button"
                        class="address-card__btn-edit btn btn--dark"
                        @click="checkForm"
                    >
                        {{ text.save }}
                    </button>
                </div>
                <div
                    v-else
                    class="address-card__actions-read"
                >
                    <button
                        type="button"
                        class="address-card__btn"
                        @click="openEditForm"
                    >
                        {{ text.edit }}
                    </button>
                </div>
            </section>
        </slide-up-down>
    </article>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';
import TextField from '../text-field.vue';
import { isPhone } from '../../utility/rules.js';

export default {
    name: 'AddressCard',
    components: {
        SlideUpDown,
        TextField,
    },
    props: {
        btnDisabled: Boolean,
        addressData: Object,
        text: Object,
        showActions: Boolean,
        defaultShowEditForm: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            addressDataDefault: {},
            cardOpen: false,
            realtimeValidation: false,
            successEditing: false,
            showEditForm: this.defaultShowEditForm,
            btnDisabledData: this.btnDisabled,
            flexStart: true,
            duration: 350,
        };
    },
    computed: {
        errorsExists() {
            return Object.values(this.addressData.fields).some((item) => item.error);
        },
    },
    created() {
        this.addressDataDefault = JSON.parse(JSON.stringify(this.addressData));
    },
    methods: {
        stateCardToggle() {
            this.cardOpen = !this.cardOpen;
            if (this.cardOpen) {
                setTimeout(() => {
                    this.flexStart = false;
                }, this.duration);
            } else {
                this.flexStart = true;
            }
        },
        unsetDefaultOption() {
            if (this.addressData.is_default) {
                this.$emit('on-select-default', this.addressData);
            }
        },
        openEditForm() {
            this.showEditForm = true;
            this.successEditing = false;
        },
        closeEditForm() {
            this.showEditForm = false;
            this.btnDisabledData = false;
            this.$emit('rollback');
        },
        validateFields() {
            this.addressData.fields.forEach((item) => {
                if (item.required) {
                    item.error = !item.value;
                }
                if (item.length_value) {
                    item.error = item.value && item.value.length !== item.length_value;
                }
                if (item.validate_rule && item.validate_rule === 'phone') {
                    item.error = item.value ? !isPhone(item.value) : false;
                }
            });
        },
        checkValidateFields() {
            let error = false;

            this.addressData.fields.forEach((field) => {
                if (field.required) {
                    error = !field.value;
                }
                if (field.length_value) {
                    error = field.value && field.value.length !== field.length_value;
                }
                if (field.validate_rule && field.validate_rule === 'phone') {
                    error = !field.value;
                }
            });

            return error;
        },
        checkForm() {
            this.btnDisabledData = true;
            this.validateFields();
            this.realtimeValidation = true;

            if (!this.errorsExists) {
                this.$emit('save-address', this.addressData);
                this.successEditing = true;
                this.closeEditForm();
            } else {
                this.btnDisabledData = false;
            }
        },
    },
};
</script>
