<template>
    <section
        ref="news_wrap"
        class="my-news__wrap"
    >
        <div
            v-for="(newsItem, index) in news"
            :key="newsItem.id"
            class="my-news"
        >
            <div class="my-news__header">
                <img
                    :src="newsItem.thumbnailUrl"
                    :alt="newsItem.title"
                    class="my-news__header-thumb"
                    width="78"
                    height="78"
                    loading="lazy"
                    tabindex="0"
                    :title="labels.openNews"
                    @click="toggleNews(index)"
                >

                <div class="my-news__header-info">
                    <div class="my-news__title-wrap">
                        <h2
                            class="my-news__title"
                            tabindex="0"
                            @click="toggleNews(index)"
                        >
                            {{ newsItem.title }}
                        </h2>
                    </div>
                    <span class="my-news__date">{{ newsItem.date }}</span>
                    <a
                        :href="newsItem.downloadAllFilesLink"
                        download
                        class="my-news__header-download-link"
                        :class="{'my-news__header-download-link--hide': newsItem.open}"
                    >
                        <svg
                            width="28"
                            height="24"
                            class="my-news__header-download-link-icon"
                        >
                            <use xlink:href="#icon-download" />
                        </svg>
                    </a>
                </div>
            </div>

            <slide-up-down
                :active="newsItem.open"
                :duration="300"
            >
                <div class="my-news__content-wrap">
                    <div class="my-news__content">
                        <img
                            :src="newsItem.mainImage"
                            :alt="newsItem.title"
                            class="my-news__content-image"
                        >

                        <div
                            class="my-news__content-text"
                            v-html="newsItem.content"
                        />

                        <ul class="my-news__download-links">
                            <li
                                v-for="(link, linkIndex) in newsItem.downloadLinks"
                                :key="linkIndex"
                                class="my-news__download-links-item"
                            >
                                <a
                                    :href="link.link"
                                    class="my-news__download-link"
                                >
                                    <svg
                                        width="28"
                                        height="24"
                                        class="my-news__download-links-icon"
                                    >
                                        <use xlink:href="#icon-download" />
                                    </svg>
                                    <span class="my-news__download-links-title">
                                        {{ link.title }}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </slide-up-down>
        </div>
        <div
            v-show="loadingProcess"
            class="my-news__preloader"
        />
    </section>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';
import throttle from 'lodash.throttle';
import axios from 'axios';

export default {
    name: 'MyNews',

    components: {
        SlideUpDown,
    },

    props: {
        myNews: Array,
        labels: Object,
        actions: Object,
    },

    data() {
        return {
            news: this.myNews,
            loadingProcess: false,
            loadMoreNewsAction: this.actions.loadMore,
        };
    },

    mounted() {
        window.addEventListener('scroll', this.handleScroll);
    },

    methods: {

        toggleNews(index) {
            this.news[index].open = !this.news[index].open;
        },

        handleScroll: throttle(
            function () {
                const newsBottom = this.$refs.news_wrap.getBoundingClientRect().bottom;
                if (
                    newsBottom - window.innerHeight < 150
                    && !this.loadingProcess
                    && this.loadMoreNewsAction
                ) {
                    this.loadMoreNews();
                }
            }, 100,
        ),

        loadMoreNews() {
            this.loadingProcess = true;

            axios.get(this.loadMoreNewsAction)
                .then((response) => {
                    this.loadMoreNewsAction = response.data.links.next;

                    if (response.data.data.length > 0) {
                        this.news = this.news.concat(response.data.data);
                    }
                })
                .catch((error) => {
                    if (!error.response) {
                        alert('Ошибка сети. Проверьте ваше подключение к интернету.');
                    } else {
                        alert(error.response.data.message || error.message);
                    }
                })
                .finally(() => {
                    this.loadingProcess = false;
                });
        },

    },
};
</script>
