<template>
    <div class="orders">
        <div class="orders__row orders__row--head">
            <div class="orders__col orders__col--head">
                {{ titles.head.orderNumber }}
            </div>
            <div class="orders__col orders__col--head">
                {{ titles.head.orderDate }}
            </div>
            <div class="orders__col orders__col--head">
                {{ titles.head.orderSum }}
            </div>
            <div class="orders__col orders__col--head">
                {{ titles.head.orderStatus }}
            </div>
        </div>

        <div
            v-for="(order, index) in orders"
            :key="order.id"
            class="orders__order"
        >
            <div
                class="orders__row orders__row--handler"
                @click="toggleOrder(index)"
            >
                <div class="orders__col">
                    <span class="orders__mobile-header-data">
                        {{ titles.head.orderNumber }}:
                    </span>
                    {{ order.id }}
                </div>
                <div class="orders__col">
                    <span class="orders__mobile-header-data">
                        {{ titles.head.orderDate }}:
                    </span>
                    {{ order.date }}
                </div>
                <div class="orders__col">
                    <span class="orders__mobile-header-data">
                        {{ titles.head.orderSum }}:
                    </span>
                    {{ order.total }}
                </div>
                <div class="orders__col">
                    <span class="orders__mobile-header-data">
                        {{ titles.head.orderStatus }}:
                    </span>
                    <span :class="'orders__order-status--' + order.status">
                        {{ titles.status[order.status] }}
                    </span>
                </div>

                <div
                    class="orders__order-toggle-indicator"
                    :class="{'orders__order-toggle-indicator--open': order.open}"
                />
            </div>

            <slide-up-down
                :active="order.open"
                :duration="350"
            >
                <div class="orders__order-content">
                    <div class="orders__order-content-title">
                        {{ titles.order }} № {{ order.id }} {{ titles.fromDate }} {{ order.date }}
                    </div>

                    <div
                        v-for="(product, productIndex) in order.products"
                        :key="order.id + productIndex"
                        class="orders__order-product"
                    >
                        <div class="orders__order-product-title">
                            {{ productIndex + 1 }} {{ product.title }}
                        </div>

                        <div class="orders__order-product-parameters">
                            <span class="orders__order-product-parameters-item">
                                {{ product.volume.unitOfMeasure }}: {{ product.volume.amount }}
                            </span>

                            <span class="orders__order-product-parameters-item">
                                {{ product.price.priceTitle }}: {{ product.price.priceVolume }}
                            </span>

                            <span class="orders__order-product-parameters-item">
                                {{ titles.price }}: {{ product.total }}
                            </span>
                        </div>
                    </div>

                    <div class="orders__order-total">
                        {{ titles.total }}: {{ order.total }}
                    </div>

                    <a
                        v-if="order.client_is_entity && order.client_is_entity === true"
                        :href="order.downloadLink"
                        class="btn orders__download-btn"
                        download
                    >{{ titles.downloadBtnText }}</a>

                    <div
                        v-if="order.status !== 'paid' && order.status !== 'shipped' && order.status !== 'cancelled'"
                        class="orders__order-footer"
                    >
                        <button
                            class="orders__cancel-order-btn"
                            :disabled="order.disableCancelBtn"
                            @click="showCancelPopup(order.id)"
                        >
                            {{ titles.cancelOrderBtn }}
                        </button>
                    </div>

                    <div
                        v-if="order.errorText"
                        class="orders__order-error"
                    >
                        {{ order.errorText }}
                    </div>
                </div>

                <div
                    v-if="order.comment"
                    class="orders__order-content orders__order-content--comment"
                >
                    <div class="orders__order-content-title">
                        {{ titles.commentTitle }}
                    </div>
                    <div class="orders__comment">
                        {{ order.comment }}
                    </div>
                </div>
            </slide-up-down>
        </div>

        <popup-cancel-order
            :cancel-popup="cancelPopup"
            @confirm-cancel-order="cancelOrder"
        />
    </div>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down';
import axios from 'axios';
import PopupCancelOrder from './popup-cancel-order.vue';

export default {
    name: 'Orders',
    components: {
        SlideUpDown,
        PopupCancelOrder,
    },
    props: {
        titles: Object,
        orderList: Array,
        cancelPopup: Object,
    },
    data() {
        return {
            orders: this.orderList,
        };
    },
    methods: {
        toggleOrder(index) {
            this.orders[index].open = !this.orders[index].open;
        },
        showCancelPopup(orderId) {
            this.$emit('show-cancel-popup', orderId);
        },
        cancelOrder(id) {
            const index = this.orders.findIndex((el) => el.id === id);
            this.orders[index].errorText = '';

            axios.post(this.orders[index].actions.cancelOrder, id)
                .then(() => {
                    this.orders[index].disableCancelBtn = true;
                    this.orders[index].status = 'cancelled';
                })
                .catch((error) => {
                    if (!error.response) {
                        this.orders[index].errorText = 'Ошибка сети. Пожалуйста, проверьте ваше подключение.';
                    } else {
                        this.orders[index].errorText = error.response.data.message || error.message;
                    }
                })
                .finally(() => {
                    this.orders[index].disableCancelBtn = false;
                });
        },
    },
};
</script>
