<template>
    <div :class="['popup__wrap', {'popup__wrap--show' : showPopup}]">
        <div
            type="button"
            class="popup__overlay"
            @click="closePopup"
        />

        <div :class="['popup', 'popup-cancel-order', {'popup--show' : showPopup}]">
            <section class="popup__content popup-cancel-order__content">
                <p class="popup__title">
                    {{ cancelPopup.title }}
                </p>
                <div class="popup-cancel-order__actions">
                    <button
                        class="btn popup-cancel-order__btn-confirm"
                        @click="confirm"
                    >
                        {{ cancelPopup.confirmBtnTitle }}
                    </button>
                    <button
                        class="btn popup-cancel-order__btn-refuse"
                        @click="closePopup"
                    >
                        {{ cancelPopup.refuseBtnTitle }}
                    </button>
                </div>
            </section>

            <button
                type="button"
                class="popup__close-btn"
                title="close window"
                @click="closePopup"
            />
        </div>
    </div>
</template>

<script>
import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';

export default {
    name: 'PopupCancelOrder',
    props: {
        popupText: Object,
        cancelPopup: Object,
    },
    data() {
        return {
            showPopup: false,
            orderId: null,
        };
    },
    mounted() {
        this.$parent.$on('show-cancel-popup', this.openPopup);
    },
    methods: {
        openPopup(orderId) {
            this.showPopup = true;
            window.addEventListener('keyup', this.closeByEsc);
            disableBodyScroll(this.$el, { reserveScrollBarGap: true });
            this.subscribeSuccess = false;
            this.orderId = orderId;
        },
        closePopup() {
            this.showPopup = false;
            enableBodyScroll(this.$el);
            window.removeEventListener('keyup', this.closeByEsc);
        },
        closeByEsc(e) {
            if (e.keyCode === 27) {
                this.closePopup();
            }
        },
        confirm() {
            this.$emit('confirm-cancel-order', this.orderId);
            this.closePopup();
        },
    },
};
</script>
