<template>
    <section class="price-list">
        <div class="price-list__filter-dropdown">
            <div
                class="price-list__filter-dropdown-handle"
                @click.prevent="handleFilters"
            >
                {{ labels.priceList }}&nbsp;
                <span class="price-list__filter-dropdown-handle-title">{{ title }}</span>
                <svg
                    width="8"
                    height="21"
                    class="price-list__filter-dropdown-handle-icon"
                    :class="{'price-list__filter-dropdown-handle-icon--open': filtersOpenOnMobile}"
                >
                    <use xlink:href="#filter-arrow" />
                </svg>
            </div>
            <div
                class="price-list__filter"
                :class="{'price-list__filter--open': filtersOpenOnMobile}"
            >
                <button
                    v-for="filter in filters"
                    :key="filter.key"
                    class="price-list__filter-btn"
                    :class="{'price-list__filter-btn--active': filter.active}"
                    @click="filterPrices(filter.key, filter.title)"
                >
                    {{ filter.title }}
                </button>
            </div>
        </div>

        <div
            v-show="windowWidth > 601"
            class="price-list__table"
        >
            <div class="price-list__table-row price-list__table-row--head">
                <div
                    v-for="(head, headLabelIndex) in prices[key][0]"
                    :key="headLabelIndex"
                    class="price-list__table-col price-list__table-col--head"
                >
                    {{ labels[headLabelIndex] }}
                </div>
            </div>
            <div
                v-for="(price, priceKey) in prices[key]"
                :key="priceKey"
                class="price-list__table-row price-list__table-row--body"
            >
                <div
                    v-for="(item, itemKey) in price"
                    :key="itemKey"
                    class="price-list__table-col"
                >
                    <a
                        v-if="itemKey === 'name'"
                        :href="item.link"
                        class="price-list__table-link"
                    >{{ item.title }}</a>
                    <div v-else-if="itemKey === 'information'">
                        <div
                            v-for="parameter of item"
                            :key="`${itemKey}-${parameter.key}`"
                            class="price-list__table-parameter"
                        >
                            {{ parameter.key }} : {{ parameter.value }}
                        </div>
                    </div>
                    <template v-else>
                        {{ item }}
                    </template>
                </div>
            </div>
        </div>

        <div
            v-show="windowWidth <= 601"
            class="price-list__table price-list__table--mobile"
        >
            <div
                v-for="(group, groupIndex) in prices[key]"
                :key="groupIndex"
                class="price-list__table-group"
            >
                <div class="price-list__table-row price-list__table-row--head">
                    <div
                        class="price-list__table-col
                                price-list__table-col--head
                                price-list__table-col--mobile-head"
                    >
                        <b class="price-list__table-name-title">{{ labels.name }}</b><br>
                        <a
                            :href="group.name.link"
                            class="price-list__table-link"
                        >{{ group.name.title }}</a>
                    </div>
                </div>

                <span
                    v-for="(params, paramsKey) in group"
                    :key="paramsKey"
                >
                    <div
                        v-if="paramsKey !== 'name'"
                        class="price-list__table-row price-list__table-row--body"
                    >
                        <div class="price-list__table-col price-list__table-col--mobile">
                            {{ labels[paramsKey] }}
                        </div>
                        <div
                            v-if="paramsKey !== 'information'"
                            class="price-list__table-col price-list__table-col--mobile"
                        >
                            {{ params }}
                        </div>

                        <div
                            v-else
                            class="price-list__table-col price-list__table-col--mobile"
                        >
                            <div
                                v-for="parameter of params"
                                :key="`${paramsKey}-${parameter.key}`"
                                class="price-list__table-parameter"
                            >
                                {{ parameter.key }} : {{ parameter.value }}
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    name: 'PriceList',
    props: {
        filtersRaw: Array,
        prices: Object,
        labels: Object,
    },
    data() {
        return {
            filters: this.filtersRaw,
            key: 'textile',
            title: this.filtersRaw[0].title,
            filtersOpenOnMobile: false,
            windowWidth: 1000,
        };
    },
    mounted() {
        const index = this.filters.findIndex((el) => el.active === true);
        this.key = this.filters[index].key;
        this.windowWidth = window.innerWidth;

        window.addEventListener('resize', this.onResize);
    },
    methods: {
        filterPrices(key, title) {
            this.filtersOpenOnMobile = false;

            this.key = key;
            this.title = title;
            let index = this.filters.findIndex((el) => el.active === true);
            this.filters[index].active = false;

            index = this.filters.findIndex((el) => el.key === key);
            this.filters[index].active = true;
        },
        handleFilters() {
            this.filtersOpenOnMobile = !this.filtersOpenOnMobile;
        },
        onResize() {
            this.windowWidth = window.innerWidth;
        },
    },
};
</script>
