<template>
    <div class="profile-user-data__wrapper">
        <div
            v-if="type === 'company'"
            class="profile-user-data__toggle-container"
        >
            <button
                :class="['toggle', {'toggle--active': showContent}]"
                :title="text.open"
                @click="showContent = !showContent"
            >
                <span class="toggle__title">{{ payViaCompanyText }}</span>
                <span class="toggle__option-tumbler" />
            </button>
        </div>
        <slide-up-down
            :class="[
                'profile-user-data',
                {'profile-user-data--edit': showEditForm},
                {'profile-user-data--company': type === 'company'},
            ]"
            :active="type === 'company' ? showContent : true"
            :duration="350"
        >
            <section class="profile-user-data__content">
                <slide-up-down
                    :active="!showEditForm"
                    :duration="350"
                >
                    <div
                        v-for="(item, index) in userFieldsData"
                        :key="'profile-field-'+'-'+type+'-'+item.name+'-'+index"
                        class="profile-user-data__field-group"
                    >
                        <span class="profile-user-data__field-group-title">
                            {{ __(item.title) }}:
                        </span>
                        <span class="profile-user-data__field-group-value">
                            {{ item.value }}
                        </span>
                    </div>
                </slide-up-down>
                <slide-up-down
                    :class="[
                        'profile-user-data__content-edit',
                        {'profile-user-data__content-edit--show': showEditForm},
                        {'profile-user-data__content-edit--company': type === 'company'},
                    ]"
                    :active="showEditForm"
                    :duration="350"
                >
                    <text-field
                        v-for="(field, fieldIndex) in userFieldsData"
                        :key="'profile-field-'+'-'+type+'-'+field.name+'-'+fieldIndex+'--edit'"
                        :field-data.sync="field"
                        :error="field.error"
                        :error-text="field.validate_text"
                    />
                    <section class="profile-user-data__content-actions">
                        <button
                            type="button"
                            class="profile-user-data__btn btn"
                            :title="text.cancel"
                            :disabled="btnDisabled"
                            @click="closeEditForm"
                        >
                            {{ text.cancel }}
                        </button>
                        <button
                            type="button"
                            class="profile-user-data__btn btn btn--dark"
                            :title="text.save"
                            :disabled="btnDisabled"
                            @click="checkForm"
                        >
                            {{ text.save }}
                        </button>
                    </section>
                </slide-up-down>
            </section>
            <section class="profile-user-data__actions">
                <button
                    v-show="!showEditForm"
                    type="button"
                    class="profile-user-data__edit"
                    @click="openEditForm"
                >
                    {{ text.edit }}
                </button>
            </section>
        </slide-up-down>
    </div>
</template>

<script>
import axios from 'axios';
import SlideUpDown from 'vue-slide-up-down';
import { isEmail, isNumber } from '../../utility/rules.js';
import TextField from '../text-field.vue';

export default {
    name: 'ProfileUserData',
    components: {
        SlideUpDown,
        TextField,
    },
    props: {
        action: String,
        text: Object,
        userFields: Array,
        payViaCompanyText: String,
        type: String,
    },
    data() {
        return {
            userFieldsData: [],
            userFieldsDefault: [],
            realtimeValidation: false,
            successEditing: false,
            showEditForm: false,
            btnDisabled: false,
            showContent: false,
            rules: {
                email: isEmail,
                number: isNumber,
            },
        };
    },
    computed: {
        errorsExists() {
            return Object.values(this.userFieldsData).some((item) => item.error);
        },
    },
    created() {
        this.userFieldsData = JSON.parse(JSON.stringify(this.userFields));
        this.userFieldsDefault = JSON.parse(JSON.stringify(this.userFields));
    },
    methods: {
        openEditForm() {
            this.showEditForm = true;
            this.successEditing = false;
        },
        closeEditForm() {
            this.showEditForm = false;

            if (!this.successEditing) {
                this.userFieldsData = JSON.parse(JSON.stringify(this.userFieldsDefault));
            }
        },
        validateFields() {
            this.userFieldsData.forEach((item) => {
                if (item.required) {
                    item.error = !item.value;
                }
                if (item.value) {
                    if (item.length_value) {
                        item.error = item.value && item.value.length !== item.length_value;
                    }

                    switch (item.validate_rule) {
                    case 'phone': {
                        item.error = !item.value;
                        break;
                    }
                    case 'email': {
                        item.error = !(this.rules.email(item.value));
                        break;
                    }
                    case 'number': {
                        item.error = !(this.rules.number(item.value));
                        break;
                    }
                    default: {
                        const validateRulesArray = item.validate_rule ? item.validate_rule.split(',') : [];
                        let errorsCount = 0;
                        validateRulesArray.forEach((rule) => {
                            const numberRule = rule.match(/number_(\d+)/i);
                            if (numberRule
                                && (!this.rules.number(item.value) || item.value.length !== Number(numberRule[1]))) {
                                errorsCount++;
                            }
                        });

                        if (errorsCount === validateRulesArray.length) {
                            item.error = true;
                        }

                        if (!validateRulesArray.length) {
                            item.error = false;
                        }
                    }
                    }
                }
            });
        },
        checkForm() {
            this.btnDisabled = true;
            this.validateFields();
            this.realtimeValidation = true;

            if (!this.errorsExists) {
                this.sendData();
            } else {
                this.btnDisabled = false;
            }
        },
        sendData() {
            axios.post(this.action, this.userFieldsData)
                .then(() => {
                    this.btnDisabled = false;
                    this.successEditing = true;
                    this.userFieldsDefault = JSON.parse(JSON.stringify(this.userFieldsData));

                    setTimeout(() => {
                        this.closeEditForm();
                    }, 1);
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        alert('Ошибка сети. Пожалуйста, проверьте ваше подключение.');
                    } else {
                        alert(error.message ? error.message : error.response.data.message);
                    }
                });
        },
    },
};
</script>
