<template>
    <section class="profile-address">
        <address-card
            v-for="(address, addressIndex) in addressesData"
            :key="'address-card-'+addressIndex"
            class="profile-address__card"
            :address-data.sync="address"
            :btn-disabled="btnDisabled"
            :text="text"
            :show-actions="true"
            @on-select-default="changeDefaultOption($event)"
            @reset-changes="resetAddressChanges($event)"
            @save-address="saveAddress($event)"
            @rollback="addressRollback"
        />
    </section>
</template>

<script>
import axios from 'axios';
import AddressCard from './address-card.vue';

export default {
    name: 'ProfileAddress',
    components: {
        AddressCard,
    },
    props: {
        saveAction: String,
        deleteAction: String,
        selectDefaultAction: String,
        addressModel: Object,
        addresses: Array,
        text: Object,
    },
    data() {
        return {
            addressesData: [],
            addressesDefault: [],
            btnDisabled: false,
        };
    },
    created() {
        this.addressesInitialization();
        this.checkAddressesCount();
        this.addressIndexing();
    },
    methods: {
        checkAddressesEmpty() {
            if (this.addressesData.length === 0) {
                for (let i = 0; i < 3; i++) {
                    this.addressesData.push(JSON.parse(JSON.stringify(this.addressModel)));
                }
            }
        },
        checkAddressesCount() {
            let addList = [];
            if (this.addressesData.length === 2) {
                addList = [JSON.parse(JSON.stringify(this.addressModel))];
            } else if (this.addressesData.length === 1) {
                addList = [
                    JSON.parse(JSON.stringify(this.addressModel)),
                    JSON.parse(JSON.stringify(this.addressModel)),
                ];
            }
            this.addressesData = this.addressesData.concat(addList);
        },
        addressesInitialization() {
            if (this.addresses.length > 0) {
                this.addressesData = JSON.parse(JSON.stringify(this.addresses));
                this.addressesDefault = JSON.parse(JSON.stringify(this.addresses));
            }
        },
        addressIndexing() {
            for (let i = 0; i < this.addressesData.length; i++) {
                this.addressesData[i].index = i;
            }
        },
        changeDefaultOption(address) {
            this.btnDisabled = true;
            this.addressesData.forEach((item) => {
                if (item.index !== address.index) {
                    item.is_default = false;
                }
            });

            let error = false;

            address.fields.forEach((field) => {
                if (field.required) {
                    error = !field.value;
                }
                if (field.length_value) {
                    error = field.value && field.value.length !== field.length_value;
                }
                if (field.validate_rule && field.validate_rule === 'phone') {
                    error = !field.value;
                }
            });

            if (!error) {
                axios.post(this.selectDefaultAction, address.id)
                    .then(() => {
                        this.btnDisabled = false;
                    })
                    .catch((error) => {
                        this.btnDisabled = false;
                        if (!error.response) {
                            alert('Ошибка сети. Пожалуйста, проверьте ваше подключение.');
                        } else {
                            alert(error.message ? error.message : error.response.data.message);
                        }
                    });
            }
        },
        resetAddressChanges(data) {
            const addressIndex = data.index;
            const addressData = data.data;

            for (let i = 0; i < this.addressesData.length; i++) {
                const address = this.addressesData[i];
                if (address.index === addressIndex) {
                    this.addressesData[i] = JSON.parse(JSON.stringify(addressData));
                }
            }
        },
        saveAddress(address) {
            this.btnDisabled = true;
            axios.post(this.saveAction, address)
                .then((response) => {
                    this.btnDisabled = false;
                    if (response.data.data) {
                        this.addressesData = response.data.data;
                        this.addressesDefault = response.data.data;
                    }

                    this.checkAddressesCount();
                    this.addressIndexing();
                })
                .catch((error) => {
                    this.btnDisabled = false;
                    if (!error.response) {
                        alert('Ошибка сети. Пожалуйста, проверьте ваше подключение.');
                    } else {
                        alert(error.message ? error.message : error.response.data.message);
                    }
                });
        },
        addressRollback() {
            this.addressesData = this.addressesDefault;
            this.checkAddressesEmpty();
            this.checkAddressesCount();
            this.addressIndexing();
        },
    },
};
</script>
